framework/Get Token From Credential.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Credential GOLD Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Credential GOLD Token": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-28T09:51:25.275Z",
  "id": "22",
  "name": "Get Token From Credential",
  "nodes": [
    {
      "parameters": {},
      "id": "1da644f4-491f-4c41-bc70-c8c60b6de074",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        740,
        280
      ]
    },
    {
      "parameters": {
        "command": "=n8n export:credentials --id=17 --decrypted | jq -r '.[].data.value'"
      },
      "id": "ddde6906-8d2b-44d9-a137-3781967a6fce",
      "name": "Get Credential GOLD Token",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "command": "=oc login --token={{ $json[\"stdout\"] }} --server=https://api.gold.devops.gov.bc.ca:6443\noc project bf5ef6-dev\n\n"
      },
      "id": "34a52663-7143-429e-88a9-934275608e24",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1220,
        280
      ]
    },
    {
      "parameters": {
        "command": "=n8n export:credentials --all --decrypted | jq -r '.[] | select(.name | contains(\"OC Login\")).data.value'"
      },
      "id": "92b64380-2466-4e17-bf6e-9ba7971c270e",
      "name": "Get Credential GOLD Token1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        900,
        -40
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-02-28T12:26:43.203Z",
  "versionId": "44811ce6-edf1-4a2b-9512-54da9fdfeef8"
}