framework/N8N Basic Health Check.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "RocketChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RocketChat": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-08T04:04:37.152Z",
  "id": "1",
  "name": "N8N Basic Health Check",
  "nodes": [
    {
      "parameters": {},
      "id": "6695587a-1b37-477d-a14b-c7eda5581525",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/healthz",
        "options": {
          "fullResponse": true
        }
      },
      "id": "b3b08f64-5443-4139-a90c-7dd62a76127b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"statusCode\"]}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "b1aa7509-4166-4647-bd2c-121b92de3d02",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {},
      "id": "92be5063-8963-4f04-b22e-8739e1dc0005",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        80
      ]
    },
    {
      "parameters": {
        "fromEmail": "n8n@gov.bc.ca",
        "toEmail": "roland.stens@gov.bc.ca",
        "subject": "Error Found",
        "text": "=Server: {{$node[\"HTTP Request\"].parameter[\"url\"]}}\nHealth Status: {{$node[\"HTTP Request\"].json[\"body\"][\"status\"]}} \nHTTP Status: {{$node[\"HTTP Request\"].json[\"statusCode\"]}}\n\nDatabase Users: {{$node[\"Postgres\"].json[\"user\"]}}",
        "options": {}
      },
      "id": "afa49cbf-8b3c-44ba-93e6-d8535931b68b",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        960,
        500
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#cypress",
        "text": "= {{$node[\"Send Email\"].parameter[\"subject\"]}}\n\n{{$node[\"Send Email\"].parameter[\"text\"]}}",
        "options": {},
        "attachments": []
      },
      "id": "2908ab0a-7d2e-497a-8101-5f11b8217bf7",
      "name": "RocketChat",
      "type": "n8n-nodes-base.rocketchat",
      "typeVersion": 1,
      "position": [
        960,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "rocketchatApi": {
          "id": "4",
          "name": "Rocket account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "timezone": "America/Los_Angeles",
    "saveExecutionProgress": "DEFAULT"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-02-08T06:06:16.935Z",
      "updatedAt": "2023-02-08T06:06:16.935Z",
      "id": "1",
      "name": "PUT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-02-07T22:07:27.817Z",
  "versionId": "21092e46-f7dd-456e-a025-6e9801f2552d"
}