framework/N8N Basic Health Check.json
[{"json":{"createdAt":"2023-02-08T04:04:37.152Z","updatedAt":"2023-02-07T22:07:27.817Z","id":"1","name":"N8N Basic Health Check","active":false,"nodes":[{"parameters":{},"id":"6695587a-1b37-477d-a14b-c7eda5581525","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[240,300]},{"parameters":{"url":"https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/healthz","options":{"fullResponse":true}},"id":"b3b08f64-5443-4139-a90c-7dd62a76127b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[480,300]},{"parameters":{"conditions":{"number":[{"value1":"={{$node[\"HTTP Request\"].json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"id":"b1aa7509-4166-4647-bd2c-121b92de3d02","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[680,300]},{"parameters":{},"id":"92be5063-8963-4f04-b22e-8739e1dc0005","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1300,80]},{"parameters":{"fromEmail":"n8n@gov.bc.ca","toEmail":"roland.stens@gov.bc.ca","subject":"Error Found","text":"=Server: {{$node[\"HTTP Request\"].parameter[\"url\"]}}\nHealth Status: {{$node[\"HTTP Request\"].json[\"body\"][\"status\"]}} \nHTTP Status: {{$node[\"HTTP Request\"].json[\"statusCode\"]}}\n\nDatabase Users: {{$node[\"Postgres\"].json[\"user\"]}}","options":{}},"id":"afa49cbf-8b3c-44ba-93e6-d8535931b68b","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[960,500],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}},{"parameters":{"channel":"#cypress","text":"= {{$node[\"Send Email\"].parameter[\"subject\"]}}\n\n{{$node[\"Send Email\"].parameter[\"text\"]}}","options":{},"attachments":[]},"id":"2908ab0a-7d2e-497a-8101-5f11b8217bf7","name":"RocketChat","type":"n8n-nodes-base.rocketchat","typeVersion":1,"position":[960,320],"alwaysOutputData":true,"credentials":{"rocketchatApi":{"id":"4","name":"Rocket account"}}}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"NoOp","type":"main","index":0}],[{"node":"Send Email","type":"main","index":0},{"node":"RocketChat","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"RocketChat":{"main":[[{"node":"NoOp","type":"main","index":0}]]}},"settings":{"timezone":"America/Los_Angeles","saveExecutionProgress":"DEFAULT"},"staticData":null,"pinData":{},"versionId":"21092e46-f7dd-456e-a025-6e9801f2552d","triggerCount":0,"tags":[{"createdAt":"2023-02-08T06:06:16.935Z","updatedAt":"2023-02-08T06:06:16.935Z","id":"1","name":"PUT"}]},"pairedItem":{"item":0}},{"json":{"createdAt":"2023-02-08T06:08:46.285Z","updatedAt":"2023-02-10T18:21:13.552Z","id":"3","name":"Artifactory Basic Health Check","active":false,"nodes":[{"parameters":{},"id":"02298cbf-bd88-46a1-a865-1c8ca218241f","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[240,300]},{"parameters":{"url":"https://artifacts.developer.gov.bc.ca/router/api/v1/system/health","options":{"timeout":10000}},"id":"04274721-7408-4823-ad12-16524760ee54","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"router\"][\"message\"] }}","operation":"contains","value2":"OK"}]}},"id":"cb2dbfce-8389-452d-97ff-6e239d54914d","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[680,300]},{"parameters":{},"id":"3cf820df-a75c-49fe-bef0-3cbbecc0627e","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1340,160]},{"parameters":{"channel":"#cypress","text":"={{$node[\"Send Email\"].parameter[\"text\"]}}","options":{},"attachments":[]},"id":"e89fb3aa-e927-436a-a711-a125ab263984","name":"RocketChat","type":"n8n-nodes-base.rocketchat","typeVersion":1,"position":[1140,400],"alwaysOutputData":true,"credentials":{"rocketchatApi":{"id":"4","name":"Rocket account"}}},{"parameters":{"fromEmail":"n8n@gov.bc.ca","toEmail":"roland.stens@gov.bc.ca","subject":"Artifactory Error Found","text":"=Router:\n{{$node[\"HTTP Request\"].json[\"router\"][\"node_id\"]}}: {{$node[\"HTTP Request\"].json[\"router\"][\"state\"]}}\n\nServices:\n{{$node[\"HTTP Request\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"HTTP Request\"].json[\"services\"][0][\"state\"]}}\n{{$node[\"HTTP Request\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"HTTP Request\"].json[\"services\"][1][\"state\"]}}\n{{$node[\"HTTP Request\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"HTTP Request\"].json[\"services\"][2][\"state\"]}}\n{{$node[\"HTTP Request\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"HTTP Request\"].json[\"services\"][3][\"state\"]}}\n{{$node[\"HTTP Request\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"HTTP Request\"].json[\"services\"][4][\"state\"]}}\n{{$node[\"HTTP Request\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"HTTP Request\"].json[\"services\"][5][\"state\"]}}\n{{$node[\"HTTP Request\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"HTTP Request\"].json[\"services\"][6][\"state\"]}}","options":{}},"id":"ec7605be-bd63-45e9-80cd-fd17e4fade29","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[920,400],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"NoOp","type":"main","index":0}],[{"node":"Send Email","type":"main","index":0}]]},"RocketChat":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"RocketChat","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"459f9caf-d8ed-4f83-adbe-3b5680aa585d","triggerCount":0,"tags":[]},"pairedItem":{"item":1}},{"json":{"createdAt":"2023-02-08T06:51:09.555Z","updatedAt":"2023-02-08T01:06:49.272Z","id":"4","name":"OpenShift Queries","active":false,"nodes":[{"parameters":{},"id":"e8698ec4-9eef-4e0e-9d52-e933126bbdb1","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-280,580]},{"parameters":{"command":"oc api-versions \noc api-resources -o wide\n\n\n"},"id":"5e0b5fce-4514-47b5-a44c-5fac6433b72d","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[340,300]},{"parameters":{"triggerTimes":{"item":[{"mode":"everyMinute"}]}},"id":"3a99f1a6-534b-4969-9549-b9b16e8ddea2","name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-260,300]},{"parameters":{"command":"=oc login --token={{$node[\"General Parameters\"].json[\"token\"]}} --server={{$node[\"General Parameters\"].json[\"serverUrl\"]}}"},"id":"a31a3985-e69f-4676-8dd9-9ca62dea8599","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[160,300]},{"parameters":{"values":{"string":[{"name":"token","value":"eyJhbGciOiJSUzI1NiIsImtpZCI6ImgyTm1OX2pKSXVPOUNJNzE5RlNnVHBWVEZ5MFRJc3FqbGxGSV83QUxJTmcifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJiZjVlZjYtdG9vbHMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoiZ2l0aHViLWNpY2QtdG9rZW4tOW1iYjciLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoiZ2l0aHViLWNpY2QiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiI4MjU5ZTY0MC1hYzBmLTRiMWEtYjA5MC02MmE3NWRjMDM0Y2MiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6YmY1ZWY2LXRvb2xzOmdpdGh1Yi1jaWNkIn0.SCiJDGkxDe-86zH0TaL0NePVT83ah5Z2gg4uwEuY3bF0NP1H5zYfa8KkYzHAFD9UFrrS0OpcQNJAPjv3Ujr7fsUjnBKxzCUI_5XBqO9RMxrUPicfLGzrF1cbEv3QpY4n3j7QoJBsufk2_vnuX8bKxmRWidkm8IxH6zrGoRxf4VKGLGhOGg4zUQAjo3T-AOtDgyqWoEUFy32tbIUnCzxZSqyGvcDQGIzeXX1nAu406Y2HTdfTFvkfkbu536CPSEPLXz9hMFo5E_Y-HsokqcHaXnvhYBmcQnOD3MLH1HO-lGkowG6zYMC0wIUkpLeJkCJI1594f3dxNpr4rAV95_B29A"},{"name":"serverUrl","value":"https://api.gold.devops.gov.bc.ca:6443"}]},"options":{"dotNotation":false}},"id":"94854965-9162-44d3-8fab-8f85aa064c0e","name":"General Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[-20,300]},{"parameters":{"command":"oc logout"},"id":"9ef2e1c8-7f66-4792-b36c-b45ae7d8797b","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1060,300]},{"parameters":{"functionCode":"return [{json: {\"data\" : $json[\"stdout\"].split(/\\r?\\n/)}}]"},"name":"Split by Newline1","type":"n8n-nodes-base.function","typeVersion":1,"position":[520,300],"id":"16884162-1de0-4df7-a134-3d8ec2a46a7a"},{"parameters":{"fieldToSplitOut":"data","options":{}},"name":"Item List Data1","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[700,300],"id":"ffa005a5-30f2-4bf7-b890-436368fc5405"}],"connections":{"Execute Command":{"main":[[{"node":"Split by Newline1","type":"main","index":0}]]},"Cron":{"main":[[{"node":"General Parameters","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"General Parameters":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"Start":{"main":[[{"node":"General Parameters","type":"main","index":0}]]},"Split by Newline1":{"main":[[{"node":"Item List Data1","type":"main","index":0}]]},"Item List Data1":{"main":[[{"node":"OC Logout","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"936615de-d4f2-4f0b-97ad-2cb4bf9e6c7f","triggerCount":0,"tags":[]},"pairedItem":{"item":2}},{"json":{"createdAt":"2023-02-08T09:07:23.845Z","updatedAt":"2023-02-08T01:57:56.311Z","id":"5","name":"Postgres Check","active":false,"nodes":[{"parameters":{},"id":"e5cb28b8-bc27-405f-9119-91b98ebe28bc","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[240,300]},{"parameters":{"values":{"string":[{"name":"token","value":"eyJhbGciOiJSUzI1NiIsImtpZCI6ImgyTm1OX2pKSXVPOUNJNzE5RlNnVHBWVEZ5MFRJc3FqbGxGSV83QUxJTmcifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJiZjVlZjYtdG9vbHMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoiZ2l0aHViLWNpY2QtdG9rZW4tOW1iYjciLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoiZ2l0aHViLWNpY2QiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiI4MjU5ZTY0MC1hYzBmLTRiMWEtYjA5MC02MmE3NWRjMDM0Y2MiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6YmY1ZWY2LXRvb2xzOmdpdGh1Yi1jaWNkIn0.SCiJDGkxDe-86zH0TaL0NePVT83ah5Z2gg4uwEuY3bF0NP1H5zYfa8KkYzHAFD9UFrrS0OpcQNJAPjv3Ujr7fsUjnBKxzCUI_5XBqO9RMxrUPicfLGzrF1cbEv3QpY4n3j7QoJBsufk2_vnuX8bKxmRWidkm8IxH6zrGoRxf4VKGLGhOGg4zUQAjo3T-AOtDgyqWoEUFy32tbIUnCzxZSqyGvcDQGIzeXX1nAu406Y2HTdfTFvkfkbu536CPSEPLXz9hMFo5E_Y-HsokqcHaXnvhYBmcQnOD3MLH1HO-lGkowG6zYMC0wIUkpLeJkCJI1594f3dxNpr4rAV95_B29A"},{"name":"serverUrl","value":"https://api.gold.devops.gov.bc.ca:6443"}]},"options":{"dotNotation":false}},"id":"cdfcd671-d810-43d0-8f4f-bfe9cf69b146","name":"General Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[420,480]},{"parameters":{"command":"=oc login --token={{$node[\"General Parameters\"].json[\"token\"]}} --server={{$node[\"General Parameters\"].json[\"serverUrl\"]}}"},"id":"cfbd791e-91ac-4582-ba35-c56bbaa3da20","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[640,480]},{"parameters":{"command":"oc logout"},"id":"afd33ccb-2cf5-435c-99b5-b1b24c4707e5","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1060,480]},{"parameters":{"command":"oc project bf5ef6-dev\noc rsh $(oc get pods -o name --selector name=postgresql-n8n) /usr/libexec/check-container\n"},"id":"513add89-ab52-4a82-8305-084c2a9dfc8f","name":"Postgres health check","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[860,480]},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS dummy_table(name varchar(20), value int);\nINSERT INTO dummy_table values('platypus',1);\nSELECT COUNT(*) FROM dummy_table WHERE name='platypus';\n","additionalFields":{}},"id":"e708a012-215c-4ce1-8389-2ddcbec3e013","name":"Postgres Test","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[420,300],"credentials":{"postgres":{"id":"2","name":"Postgres account"}}},{"parameters":{"conditions":{"number":[{"value1":"={{$node[\"Postgres Test\"].json[\"count\"]}}","operation":"larger"}]}},"id":"f7b371ab-6fe3-4e5b-9084-8e7b8b24fe3f","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[640,300]},{"parameters":{"operation":"executeQuery","query":"DELETE FROM dummy_table WHERE name='platypus';\nDROP TABLE dummy_table;\n","additionalFields":{}},"id":"ce776882-03e2-4edb-812b-adc9f34bfff2","name":"Postgres Delete Table","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[980,40],"credentials":{"postgres":{"id":"2","name":"Postgres account"}}},{"parameters":{},"id":"cf69a14b-cc11-4579-993c-e168f8a0dd27","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1260,300]},{"parameters":{"fromEmail":"roland.stens@gov.bc.ca","toEmail":"roland.stens@gmail.com","subject":"Database Problem - XXXX in Server Gold NameSpace YYYY","text":"No valid DB entries found in Canary database.\nCanary could not talk to the Patroni cluster.","options":{}},"id":"de4d4770-7641-4ed7-8bbc-f4eda0e65984","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[860,300],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}}],"connections":{"Start":{"main":[[{"node":"General Parameters","type":"main","index":0},{"node":"Postgres Test","type":"main","index":0}]]},"General Parameters":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Postgres health check","type":"main","index":0}]]},"Postgres health check":{"main":[[{"node":"OC Logout","type":"main","index":0}]]},"Postgres Test":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Postgres Delete Table","type":"main","index":0}],[{"node":"Send Email","type":"main","index":0}]]},"Postgres Delete Table":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Postgres Delete Table","type":"main","index":0}]]},"OC Logout":{"main":[[{"node":"NoOp","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"38cf0de2-5fb2-4bd8-ae1e-eb1eb5bb0722","triggerCount":0,"tags":[]},"pairedItem":{"item":3}},{"json":{"createdAt":"2023-02-09T01:02:56.017Z","updatedAt":"2023-02-08T23:10:59.496Z","id":"6","name":"Run Cypress Tests","active":false,"nodes":[{"parameters":{},"id":"9c978857-3a70-462c-9f99-7bafe5c5bffd","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-1860,-20]},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","requestMethod":"POST","url":"=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/dispatches","options":{"timeout":2000},"bodyParametersUi":{"parameter":[{"name":"event_type","value":"={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}"}]},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"Content-Type","value":"application/json"}]}},"id":"474ccac9-d996-462d-8d5f-b8582c9f510b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1540,-20],"alwaysOutputData":true,"executeOnce":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Check for Error\"].json[\"stdout\"]}}","operation":"isNotEmpty"}]}},"id":"5f1bfb76-700e-469f-aa74-3f01ddcd492a","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-60,240]},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","url":"=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/actions/workflows","options":{},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]}},"id":"197891da-11cf-4f71-a9c0-e91c594d56b0","name":"Get Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1400,-20],"alwaysOutputData":true,"executeOnce":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"values":{"string":[{"name":"workFlow","value":"e2e-simple"},{"name":"repoOwner","value":"bcgov"},{"name":"repoName","value":"automated-testing"}]},"options":{}},"id":"d5d50a4b-ea90-4f06-bc0d-c749d9b4b120","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1700,-20]},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","url":"=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/actions/workflows/{{$node[\"Get Workflows\"].json[\"workflows\"][1][\"id\"]}}/runs","options":{},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]}},"id":"1756438c-c530-4246-b5c8-48f270b93900","name":"Get Workflows Runs","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1160,0],"alwaysOutputData":true,"executeOnce":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","url":"=https://api.github.com/repos/{{$node[\"Set\"].json[\"repoOwner\"]}}/{{$node[\"Set\"].json[\"repoName\"]}}/actions/runs/{{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"id\"]}}/logs","responseFormat":"file","options":{},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]}},"id":"3a1d843a-2b90-4bfb-bab0-49653f216aef","name":"Get Run Log","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-760,240],"alwaysOutputData":true,"executeOnce":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{},"id":"56170ca2-2fa5-4bab-bd32-ae8facff3e52","name":"Unzip Log","type":"n8n-nodes-base.compression","typeVersion":1,"position":[-600,240]},{"parameters":{"fileName":"/data/log.txt","dataPropertyName":"=file_1"},"id":"ac9ac2ee-79e1-44b6-8116-fc8ac30f16ca","name":"Store Log","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[-440,240]},{"parameters":{"command":"cat /data/log.txt | grep error]Cypress\n"},"id":"a7bdfb7f-ddb9-4c88-816e-6e47d59e5249","name":"Check for Error","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-260,240],"executeOnce":true,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{},"id":"11617535-e78d-447f-8e08-decbc961f4ad","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[260,580]},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"status\"]}}","value2":"completed"}]}},"id":"530fd6a6-01c4-4af3-9bc9-1dfc24bb4647","name":"Has Run Completed?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1000,0]},{"parameters":{"fromEmail":"n8n@gov.bc.ca","toEmail":"roland.stens@gmail.com","subject":"Cypress Test Failed","text":"=The following Cypress Test in https://github.com/{{$node[\"Set\"].json[\"repoOwner\"]}}/{{$node[\"Set\"].json[\"repoName\"]}} failed: {{$node[\"Set\"].json[\"workFlow\"]}}\nThe test run can be reviewed here: {{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"html_url\"]}}","options":{}},"id":"4edbce78-e269-4049-9412-b042230c8dd0","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[140,220],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}},{"parameters":{"command":"rm /data/log.txt\n"},"id":"2c0379e9-8fbb-4b1d-b297-d4b89bf31ea0","name":"Clean Up log file","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-60,380],"executeOnce":true,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"amount":20,"unit":"seconds"},"id":"c00f43ce-1015-46a7-bdc3-16981b555a55","name":"Wait 20 Secs","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-1260,220],"webhookId":"f32a2d50-1ca4-486a-aff6-a183ca3e2ec0"}],"connections":{"Start":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Wait 20 Secs","type":"main","index":0}]]},"Get Workflows Runs":{"main":[[{"node":"Has Run Completed?","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Get Run Log":{"main":[[{"node":"Unzip Log","type":"main","index":0}]]},"Unzip Log":{"main":[[{"node":"Store Log","type":"main","index":0}]]},"Store Log":{"main":[[{"node":"Check for Error","type":"main","index":0}]]},"Check for Error":{"main":[[{"node":"IF","type":"main","index":0},{"node":"Clean Up log file","type":"main","index":0}]]},"Has Run Completed?":{"main":[[{"node":"Get Run Log","type":"main","index":0}],[{"node":"Wait 20 Secs","type":"main","index":0}]]},"IF":{"main":[[{"node":"Send Email","type":"main","index":0}],[{"node":"NoOp","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Clean Up log file":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Wait 20 Secs":{"main":[[{"node":"Get Workflows Runs","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"ac1cca6d-8b96-491a-9b0b-a6e363ccc009","triggerCount":0,"tags":[]},"pairedItem":{"item":4}},{"json":{"createdAt":"2023-02-09T04:26:59.628Z","updatedAt":"2023-02-09T18:40:13.978Z","id":"7","name":"Master","active":false,"nodes":[{"parameters":{},"id":"38f97112-9f2f-4239-bd73-6bea1d9594a6","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-360,500]},{"parameters":{"workflowId":"1"},"id":"b764e3d3-1add-43e8-8e5f-496b839a8f60","name":"N8N","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,320]},{"parameters":{"workflowId":"3"},"id":"7e9d7913-9684-4877-bca8-a038bd6ffdf9","name":"Artifactory","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,460]},{"parameters":{"workflowId":"5"},"id":"c5d13474-8dd4-4f6a-99fc-62de30455a7d","name":"Postgres","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,600]},{"parameters":{"workflowId":"6"},"id":"3c0e9bbc-07ab-4aeb-8730-dd78435d2624","name":"Cypress","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,740]},{"parameters":{},"id":"24987ff7-b496-43fa-8d62-ef69bd914f27","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[200,660]},{"parameters":{},"id":"92abb885-b7a9-4367-aeb6-55707081afdd","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[200,420]},{"parameters":{},"id":"0a431abf-4b1c-40f6-8275-4be13f833b22","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2,"position":[380,520]},{"parameters":{},"id":"9841c131-1ee6-4587-bc17-fd4797465ba2","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[600,520]}],"connections":{"Start":{"main":[[{"node":"N8N","type":"main","index":0},{"node":"Artifactory","type":"main","index":0},{"node":"Postgres","type":"main","index":0},{"node":"Cypress","type":"main","index":0}]]},"Cypress":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Postgres":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Artifactory":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"N8N":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"NoOp","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"eeeebde9-9c45-4a0f-a187-c10cf722c030","triggerCount":0,"tags":[]},"pairedItem":{"item":5}},{"json":{"createdAt":"2023-02-09T09:17:30.381Z","updatedAt":"2023-02-11T01:25:53.339Z","id":"8","name":"nsx-net-test","active":false,"nodes":[{"parameters":{},"id":"acf525bc-0102-4963-8e2c-94c0f20f0ba1","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-400,300]},{"parameters":{"values":{"string":[{"name":"nameSpace","value":"ce9012"},{"name":"osToken"},{"name":"serverUrl","value":"=https://api.{{$parameter[\"values\"][\"string\"][3][\"value\"]}}.devops.gov.bc.ca:6443"},{"name":"clusterName","value":"klab2"}]},"options":{}},"id":"e7f5b098-30d8-44eb-bfeb-b93764b691c7","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[-220,300]},{"parameters":{"command":"=oc login --token={{$node[\"Set\"].json[\"osToken\"]}}  --server={{$node[\"Set\"].json[\"serverUrl\"]}}"},"id":"2d25f646-de3c-4a48-b4ab-f02ae2f426ec","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[100,300]},{"parameters":{"command":"=cd /data/platform-tools/nsx-net-test\n\nP={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}\nfor N in tools dev test prod; do\n  oc -n \"${P}-${N}\" delete all,cm,netpol,rolebindings,secrets,sa,policy -l advsol-app=nsx-net-test\ndone\noc process -f app.yaml -p PROJECT={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}| oc apply -f -\noc process -f run-test.yaml -p PROJECT={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}ce9012 -p CLUSTER={{$node[\"Set\"].parameter[\"values\"][\"string\"][3][\"value\"]}} | oc create -f -"},"id":"add505c3-a395-4097-ab27-c17dcb753f2a","name":"Run Test","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[260,300]},{"parameters":{"command":"rm -rf platform-tools\n\n\n\n"},"id":"8c313f49-1929-4e43-9378-4d34a858f97d","name":"Clean Repo Files","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[420,300]},{"parameters":{"authentication":"gitPassword","operation":"clone","repositoryPath":"/data/platform-tools","sourceRepository":"https://github.com/bcgov-c/platform-tools.git"},"id":"7a0ca881-f135-4e3a-b524-29bcf5e1cc93","name":"Git","type":"n8n-nodes-base.git","typeVersion":1,"position":[-60,300],"credentials":{"gitPassword":{"id":"7","name":"Git BCGOV"}}}],"connections":{"Start":{"main":[[{"node":"Set","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Run Test","type":"main","index":0}]]},"Set":{"main":[[{"node":"Git","type":"main","index":0}]]},"Run Test":{"main":[[{"node":"Clean Repo Files","type":"main","index":0}]]},"Git":{"main":[[{"node":"OC Login","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"16ba9911-8d3a-4181-b839-b8955f079547","triggerCount":0,"tags":[{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"}]},"pairedItem":{"item":6}},{"json":{"createdAt":"2023-02-14T05:28:28.752Z","updatedAt":"2023-02-14T05:54:34.275Z","id":"10","name":"Backup workflows to GitHub","active":false,"nodes":[{"parameters":{"resource":"file","operation":"edit","owner":"YOUR_USERNAME","repository":"REPO_NAME","filePath":"={{$json[\"data\"][\"name\"]}}.json","fileContent":"={{JSON.stringify($json[\"data\"])}}","commitMessage":"=[N8N Backup] {{$json.data[\"name\"]}} ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[1590,550],"typeVersion":1,"id":"421ac8cb-fb1a-4216-b7e5-f67d7e86c342","credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"resource":"file","operation":"get","owner":"={{ $json.repoOwner }}","repository":"={{ $json.repoName }}","filePath":"/framework","asBinaryProperty":false,"additionalParameters":{}},"name":"Get Files","type":"n8n-nodes-base.github","position":[600,440],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"eadd907e-4c6c-4598-9934-d03713df0c78","credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"resource":"file","owner":"YOUR_USERNAME","repository":"REPO","filePath":"={{$json[\"data\"][\"name\"]}}.json","fileContent":"={{JSON.stringify($node['Merge'].json[\"data\"])}}","commitMessage":"=[N8N Backup] {{$json.data[\"name\"]}}.json ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file","type":"n8n-nodes-base.github","position":[1640,220],"typeVersion":1,"id":"df1b132e-04c7-4142-8654-df5567fefb8a","credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.name","propertyName2":"data.name"},"name":"Merge","type":"n8n-nodes-base.merge","position":[1330,220],"typeVersion":1,"id":"f7482d6c-985c-4679-a88d-d6dfa1996ef8"},{"parameters":{"authentication":"basicAuth","url":"https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/rest/workflows","allowUnauthorizedCerts":true,"options":{"fullResponse":false},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/json"}]}},"name":"Get workflows","type":"n8n-nodes-base.httpRequest","position":[600,240],"typeVersion":1,"id":"1f600b1b-35b8-40e7-a9ba-f78718e4d93c","credentials":{"httpBasicAuth":{"id":"8","name":"N8N Local"}}},{"parameters":{"authentication":"basicAuth","url":"=http://localhost:5678/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"Get workflow data","type":"n8n-nodes-base.httpRequest","position":[1000,240],"typeVersion":1,"id":"5fb284b5-4bae-48d5-abaa-ce7347dc0def","credentials":{"httpBasicAuth":{"id":"8","name":"N8N Local"}}},{"parameters":{"authentication":"headerAuth","url":"={{$json[\"download_url\"]}}","responseFormat":"string","options":{}},"name":"Download Raw Content","type":"n8n-nodes-base.httpRequest","position":[1000,440],"typeVersion":1,"id":"4b4e652f-6aa9-448c-a83d-c53543865ba5","credentials":{"httpHeaderAuth":{"id":"9","name":"Header Auth account"}}},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"transform","type":"n8n-nodes-base.function","position":[790,240],"typeVersion":1,"id":"dc3464b8-2c20-4898-995d-35c3db488cec"},{"parameters":{"triggerTimes":{"item":[{"hour":23,"minute":59}]}},"name":"Daily at 23:59","type":"n8n-nodes-base.cron","position":[240,240],"typeVersion":1,"id":"044a8561-ea50-468a-8506-e90896396709"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.updatedAt","propertyName2":"data.updatedAt"},"name":"Merge1","type":"n8n-nodes-base.merge","position":[1370,550],"typeVersion":1,"id":"249eb1d3-8c93-433a-97ea-3042125fca48"},{"parameters":{"values":{"string":[{"name":"repoOwner","value":"bcgov"},{"name":"repoName","value":"put"}]},"options":{}},"id":"d64157f4-8b43-45c0-b2c0-c0311e45d9c2","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[420,240]}],"connections":{"Merge":{"main":[[{"node":"Create file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"Get Files":{"main":[[{"node":"Download Raw Content","type":"main","index":0}]]},"transform":{"main":[[{"node":"Get workflow data","type":"main","index":0}]]},"Get workflows":{"main":[[{"node":"transform","type":"main","index":0}]]},"Daily at 23:59":{"main":[[{"node":"Set","type":"main","index":0}]]},"Get workflow data":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Download Raw Content":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]},"Set":{"main":[[{"node":"Get workflows","type":"main","index":0},{"node":"Get Files","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"ec76ed36-5746-4d03-a26c-7d68b0a4de68","triggerCount":0,"tags":[]},"pairedItem":{"item":7}}]