framework/OpenShift Queries.json
{
  "active": false,
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Split by Newline1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Parameters": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Newline1": {
      "main": [
        [
          {
            "node": "Item List Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Data1": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-08T06:51:09.555Z",
  "id": "4",
  "name": "OpenShift Queries",
  "nodes": [
    {
      "parameters": {},
      "id": "e8698ec4-9eef-4e0e-9d52-e933126bbdb1",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -280,
        580
      ]
    },
    {
      "parameters": {
        "command": "oc api-versions \noc api-resources -o wide\n\n\n"
      },
      "id": "5e0b5fce-4514-47b5-a44c-5fac6433b72d",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "3a99f1a6-534b-4969-9549-b9b16e8ddea2",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -260,
        300
      ]
    },
    {
      "parameters": {
        "command": "=oc login --token={{$node[\"General Parameters\"].json[\"token\"]}} --server={{$node[\"General Parameters\"].json[\"serverUrl\"]}}"
      },
      "id": "a31a3985-e69f-4676-8dd9-9ca62dea8599",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        160,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "token",
              "value": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImgyTm1OX2pKSXVPOUNJNzE5RlNnVHBWVEZ5MFRJc3FqbGxGSV83QUxJTmcifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJiZjVlZjYtdG9vbHMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoiZ2l0aHViLWNpY2QtdG9rZW4tOW1iYjciLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoiZ2l0aHViLWNpY2QiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiI4MjU5ZTY0MC1hYzBmLTRiMWEtYjA5MC02MmE3NWRjMDM0Y2MiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6YmY1ZWY2LXRvb2xzOmdpdGh1Yi1jaWNkIn0.SCiJDGkxDe-86zH0TaL0NePVT83ah5Z2gg4uwEuY3bF0NP1H5zYfa8KkYzHAFD9UFrrS0OpcQNJAPjv3Ujr7fsUjnBKxzCUI_5XBqO9RMxrUPicfLGzrF1cbEv3QpY4n3j7QoJBsufk2_vnuX8bKxmRWidkm8IxH6zrGoRxf4VKGLGhOGg4zUQAjo3T-AOtDgyqWoEUFy32tbIUnCzxZSqyGvcDQGIzeXX1nAu406Y2HTdfTFvkfkbu536CPSEPLXz9hMFo5E_Y-HsokqcHaXnvhYBmcQnOD3MLH1HO-lGkowG6zYMC0wIUkpLeJkCJI1594f3dxNpr4rAV95_B29A"
            },
            {
              "name": "serverUrl",
              "value": "https://api.gold.devops.gov.bc.ca:6443"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "94854965-9162-44d3-8fab-8f85aa064c0e",
      "name": "General Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -20,
        300
      ]
    },
    {
      "parameters": {
        "command": "oc logout"
      },
      "id": "9ef2e1c8-7f66-4792-b36c-b45ae7d8797b",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json: {\"data\" : $json[\"stdout\"].split(/\\r?\\n/)}}]"
      },
      "name": "Split by Newline1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        300
      ],
      "id": "16884162-1de0-4df7-a134-3d8ec2a46a7a"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "name": "Item List Data1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "ffa005a5-30f2-4bf7-b890-436368fc5405"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-02-08T01:06:49.272Z",
  "versionId": "936615de-d4f2-4f0b-97ad-2cb4bf9e6c7f"
}