framework/Patroni CLAB.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "OC Login CLAB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Port Forward Crunchy": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Port Forward HELM": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login CLAB": {
      "main": [
        [
          {
            "node": "Set Port Forward HELM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Port Forward Crunchy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Port Forward Patroni",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Port Forward Patroni": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params2": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params1": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-19T08:37:17.480Z",
  "id": "14",
  "name": "Patroni CLAB",
  "nodes": [
    {
      "parameters": {},
      "id": "61576b2e-b545-4738-adb1-ef7fd48eaf37",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table IF NOT EXISTS lat_longs  (   c1 bigint generated always as identity,   c2 float );  \n\ninsert into lat_longs(c2) select random() * 100 from generate_series(1,10e3) as g(id);  commit;  \n\nselect count(*) from lat_longs;\n\ndrop table lat_longs;",
        "additionalFields": {}
      },
      "id": "ffb116c2-3044-401d-be77-a8c0b599fa47",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        380,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "14",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table IF NOT EXISTS lat_longs  (   c1 bigint generated always as identity,   c2 float );  \n\ninsert into lat_longs(c2) select random() * 100 from generate_series(1,10e3) as g(id);  \n\ncommit;  \n\nselect count(*) from lat_longs;\n\ndrop table lat_longs;",
        "additionalFields": {}
      },
      "id": "8f16dbe8-cd5d-45d9-8f60-270cfcfecccf",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        380,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "15",
          "name": "Postgres Crunchy"
        }
      }
    },
    {
      "parameters": {
        "command": "nohup oc --namespace e31b6b-dev port-forward service/hippo-pgbouncer 15436:5432 > /dev/null 2>&1 & "
      },
      "id": "4286780a-a7ea-4256-bcca-1a7045c42a0c",
      "name": "Set Port Forward Crunchy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        160,
        380
      ]
    },
    {
      "parameters": {
        "command": "export PODNAME=$(oc get pods --namespace e31b6b-dev -l \"app.kubernetes.io/name=patroni,app.kubernetes.io/instance=test-patroni-instance\" -o jsonpath=\"{.items[0].metadata.name}\") \n\nexport CONTAINERPORT=$(oc get pod --namespace e31b6b-dev $PODNAME -o jsonpath=\"{.spec.containers[0].ports[0].containerPort}\")  \n\necho $PODNAME\necho $CONTAINERPORT\n\nnohup oc --namespace e31b6b-dev port-forward $PODNAME 8432:$CONTAINER_PORT > /dev/null 2>&1 & "
      },
      "id": "9349cfc2-dddc-4601-9f0e-cd0365476b91",
      "name": "Set Port Forward HELM",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        160,
        220
      ]
    },
    {
      "parameters": {
        "command": "oc login --token=$CLAB_TOKEN --server=https://api.clab.devops.gov.bc.ca:6443\n\n"
      },
      "id": "e1b672c7-bb08-4d71-b3f5-31ba967d8cb9",
      "name": "OC Login CLAB",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -20,
        220
      ]
    },
    {
      "parameters": {
        "command": "nohup oc port-forward $(oc -n e31b6b-dev get pods -o name --selector role=master,cluster-name=patroni-reference) 15433:5432 > /dev/null 2>&1 & "
      },
      "id": "c28cbdb8-30fd-4b7e-9172-02f4bd8cd056",
      "name": "Set Port Forward Patroni",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        160,
        60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table IF NOT EXISTS lat_longs  (   c1 bigint generated always as identity,   c2 float );  \n\ninsert into lat_longs(c2) select random() * 100 from generate_series(1,10e3) as g(id);  commit;  \n\nselect count(*) from lat_longs;\n\ndrop table lat_longs;",
        "additionalFields": {}
      },
      "id": "a1920eff-62d0-4713-a245-d73ab6c7d6e7",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        380,
        60
      ],
      "credentials": {
        "postgres": {
          "id": "13",
          "name": "Patroni (Reference)"
        }
      }
    },
    {
      "parameters": {},
      "id": "130c3cd7-0fa6-40d1-affd-c7a7461125de",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        180
      ]
    },
    {
      "parameters": {
        "command": "oc logout"
      },
      "id": "e097f0f5-3adb-4897-8764-d06c0e4b9a77",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1160,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "10000"
            }
          ]
        }
      },
      "id": "78c58cb7-6ea5-4f0e-8911-c0ed0faa0697",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#cypress"
            },
            {
              "name": "rcMessage",
              "value": "Patroni (HELM) Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "roland.stens@gmail.com"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Patroni (HELM) Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "1141d9d6-25b8-4a4c-bf13-f28e5cf7437a",
      "name": "Set Message Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        840,
        220
      ]
    },
    {
      "parameters": {
        "workflowId": "17"
      },
      "id": "a7e74356-eecd-467c-9420-ecb426a5e3c7",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "10000"
            }
          ]
        }
      },
      "id": "399918a8-c810-4a63-828e-afa15acdf272",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "10000"
            }
          ]
        }
      },
      "id": "6662a51f-02a9-4e04-b54d-212dcb79eed8",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#cypress"
            },
            {
              "name": "rcMessage",
              "value": "Patroni (Reference) Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "roland.stens@gmail.com"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Patroni (Reference) Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "7808345b-0dfc-4b5e-bb7b-8a2468291595",
      "name": "Set Message Params1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        840,
        -20
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#cypress"
            },
            {
              "name": "rcMessage",
              "value": "Crunchy Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "roland.stens@gmail.com"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Crunchy Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "193f62d0-58f8-498c-a69d-0a8e5bf4392c",
      "name": "Set Message Params2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        840,
        380
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-02-25T02:07:35.632Z",
      "updatedAt": "2023-02-25T02:07:35.632Z",
      "id": "3",
      "name": "Test"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-02-25T02:09:03.352Z",
  "versionId": "0a442961-e6d5-4b9f-99b1-ea190b6dda84"
}