framework/Patroni Test (HELM).json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Postgres Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Test": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Postgres Delete Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Delete Table": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Postgres Delete Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-08T09:07:23.845Z",
  "id": "5",
  "name": "Patroni Test (HELM)",
  "nodes": [
    {
      "parameters": {},
      "id": "e5cb28b8-bc27-405f-9119-91b98ebe28bc",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table IF NOT EXISTS lat_longs \n(\n  c1 bigint generated always as identity,\n  c2 float\n);\n\ninsert into lat_longs(c2)\nselect random() * 100\nfrom generate_series(1,10000) as g(id);\n\nselect count(*) from lat_longs;",
        "additionalFields": {}
      },
      "id": "e708a012-215c-4ce1-8389-2ddcbec3e013",
      "name": "Postgres Test",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "12",
          "name": "Patroni (HELM)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "f7b371ab-6fe3-4e5b-9084-8e7b8b24fe3f",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "truncate TABLE lat_longs;",
        "additionalFields": {}
      },
      "id": "ce776882-03e2-4edb-812b-adc9f34bfff2",
      "name": "Postgres Delete Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        980,
        40
      ],
      "credentials": {
        "postgres": {
          "id": "12",
          "name": "Patroni (HELM)"
        }
      }
    },
    {
      "parameters": {},
      "id": "cf69a14b-cc11-4579-993c-e168f8a0dd27",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "roland.stens@gov.bc.ca",
        "toEmail": "roland.stens@gmail.com",
        "subject": "=Database Problem - XXXX in Server Gold NameSpace YYYY",
        "text": "No valid DB entries found in Canary database.\nCanary could not talk to the Patroni cluster.",
        "options": {}
      },
      "id": "de4d4770-7641-4ed7-8bbc-f4eda0e65984",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-02-24T03:03:04.991Z",
  "versionId": "23fa4554-4fe6-4c48-846b-3bba1d1ba7af"
}