framework/Postgres Check.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Parameters": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Postgres health check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres health check": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Test": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Postgres Delete Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Delete Table": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Postgres Delete Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-08T09:07:23.845Z",
  "id": "5",
  "name": "Postgres Check",
  "nodes": [
    {
      "parameters": {},
      "id": "e5cb28b8-bc27-405f-9119-91b98ebe28bc",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "token",
              "value": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImgyTm1OX2pKSXVPOUNJNzE5RlNnVHBWVEZ5MFRJc3FqbGxGSV83QUxJTmcifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJiZjVlZjYtdG9vbHMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoiZ2l0aHViLWNpY2QtdG9rZW4tOW1iYjciLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoiZ2l0aHViLWNpY2QiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiI4MjU5ZTY0MC1hYzBmLTRiMWEtYjA5MC02MmE3NWRjMDM0Y2MiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6YmY1ZWY2LXRvb2xzOmdpdGh1Yi1jaWNkIn0.SCiJDGkxDe-86zH0TaL0NePVT83ah5Z2gg4uwEuY3bF0NP1H5zYfa8KkYzHAFD9UFrrS0OpcQNJAPjv3Ujr7fsUjnBKxzCUI_5XBqO9RMxrUPicfLGzrF1cbEv3QpY4n3j7QoJBsufk2_vnuX8bKxmRWidkm8IxH6zrGoRxf4VKGLGhOGg4zUQAjo3T-AOtDgyqWoEUFy32tbIUnCzxZSqyGvcDQGIzeXX1nAu406Y2HTdfTFvkfkbu536CPSEPLXz9hMFo5E_Y-HsokqcHaXnvhYBmcQnOD3MLH1HO-lGkowG6zYMC0wIUkpLeJkCJI1594f3dxNpr4rAV95_B29A"
            },
            {
              "name": "serverUrl",
              "value": "https://api.gold.devops.gov.bc.ca:6443"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "cdfcd671-d810-43d0-8f4f-bfe9cf69b146",
      "name": "General Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        480
      ]
    },
    {
      "parameters": {
        "command": "=oc login --token={{$node[\"General Parameters\"].json[\"token\"]}} --server={{$node[\"General Parameters\"].json[\"serverUrl\"]}}"
      },
      "id": "cfbd791e-91ac-4582-ba35-c56bbaa3da20",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        640,
        480
      ]
    },
    {
      "parameters": {
        "command": "oc logout"
      },
      "id": "afd33ccb-2cf5-435c-99b5-b1b24c4707e5",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1060,
        480
      ]
    },
    {
      "parameters": {
        "command": "oc project bf5ef6-dev\noc rsh $(oc get pods -o name --selector name=postgresql-n8n) /usr/libexec/check-container\n"
      },
      "id": "513add89-ab52-4a82-8305-084c2a9dfc8f",
      "name": "Postgres health check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS dummy_table(name varchar(20), value int);\nINSERT INTO dummy_table values('platypus',1);\nSELECT COUNT(*) FROM dummy_table WHERE name='platypus';\n",
        "additionalFields": {}
      },
      "id": "e708a012-215c-4ce1-8389-2ddcbec3e013",
      "name": "Postgres Test",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Postgres Test\"].json[\"count\"]}}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "f7b371ab-6fe3-4e5b-9084-8e7b8b24fe3f",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM dummy_table WHERE name='platypus';\nDROP TABLE dummy_table;\n",
        "additionalFields": {}
      },
      "id": "ce776882-03e2-4edb-812b-adc9f34bfff2",
      "name": "Postgres Delete Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        980,
        40
      ],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cf69a14b-cc11-4579-993c-e168f8a0dd27",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "roland.stens@gov.bc.ca",
        "toEmail": "roland.stens@gmail.com",
        "subject": "Database Problem - XXXX in Server Gold NameSpace YYYY",
        "text": "No valid DB entries found in Canary database.\nCanary could not talk to the Patroni cluster.",
        "options": {}
      },
      "id": "de4d4770-7641-4ed7-8bbc-f4eda0e65984",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-02-08T01:57:56.311Z",
  "versionId": "38cf0de2-5fb2-4bd8-ae1e-eb1eb5bb0722"
}