framework/Report Error (to be called).json
{
  "active": false,
  "connections": {
    "Send Email": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RocketChat": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "RocketChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-23T05:33:52.131Z",
  "id": "17",
  "name": "Report Error (to be called)",
  "nodes": [
    {
      "parameters": {},
      "id": "767bf3f7-842a-462d-ab8a-3f2b18ca6d36",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        320
      ]
    },
    {
      "parameters": {
        "channel": "={{ $json.rcChannel }}",
        "text": "={{ $json.rcMessage }}",
        "options": {},
        "attachments": []
      },
      "id": "a6f21027-0b68-494b-b22f-913e086a5ec5",
      "name": "RocketChat",
      "type": "n8n-nodes-base.rocketchat",
      "typeVersion": 1,
      "position": [
        520,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "rocketchatApi": {
          "id": "4",
          "name": "Rocket account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.fromAddress }}",
        "toEmail": "={{ $json.toAddress }}",
        "ccEmail": "={{ $json.ccAddress }}",
        "bccEmail": "={{ $json.bccAddress }}",
        "subject": "={{ $json.subJect }}",
        "text": "={{ $json.textMessage }}",
        "html": "={{ $json.htmlMessage }}",
        "options": {}
      },
      "id": "fa99f019-1497-481f-bbfc-38a71f275c82",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        520,
        440
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "id": "1a3522f5-60aa-43bc-a0d9-ef4c0033201d",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "content": "# Parameters\nrcChannel\nrcMessage\nfromAddress\ntoAddress\ntextMessage\nhtmlMessage\nccAddress\nbccAddress\nsubJect",
        "height": 264,
        "width": 303
      },
      "id": "176e95ea-7fc6-480c-8133-ba8b73526d48",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        -40
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-02-23T07:42:01.516Z",
  "versionId": "e796977b-b076-41be-b088-1e06b6027bb0"
}