framework/Vault Check.json
{
  "active": true,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Parameters": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Vault health check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vault health check": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params1": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-15T09:21:02.688Z",
  "id": "12",
  "name": "Vault Check",
  "nodes": [
    {
      "parameters": {},
      "id": "1342ac77-21b2-4f48-be8b-928f77c6ba7f",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -80,
        -20
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "serverUrl",
              "value": "https://api.clab.devops.gov.bc.ca:6443"
            },
            {
              "name": "nameSpace",
              "value": " dbfa0f-dev"
            },
            {
              "name": "eMail",
              "value": "roland.stens@gmail.com"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "6ceba2f4-c168-478f-ab84-b6e91bb488dd",
      "name": "General Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        160,
        -20
      ]
    },
    {
      "parameters": {
        "command": "=oc login --token=$CLAB_VAULT_TOKEN --server={{$node[\"General Parameters\"].json[\"serverUrl\"]}}"
      },
      "id": "98bbfb10-d1ae-4e57-98a1-12fb70c2cfd3",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        160,
        200
      ]
    },
    {
      "parameters": {
        "command": "#oc scale deployment/vault-test --replicas=0\noc logout"
      },
      "id": "81af0e70-55e5-4f81-b31e-ba8b799c530b",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        140
      ]
    },
    {
      "parameters": {},
      "id": "3cb41cec-6831-4e46-b9c9-9817f7b094d8",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        140
      ]
    },
    {
      "parameters": {
        "command": "=oc project {{ $node[\"General Parameters\"].json.nameSpace }}\noc scale deployment/vault-test --replicas=0\nsleep 20\noc scale deployment/vault-test --replicas=1\nsleep 20\noc rsh $(oc get pods -o name --selector app=vault-test) cat /vault/secrets/helloworld > test.txt\n "
      },
      "id": "a507c191-5696-4b29-acb5-56d1f7f1440f",
      "name": "Vault health check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        200
      ]
    },
    {
      "parameters": {
        "filePath": "/data/test.txt"
      },
      "id": "e9e73508-62ae-4560-a31a-d39c4356eda0",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "operation": "contains",
              "value2": "world"
            }
          ]
        }
      },
      "id": "bbdbe52e-f999-4486-8675-23bac1ac76c0",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "sourceKey": "=data",
        "options": {}
      },
      "id": "ab1424f8-d09b-4c55-a486-a63cbe0a4710",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Test if Vault Client Pod is working CLAB",
        "height": 390,
        "width": 532
      },
      "id": "24335933-3d33-4504-a6eb-366165104794",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        312,
        150
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "ec13c708-28d5-4120-8d9a-e7d9de49e8f9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://vault-lab.developer.gov.bc.ca/v1/sys/health",
        "options": {}
      },
      "id": "9cd5fd5b-6a6b-4849-84b8-87317f7b1280",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        340,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.initialized }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "86a3ad33-f80f-419a-817f-cb53c0dd9ff7",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        -20
      ]
    },
    {
      "parameters": {
        "content": "## Check Vault Server KLAB",
        "height": 206,
        "width": 365
      },
      "id": "939788fc-8518-47ab-9d7d-d5e55075e23e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#PUT"
            },
            {
              "name": "rcMessage",
              "value": "=# Vault Failure https://vault-lab.developer.gov.bc.ca/ \n* **initialized**: {{ $json.initialized.toString() }} \n* **sealed**: {{ $json.sealed.toString() }}  \n* **standby**: {{ $json.standby.toString() }} \n* **performance_standby**: {{ $json.performance_standby.toString() }}  \n* **replication_performance_mode**: {{ $json.replication_performance_mode }} \n* **replication_dr_mode**: {{ $json.replication_dr_mode }} \n* **server_time_utc**: {{ $json.server_time_utc }} \n* **version**: {{ $json.version }} \n* **cluster_name**: {{ $json.cluster_name }} \n* **cluster_id**: {{ $json.cluster_id }}"
            },
            {
              "name": "toAddress",
              "value": "roland.stens@gmail.com"
            },
            {
              "name": "=textMessage",
              "value": "="
            },
            {
              "name": "htmlMessage",
              "value": "=<h1 id=\"vault-failure-klab-https-vault-lab-developer-gov-bc-ca-\">Vault Failure <a href=\"https://vault-lab.developer.gov.bc.ca/\">KLAB</a></h1> <ul> <li><strong>initialized</strong>: {{ $json.initialized.toString() }} </li> <li><strong>sealed</strong>: {{ $json.sealed.toString() }}  </li> <li><strong>standby</strong>: {{ $json.standby.toString() }} </li> <li><strong>performance_standby</strong>: {{ $json.performance_standby.toString() }}  </li> <li><strong>replication_performance_mode</strong>: {{ $json.replication_performance_mode }} </li> <li><strong>replication_dr_mode</strong>: {{ $json.replication_dr_mode }} </li> <li><strong>server_time_utc</strong>: {{ $json.server_time_utc }} </li> <li><strong>version</strong>: {{ $json.version }} </li> <li><strong>cluster_name</strong>: {{ $json.cluster_name }} </li> <li><strong>cluster_id</strong>: {{ $json.cluster_id }}</li> </ul>"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Vault Failure KLAB"
            },
            {
              "name": "from Address",
              "value": "no-reply@gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "11934ffb-0384-4242-a813-47a01a6456a5",
      "name": "Set Message Params1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "17"
      },
      "id": "0f58a9cd-2b72-4559-ad4c-a65392f104d1",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1040,
        60
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#PUT"
            },
            {
              "name": "rcMessage",
              "value": "=# Vault Client Failure CLAB dbfa0f-dev\n* **stderr**:  {{ $json.stderr }}"
            },
            {
              "name": "toAddress",
              "value": "roland.stens@gmail.com"
            },
            {
              "name": "=textMessage",
              "value": "="
            },
            {
              "name": "htmlMessage",
              "value": "=<h1 id=\"vault-client-failure-clab-dbfa0f-dev\">Vault Client Failure CLAB dbfa0f-dev</h1>\n<ul>\n<li><strong>stderr</strong>:  {{ $json.stderr }}</li>\n</ul>"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Vault Failure KLAB"
            },
            {
              "name": "from Address",
              "value": "no-reply@gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "142b6b3e-3570-48a0-9084-814f7bd7cf6c",
      "name": "Set Message Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-02-25T02:07:35.632Z",
      "updatedAt": "2023-02-25T02:07:35.632Z",
      "id": "3",
      "name": "Test"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-02-25T02:09:40.472Z",
  "versionId": "e22793a5-c417-4a36-985c-3159c0789730"
}