framework/workflows/2023-05-02T00:00:04.511-07:00.json
[{"createdAt":"2023-03-08T05:17:18.589Z","updatedAt":"2023-03-29T23:35:20.573Z","id":"28","name":"OC Login Common Component","active":false,"nodes":[{"parameters":{"content":"## Build OC Login Command\n\nThis workflow gets called while providing the **tokenName** in the calling workflow. \n\nThe workflow will find the token from the credential and will build the `oc login` statement that you can use.\n\n### Do not change this workflow as it is a common component used by other workflows.","height":217,"width":717},"id":"7a878f99-a65b-4205-b354-e24217655eb7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-40]},{"parameters":{"command":"=n8n export:credentials --all --decrypted | jq -r '.[] | select(.name | contains(\"{{ $node[\"Execute Workflow Trigger\"].json.tokenName }}\")).data.value' | tr -d '\\n'"},"id":"a6df4f34-8c05-4d68-a0c6-3be3cb58e1ad","name":"Get Token","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[420,200]},{"parameters":{"command":"=n8n export:credentials --all --decrypted | jq -r '.[] | select(.name | contains(\"{{ $node[\"Execute Workflow Trigger\"].json.tokenName }}\")).data.name' | sed \"s/<token>/{{ $json.stdout }}/g\" "},"id":"93d8354c-56c6-4a93-9b05-39c73004e390","name":"Build Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[560,200]},{"parameters":{},"id":"1e437650-2955-47d7-b6e6-5001b3f4f96e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[220,200]},{"parameters":{"jsCode":"return [{ \"ocLogin\": $('Build Login').item.json.stdout }];"},"id":"0ef6b639-b0d6-497b-bb41-c9e868c0eee7","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[720,200]}],"connections":{"Get Token":{"main":[[{"node":"Build Login","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Build Login":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"saveDataSuccessExecution":"none","saveExecutionProgress":"DEFAULT","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"1d0b4302-6e17-49f2-b26f-9a1977296409","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"}]},{"createdAt":"2023-03-10T02:22:08.438Z","updatedAt":"2023-03-10T03:34:48.304Z","id":"36","name":"Common OC Login","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"tokenName","value":"GOLD_Token"},{"name":"nameSpace","value":"bf5ef6-dev"}]},"options":{}},"id":"d033b9f1-7cf2-45d8-8a1c-9e08ad1c4976","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[1360,340]},{"parameters":{"workflowId":"28"},"id":"14b25078-e9c8-45fe-bda1-236856d63e02","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1520,340],"alwaysOutputData":true},{"parameters":{"command":"={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"},"id":"feda7f71-01d4-4ed9-812a-743a7bfb2373","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1680,340]},{"parameters":{"content":"## Example of using the common OC login\n\nBy copying and using the 3 nodes below you can quickly do an `oc login` on your target environment.\n* In the `Set Token Name` you fill in the name of the credential where you stored the token. For instance check out: [GOLD_Token](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/credentials) and take note on how this credential has been set up.\n* Also in the `Set Token Name` fill in the targeted namespace, that will be set after your login.\n* You can verify if it works by running the 3 nodes. the stdout should show ```Logged into \"https://api.gold.devops.gov.bc.ca:6443\" as \"system:serviceaccount:bf5ef6-tools:github-cicd\" using the token provided.\\n\\nYou have access to the following projects and can switch between them with 'oc project <projectname>':\\n\\n  * bf5ef6-dev\\n    bf5ef6-prod\\n    bf5ef6-test\\n    bf5ef6-tools\\n\\nUsing project \"bf5ef6-dev\".``` or something similar.\n* Now you can use these 3 nodes in your workflow whenever you need to be logging in into OpenShift.","height":322,"width":1058},"id":"34429efa-d383-46db-9df5-6299d312699e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,-20]},{"parameters":{},"id":"a150ed99-4df0-41e7-8bf1-1154a13f0d8b","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1180,340]}],"connections":{"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"ab32ec4b-0d37-4b71-864f-72bc14078595","triggerCount":0,"tags":[{"createdAt":"2023-03-10T02:25:44.914Z","updatedAt":"2023-03-10T02:25:44.914Z","id":"8","name":"Template"},{"createdAt":"2023-02-25T02:10:52.949Z","updatedAt":"2023-02-25T02:10:52.949Z","id":"6","name":"Example"},{"createdAt":"2023-03-10T02:26:00.290Z","updatedAt":"2023-03-10T02:26:00.290Z","id":"9","name":"OpenShift"}]},{"createdAt":"2023-03-08T05:25:42.739Z","updatedAt":"2023-03-10T03:45:16.213Z","id":"29","name":"OC Login","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"tokenName","value":"GOLD_Token"},{"name":"nameSpace","value":"bf5ef6-dev"}]},"options":{}},"id":"4277ed7c-0731-4a18-bd7d-250da6e74cd9","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[760,420]},{"parameters":{"workflowId":"28"},"id":"557fb01a-9b84-42fc-b76e-977a2ef5bbda","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[920,420],"alwaysOutputData":true},{"parameters":{"command":"={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"},"id":"44baae02-5121-4660-8e8b-002aa4d0718a","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1080,420]},{"parameters":{"content":"## Example of using the common OC login\n\nBy copying and using the 3 nodes below you can quickly do an `oc login` on your target environment.\n* In the `Set Token Name` you fill in the name of the credential where you stored the token. For instance check out: [GOLD_Token](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/credentials) and take note on how this credential has been set up.\n* Also in the `Set Token Name` fill in the targeted namespace, that will be set after your login.\n* You can verify if it works by running the 3 nodes. the stdout should show ```Logged into \"https://api.gold.devops.gov.bc.ca:6443\" as \"system:serviceaccount:bf5ef6-tools:github-cicd\" using the token provided.\\n\\nYou have access to the following projects and can switch between them with 'oc project <projectname>':\\n\\n  * bf5ef6-dev\\n    bf5ef6-prod\\n    bf5ef6-test\\n    bf5ef6-tools\\n\\nUsing project \"bf5ef6-dev\".``` or something similar.\n* Now you can use these 3 nodes in your workflow whenever you need to be logging in into OpenShift.","height":322,"width":1058},"id":"fbc58e00-c196-4bce-942e-f5c6a3fc4df5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[360,60]},{"parameters":{},"id":"9ed9fb28-64aa-49ea-b879-96b81c8603c8","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[580,420]}],"connections":{"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"debc34e5-1980-4230-adcc-e4db0d8815ac","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:10:52.949Z","updatedAt":"2023-02-25T02:10:52.949Z","id":"6","name":"Example"},{"createdAt":"2023-03-08T08:28:20.959Z","updatedAt":"2023-03-08T08:28:20.959Z","id":"7","name":"Login"},{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"},{"createdAt":"2023-03-10T02:25:44.914Z","updatedAt":"2023-03-10T02:25:44.914Z","id":"8","name":"Template"}]},{"createdAt":"2023-02-09T04:26:59.628Z","updatedAt":"2023-04-28T01:28:33.246Z","id":"7","name":"Main","active":true,"nodes":[{"parameters":{"workflowId":"1"},"id":"b764e3d3-1add-43e8-8e5f-496b839a8f60","name":"N8N","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,160]},{"parameters":{},"id":"9841c131-1ee6-4587-bc17-fd4797465ba2","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[360,500]},{"parameters":{"workflowId":"14"},"id":"c5d13474-8dd4-4f6a-99fc-62de30455a7d","name":"Patroni CLAB","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,620]},{"parameters":{"workflowId":"12"},"id":"cfa1dc1b-76a4-47df-b69c-eef657663991","name":"Vault Check","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,780]},{"parameters":{},"id":"b3e59f23-bf34-45fe-affe-44da20cafd9e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-360,500]},{"parameters":{"content":"## The Main Workflow\n\nThis is the workflow that gets triggered and it functions as an umbrella to call all the other workflows containing the tests.\n\nOnce the tests have run, the workflow will report.","height":201,"width":662},"id":"ad28d324-b69a-4d1c-8963-b69e29bf4e24","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-840,180]},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":15}]}},"id":"90cb0684-69bf-4477-bfb8-ed73cdfa01e6","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-360,660]},{"parameters":{"workflowId":"59"},"id":"27998616-95c0-4b8a-91af-13fb85c76944","name":"Artifactory Prod","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,460]},{"parameters":{"workflowId":"3"},"id":"7e9d7913-9684-4877-bca8-a038bd6ffdf9","name":"Artifactory CLAB","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-20,300]}],"connections":{"N8N":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Patroni CLAB":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Vault Check":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"N8N","type":"main","index":0},{"node":"Artifactory CLAB","type":"main","index":0},{"node":"Patroni CLAB","type":"main","index":0},{"node":"Vault Check","type":"main","index":0},{"node":"Artifactory Prod","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"N8N","type":"main","index":0},{"node":"Artifactory CLAB","type":"main","index":0},{"node":"Patroni CLAB","type":"main","index":0},{"node":"Vault Check","type":"main","index":0},{"node":"Artifactory Prod","type":"main","index":0}]]},"Artifactory Prod":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Artifactory CLAB":{"main":[[{"node":"NoOp","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"3f61e7bc-bf6e-4138-9e04-67b3abb0d81c","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"},{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-03-02T07:56:18.172Z","updatedAt":"2023-04-15T04:55:21.752Z","id":"23","name":"Duplicate github issue","active":true,"nodes":[{"parameters":{"operation":"get","owner":{"__rl":true,"value":"BCDevOps","mode":"name"},"repository":{"__rl":true,"value":"developer-experience","mode":"name"},"issueNumber":"={{ $json.query.id }}"},"id":"6868d180-558b-4d9a-bcde-f79fc3b871d9","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[500,440],"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"path":"47f12fef-d385-413f-bd13-6a06725b0207","options":{}},"id":"45796d2d-7923-488d-8a1a-cfa4584a259c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[280,440],"webhookId":"47f12fef-d385-413f-bd13-6a06725b0207"},{"parameters":{"fieldToSplitOut":"labels","options":{}},"id":"95fca5af-bfd2-463f-983b-3774714682a8","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[640,440]},{"parameters":{"jsCode":"if (Object.keys(items[0].json).length === 0) {\n  return [\n     {\n       json: {\n         results: 0,\n       }\n      }\n  ]\n}\nreturn [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"},"id":"7c2c12f7-0f0b-4889-87ce-02b758684361","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[800,440]},{"parameters":{"value1":"={{ $json.results }}","rules":{"rules":[{"operation":"equal"},{"operation":"equal","value2":1,"output":1},{"operation":"equal","value2":2,"output":2},{"operation":"equal","value2":3,"output":3}]},"fallbackOutput":3},"id":"d49b8d0d-0451-4665-85d0-7ef8b9d8c485","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1020,440]},{"parameters":{"owner":{"__rl":true,"value":"BCDevOps","mode":"name"},"repository":{"__rl":true,"value":"developer-experience","mode":"name"},"title":"=CLONE: {{ $node.GitHub.json.title }}","body":"={{ $node.GitHub.json.body }}","labels":[{"label":"={{ $node.GitHub.json.labels[0].name }}"},{"label":"={{ $node.GitHub.json.labels[1].name }}"},{"label":"={{ $node.GitHub.json.labels[2].name }}"}],"assignees":[]},"id":"c26f0875-f396-46b1-bc48-cc17c0011887","name":"GitHub 3 Labels","type":"n8n-nodes-base.github","typeVersion":1,"position":[1420,720],"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{},"id":"b0eacb1a-b61e-4449-b3a6-9fc2b43c22b7","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1920,420]},{"parameters":{"owner":{"__rl":true,"value":"BCDevOps","mode":"name"},"repository":{"__rl":true,"value":"developer-experience","mode":"name"},"title":"=CLONE: {{ $node.GitHub.json.title }}","body":"={{ $node.GitHub.json.body }}","labels":[{"label":"={{ $node.GitHub.json.labels[0].name }}"}],"assignees":[]},"id":"5e349e48-61ba-4e71-a468-3b52c1d89039","name":"GitHub 3 Labels1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1420,340],"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"owner":{"__rl":true,"value":"BCDevOps","mode":"name"},"repository":{"__rl":true,"value":"developer-experience","mode":"name"},"title":"=CLONE: {{ $node.GitHub.json.title }}","body":"={{ $node.GitHub.json.body }}","labels":[{"label":"={{ $node.GitHub.json.labels[0].name }}"},{"label":"={{ $node.GitHub.json.labels[1].name }}"}],"assignees":[]},"id":"a9257f05-8618-4aa1-a241-3b046763b981","name":"GitHub 3 Labels2","type":"n8n-nodes-base.github","typeVersion":1,"position":[1420,540],"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"owner":{"__rl":true,"value":"BCDevOps","mode":"name"},"repository":{"__rl":true,"value":"developer-experience","mode":"name"},"title":"=CLONE: {{ $node.GitHub.json.title }}","body":"={{ $node.GitHub.json.body }}","labels":[],"assignees":[]},"id":"830e9f73-4fe8-4f4d-994e-1dc0fd8bc577","name":"GitHub 3 Labels3","type":"n8n-nodes-base.github","typeVersion":1,"position":[1420,180],"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"content":"## This is for the https://github.com/BCDevOps/developer-experience Repo\n\nCall this: https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/webhook/47f12fef-d385-413f-bd13-6a06725b0207?id=\nAdd the id (id=100), it will copy a max of 3 labels.\n\nYour Cloned Issue will appear in the un-reviewed column assigned to the user that was the assignee on the original issue.","height":264,"width":1379},"id":"fa8e0193-2dea-4b90-9be6-e44a3561e01f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-60]}],"connections":{"GitHub":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GitHub 3 Labels3","type":"main","index":0}],[{"node":"GitHub 3 Labels1","type":"main","index":0}],[{"node":"GitHub 3 Labels2","type":"main","index":0}],[{"node":"GitHub 3 Labels","type":"main","index":0}]]},"GitHub 3 Labels":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"GitHub 3 Labels2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"GitHub 3 Labels1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"GitHub 3 Labels3":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"70453643-e979-4297-a028-b72c3b896f98","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:10:52.949Z","updatedAt":"2023-02-25T02:10:52.949Z","id":"6","name":"Example"},{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"},{"createdAt":"2023-03-10T05:47:25.149Z","updatedAt":"2023-03-10T05:47:25.149Z","id":"10","name":"Utility"}]},{"createdAt":"2023-02-23T05:15:31.821Z","updatedAt":"2023-02-25T02:21:57.979Z","id":"16","name":"Report Error Calling Stub","active":false,"nodes":[{"parameters":{},"id":"c7351c6c-5d6a-4938-99ae-4852721b4a29","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[520,480]},{"parameters":{},"id":"5bff5906-1ba9-4f8f-9487-6dbfc2b166a0","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1220,480]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#cypress"},{"name":"rcMessage","value":"Test 2"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"roland.stens@gmail.com"},{"name":"textMessage","value":"Test 2"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"Error 2 Found!"}]},"options":{}},"id":"32e48548-0c55-460b-9c29-3cdd59fef905","name":"Set Message Params","type":"n8n-nodes-base.set","typeVersion":1,"position":[760,480]},{"parameters":{"content":"# How to Use this\n* Copy the 3 last actions into the end of your workflow where you want to report on an error situation\n* Connect it to your error branch\n* Set the right parameters and call the error report WF.\n\nThe errors will be reported by email and RocketChat.\n","height":470,"width":675},"id":"8ebfcc18-d539-435c-8a65-11bb2277a5c6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[700,260]},{"parameters":{"workflowId":"17"},"id":"d55acb38-41e5-42c5-a92e-89fad560a587","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1000,480]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Message Params","type":"main","index":0}]]},"Set Message Params":{"main":[[{"node":"Report Error","type":"main","index":0}]]},"Report Error":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"bda273d2-58a5-4c51-98f9-a82387f0ebb4","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"}]},{"createdAt":"2023-02-23T05:33:52.131Z","updatedAt":"2023-02-25T02:22:47.527Z","id":"17","name":"Report Error","active":false,"nodes":[{"parameters":{},"id":"767bf3f7-842a-462d-ab8a-3f2b18ca6d36","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-360,320]},{"parameters":{"channel":"={{ $json.rcChannel }}","text":"={{ $json.rcMessage }}","options":{},"attachments":[]},"id":"a6f21027-0b68-494b-b22f-913e086a5ec5","name":"RocketChat","type":"n8n-nodes-base.rocketchat","typeVersion":1,"position":[0,200],"alwaysOutputData":true,"credentials":{"rocketchatApi":{"id":"4","name":"Rocket account"}}},{"parameters":{"fromEmail":"={{ $json.fromAddress }}","toEmail":"={{ $json.toAddress }}","ccEmail":"={{ $json.ccAddress }}","bccEmail":"={{ $json.bccAddress }}","subject":"={{ $json.subJect }}","text":"={{ $json.textMessage }}","html":"={{ $json.htmlMessage }}","options":{}},"id":"fa99f019-1497-481f-bbfc-38a71f275c82","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[0,460],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}},{"parameters":{},"id":"1a3522f5-60aa-43bc-a0d9-ef4c0033201d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[260,280]},{"parameters":{"content":"## Incoming Parameters\n* **rcChannel:** RC Channel\n* **rcMessage:** RC Message\n* **fromAddress:** Email From\n* **toAddress:** Email To\n* **textMessage:** Message Body Text\n* **htmlMessage:** Message Body HTML, will supersede Text Message body\n* **ccAddress:** Email cc\n* **bccAddress:** email bcc\n* **subJect:** Email Title","height":264,"width":549},"id":"176e95ea-7fc6-480c-8133-ba8b73526d48","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-740,40]},{"parameters":{"content":"## Reporting Common Component\n\nThis component will be called whenever an error report needs to be emailed and send to RocketChat.\n\nSee this [workflow](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/14) for an example.\n\nKey is using **Set** to set up your parameters and then call this workflow.\nUse [this stub](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/16) to get started.","height":249,"width":501.6903681290984},"id":"d607d86b-8bbc-4c3e-ad54-d03a9ac92f03","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,-180]}],"connections":{"Send Email":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"RocketChat":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Send Email","type":"main","index":0},{"node":"RocketChat","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"c5e14230-3e0a-48be-83c7-0d3bedf49285","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"}]},{"createdAt":"2023-04-26T01:48:20.829Z","updatedAt":"2023-04-26T02:11:10.456Z","id":"59","name":"Artifactory Basic Health Check Prod","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Artifactory Health\"].json[\"router\"][\"message\"] }}","operation":"contains","value2":"OK"},{"value1":"={{ $node[\"Artifactory Ping\"].json.data }}","operation":"contains","value2":"OK"},{"value1":"={{ $node[\"Artifactory Liveness\"].json.data }}","operation":"contains","value2":"OK"},{"value1":"={{ $node[\"Artifactory Readiness\"].json.data }}","operation":"contains","value2":"OK"}]}},"id":"d4ae58c0-0be1-4b83-809e-a753902b32e2","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[600,660]},{"parameters":{},"id":"82f0be6f-ecc1-4cb9-8131-21fa6778d3ca","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[860,460]},{"parameters":{"workflowId":"17"},"id":"550f77c7-02d2-4286-8b41-efd6203ae1b1","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1008,680]},{"parameters":{"content":"## Report the Error","height":217.8125,"width":570.4296383481571},"id":"20430514-21d8-4236-8ab7-51d0b7a3ae9b","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,620]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#devops-post-update-testing"},{"name":"rcMessage","value":"=## Artifactory Error Found on PROD https://artifacts.developer.gov.bc.ca\nAt: {{ $now }}\n\nRouter:\n{{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}\n\nServices:\n{{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}\n\n @cailey.jones and @shelly.han\n"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"cailey.jones@gov.bc.ca,shelly.han@gov.bc.ca,hsmcs@dxcas.com"},{"name":"textMessage","value":"=At: {{ $now }}  \n\nRouter: {{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}  \n\nServices: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Artifactory Error Found on https://artifacts.developer.gov.bc.ca"}]},"options":{}},"id":"9b61656a-7273-4cdc-b7a2-bf3922dfcb41","name":"Set Message Params for Error Report","type":"n8n-nodes-base.set","typeVersion":1,"position":[860,680]},{"parameters":{},"id":"575d0146-fd85-45fc-b393-a537878dbab6","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,160]},{"parameters":{},"id":"7c4c2131-fa9d-467f-96a2-853460eb1996","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-160,320]},{"parameters":{"content":"## Artifactory Test Prod","height":80,"width":280.5999654409687},"id":"ac8e261b-3f42-40da-9114-244cc8aa8bc7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[223,60]},{"parameters":{"errorMessage":"Error in {{ $workflow.name }}"},"id":"0a40deae-3092-4010-927a-176d2303e9f2","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1240,680]},{"parameters":{"url":"https://artifacts.developer.gov.bc.ca/router/api/v1/system/ping","responseFormat":"string","options":{"timeout":10000}},"id":"a245773f-2437-45c5-8e76-aecb4fbcb26c","name":"Artifactory Ping","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[140,320]},{"parameters":{"url":"https://artifacts.developer.gov.bc.ca/router/api/v1/system/health","options":{"timeout":10000}},"id":"ed4b9b1a-b753-4171-93dd-539da3ea56d0","name":"Artifactory Health","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[20,160]},{"parameters":{"url":"https://artifacts.developer.gov.bc.ca/router/api/v1/system/liveness","responseFormat":"string","options":{"timeout":10000}},"id":"af333369-738d-43ff-92e4-4d6959f8ea28","name":"Artifactory Liveness","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[280,480]},{"parameters":{"url":"https://artifacts.developer.gov.bc.ca/router/api/v1/system/readiness","responseFormat":"string","options":{"timeout":10000}},"id":"615c3c75-6a67-47e0-a20a-f5d8018ac541","name":"Artifactory Readiness","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[420,660]}],"connections":{"IF":{"main":[[{"node":"NoOp","type":"main","index":0}],[{"node":"Set Message Params for Error Report","type":"main","index":0}]]},"Set Message Params for Error Report":{"main":[[{"node":"Report Error","type":"main","index":0}]]},"Report Error":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Artifactory Health","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Artifactory Health","type":"main","index":0}]]},"Artifactory Ping":{"main":[[{"node":"Artifactory Liveness","type":"main","index":0}]]},"Artifactory Health":{"main":[[{"node":"Artifactory Ping","type":"main","index":0}]]},"Artifactory Liveness":{"main":[[{"node":"Artifactory Readiness","type":"main","index":0}]]},"Artifactory Readiness":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"677c4642-0da6-469f-bb6d-ef9b370a2d4d","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-02-08T06:08:46.285Z","updatedAt":"2023-04-26T02:13:32.532Z","id":"3","name":"Artifactory Basic Health Check CLAB","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Artifactory Health\"].json[\"router\"][\"message\"] }}","operation":"contains","value2":"OK"},{"value1":"={{ $node[\"Artifactory Ping\"].json.data }}","operation":"contains","value2":"OK"},{"value1":"={{ $node[\"Artifactory Liveness\"].json.data }}","operation":"contains","value2":"OK"},{"value1":"={{ $node[\"Artifactory Readiness\"].json.data }}","operation":"contains","value2":"OK"}]}},"id":"cb2dbfce-8389-452d-97ff-6e239d54914d","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[600,660]},{"parameters":{},"id":"3cf820df-a75c-49fe-bef0-3cbbecc0627e","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1680,480]},{"parameters":{"workflowId":"17"},"id":"b5832f26-e972-4c29-a776-c57662e5ba22","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1468,780]},{"parameters":{"content":"## Report the Error","height":217.8125,"width":570.4296383481571},"id":"3660c539-9e1b-46cb-b9ae-5403d7885b9d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1260,720]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"https://artifacts.apps.clab.devops.gov.bc.ca"},{"name":"rcMessage","value":"=## Artifactory Error Found on CLAB https://artifacts.apps.clab.devops.gov.bc.ca\nAt: {{ $now }}\n\nRouter:\n{{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}\n\nServices:\n{{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}\n\n @cailey.jones and @shelly.han\n"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"cailey.jones@gov.bc.ca,shelly.han@gov.bc.ca,hsmcs@dxcas.com"},{"name":"textMessage","value":"=At: {{ $now }}  \n\nRouter: {{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}  \n\nServices: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Artifactory Error Found on https://artifacts.developer.gov.bc.ca"}]},"options":{}},"id":"2edf4b5d-dd25-4541-8609-e941d54194b7","name":"Set Message Params for Error Report","type":"n8n-nodes-base.set","typeVersion":1,"position":[1320,780]},{"parameters":{},"id":"53eceb43-33d0-4fbd-abac-f9c65c367ca7","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,160]},{"parameters":{},"id":"ee30fd19-9da2-48f4-8b9b-eb863497f362","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-160,340]},{"parameters":{"content":"## Artifactory Test CLAB\n\n","height":80,"width":1076},"id":"2f3c1e8f-6c90-498a-8668-9a52462f5bc8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[223,60]},{"parameters":{"errorMessage":"Error in {{ $workflow.name }}"},"id":"684720e8-b221-4521-b681-a73ba46309ea","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1700,780]},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","url":"https://artifacts.apps.clab.devops.gov.bc.ca/artifactory/api/system/configuration","responseFormat":"string","options":{"timeout":10000}},"id":"41a4e919-e0ea-4217-af52-b227045e3d92","name":"Get Config","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[760,500],"credentials":{"httpBasicAuth":{"id":"33","name":"CLAB Artifactory"}}},{"parameters":{"options":{}},"id":"40cd465c-2b36-46d8-a578-9d4b444bb5e1","name":"XML","type":"n8n-nodes-base.xml","typeVersion":1,"position":[940,500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.config.localRepositories.localRepository[0].key }}","value2":"artifactory-build-info"}]}},"id":"19a23e34-3f6d-4023-9705-18243bc2b8ce","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,500]},{"parameters":{"url":"https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/ping","responseFormat":"string","options":{"timeout":10000}},"id":"ee5e961e-c5b6-4bd7-ba1a-461f4db93e33","name":"Artifactory Ping","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[140,320]},{"parameters":{"url":"https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/health","options":{"timeout":10000}},"id":"04274721-7408-4823-ad12-16524760ee54","name":"Artifactory Health","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[20,160]},{"parameters":{"url":"https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/liveness","responseFormat":"string","options":{"timeout":10000}},"id":"52f89292-dd6f-42f3-9613-87869076326e","name":"Artifactory Liveness","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[280,480]},{"parameters":{"url":"https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/readiness","responseFormat":"string","options":{"timeout":10000}},"id":"66c29629-e954-4d45-a164-6472d0198460","name":"Artifactory Readiness","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[420,660]}],"connections":{"IF":{"main":[[{"node":"Get Config","type":"main","index":0}],[{"node":"Set Message Params for Error Report","type":"main","index":0}]]},"Set Message Params for Error Report":{"main":[[{"node":"Report Error","type":"main","index":0}]]},"Report Error":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Artifactory Health","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Artifactory Health","type":"main","index":0}]]},"Get Config":{"main":[[{"node":"XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"IF1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"NoOp","type":"main","index":0}],[{"node":"Set Message Params for Error Report","type":"main","index":0}]]},"Artifactory Ping":{"main":[[{"node":"Artifactory Liveness","type":"main","index":0}]]},"Artifactory Health":{"main":[[{"node":"Artifactory Ping","type":"main","index":0}]]},"Artifactory Liveness":{"main":[[{"node":"Artifactory Readiness","type":"main","index":0}]]},"Artifactory Readiness":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"3bf001ff-76a7-4b01-8443-de508c84b1e9","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-02-25T06:34:42.531Z","updatedAt":"2023-02-25T06:42:56.296Z","id":"20","name":"Patroni Scalability","active":false,"nodes":[{"parameters":{},"id":"43c0717c-989b-49e0-b981-893fb8b286b7","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-500,240]},{"parameters":{"command":"oc login --token=$CLAB_TOKEN --server=https://api.clab.devops.gov.bc.ca:6443\n\n"},"id":"e6527848-ee12-4c09-bf59-30042c800da7","name":"OC Login CLAB","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-300,240]},{"parameters":{"command":"nohup oc port-forward $(oc -n e31b6b-dev get pods -o name --selector role=master,cluster-name=patroni-reference) 15433:5432 > /dev/null 2>&1 & "},"id":"1a92394f-72d5-4d7c-87c2-82e3a5e46c9b","name":"Set Port Forward Patroni","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-100,240]},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS scale_data (\n   section NUMERIC NOT NULL,\n   id1     NUMERIC NOT NULL,\n   id2     NUMERIC NOT NULL\n);","additionalFields":{}},"id":"456de39e-684a-4553-9719-59011c86c016","name":"Create Table","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[100,240],"credentials":{"postgres":{"id":"13","name":"Patroni (Reference)"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO scale_data\nSELECT sections.*, gen.*\n     , CEIL(RANDOM()*100) \n  FROM GENERATE_SERIES(1, 300)     sections,\n       GENERATE_SERIES(1, 900000) gen\n WHERE gen <= sections * 3000;","additionalFields":{}},"id":"d29a71d5-8d23-44be-a2f4-29a278133081","name":"Insert Data","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[300,240],"credentials":{"postgres":{"id":"13","name":"Patroni (Reference)"}}}],"connections":{"OC Login CLAB":{"main":[[{"node":"Set Port Forward Patroni","type":"main","index":0}]]},"Set Port Forward Patroni":{"main":[[{"node":"Create Table","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"OC Login CLAB","type":"main","index":0}]]},"Create Table":{"main":[[{"node":"Insert Data","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"98c5d6a1-3687-4e89-ba07-317be03cdf73","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-03-10T09:39:10.487Z","updatedAt":"2023-04-26T02:16:36.763Z","id":"41","name":"Error Handler","active":false,"nodes":[{"parameters":{},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","position":[380,500],"typeVersion":1,"id":"dffb4a27-39c6-4c12-8bdd-b69644e5a8fb"},{"parameters":{},"id":"456f24eb-099b-4359-8703-5c777e00fde8","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[860,500]},{"parameters":{"workflowId":"17"},"id":"17d670fe-d71f-4444-95cc-3cea6008585e","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[700,500]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#devops-post-update-testing"},{"name":"rcMessage","value":"={{ $now }}\n## Workflow Execution Problem: {{$node[\"Error Trigger\"].data[\"workflow\"][\"name\"]}}\n* **Error:** {{$node[\"Error Trigger\"].data[\"execution\"][\"error\"][\"message\"]}}\n* **Stack Trace:** {{$node[\"Error Trigger\"].data[\"execution\"][\"error\"][\"stack\"]}}\n* **Node with Error:** {{$node[\"Error Trigger\"].data[\"execution\"][\"Error\"][\"lastNodeExecuted\"]}}\n* **Execution URL:** {{$node[\"Error Trigger\"].data[\"execution\"][\"url\"]}}\n\n"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"Artem.Kravchenko@gov.bc.ca,Billy.Li@gov.bc.ca,roland.stens@gmail.com"},{"name":"textMessage","value":"={{ $now }}\nWorkflow Execution Problem: {{$node[\"Error Trigger\"].data[\"workflow\"][\"name\"]}}  \n* Error: {{$node[\"Error Trigger\"].data[\"execution\"][\"error\"][\"message\"]}} \n* Stack Trace: {{$node[\"Error Trigger\"].data[\"execution\"][\"error\"][\"stack\"]}} \n* Node with Error: {{$node[\"Error Trigger\"].data[\"execution\"][\"Error\"][\"lastNodeExecuted\"]}} \n* Execution URL: {{$node[\"Error Trigger\"].data[\"execution\"][\"url\"]}}"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"=subJect","value":"=Workflow Execution Problem: {{$node[\"Error Trigger\"].data[\"workflow\"][\"name\"]}}"}]},"options":{}},"id":"3468de4d-f6ba-478c-9f2b-3561e21cce8b","name":"Set Message Params","type":"n8n-nodes-base.set","typeVersion":1,"position":[540,500]},{"parameters":{"content":"## In case of a Workflow Error\n\nThis workflow will automatically be executed.\n","width":717},"id":"7735fac7-8ee7-42ef-9e47-5f5b07edae13","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,260]}],"connections":{"Report Error":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Message Params":{"main":[[{"node":"Report Error","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Set Message Params","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"pinData":{},"versionId":"a771c9bb-2e3d-41d2-9e26-d53ee1035cfc","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"},{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"},{"createdAt":"2023-03-10T05:47:25.149Z","updatedAt":"2023-03-10T05:47:25.149Z","id":"10","name":"Utility"}]},{"createdAt":"2023-03-09T03:20:06.220Z","updatedAt":"2023-04-26T04:55:23.473Z","id":"34","name":"Patroni CLAB (Reference) - Switch Leader","active":false,"nodes":[{"parameters":{},"id":"491df3a1-af15-4b74-9320-ff4d2b9ca15a","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-180]},{"parameters":{"values":{"string":[{"name":"tokenName","value":"CLAB_Token"},{"name":"nameSpace","value":"e31b6b-dev"}]},"options":{}},"id":"7ed6d850-27eb-4335-a23d-50dd901880cb","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[-740,-80]},{"parameters":{"workflowId":"28"},"id":"ac3c93a3-37fc-42f0-96d3-877dd64a1739","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-580,-80],"alwaysOutputData":true},{"parameters":{"command":"=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"},"id":"da06533e-c7f0-4f69-b3a9-93aeae637f8b","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-420,-80]},{"parameters":{},"id":"c9e40466-da6e-4c2d-8d49-4e7a95a2c902","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-960,0]},{"parameters":{"content":"## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.","height":336.5625,"width":471.25},"id":"f79430c3-3e58-413f-a886-7c8b7a3db4b3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,-186.85356782652548]},{"parameters":{"command":"=oc project {{ $node[\"Set Token Name\"].json.nameSpace }} > /dev/null\noc rsh $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) curl -s localhost:8008/cluster | jq -e \".\""},"id":"70f3ed35-c520-487f-95f0-02605e26edde","name":"Check Readiness","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-280,-80]},{"parameters":{"jsCode":"return JSON.parse($('Check Readiness').item.json.stdout);"},"id":"d6c2637a-f9ab-49fb-a3f6-bdfc68ba66f8","name":"Get Result","type":"n8n-nodes-base.code","typeVersion":1,"position":[-140,-80]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.members[0].state }}","value2":"running"},{"value1":"={{ $json.members[1].state }}","value2":"running"},{"value1":"={{ $json.members[2].state }}","value2":"running"}]}},"id":"00e8a497-a5d1-44f5-abcf-de07447a11fa","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,-80]},{"parameters":{"content":"## Check Readiness","height":333.5588439233485,"width":426.71205244578886},"id":"0f9f34fb-6257-46b9-a382-1f42d3e85220","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-184.50548411497726]},{"parameters":{"command":"oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"},"id":"23267ed3-23da-413c-9e9c-532b8f6e7752","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[740,-100]},{"parameters":{"workflowId":"17"},"id":"c13fcbc6-571d-47d7-aa35-a8a4bda70426","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[408,140]},{"parameters":{"content":"## Close the Workflow","height":446.2964889056981,"width":383.0266641452346},"id":"565e2d67-7291-42f7-b568-c0993c53f7dc","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[700,-160]},{"parameters":{"content":"## Report the Error","height":217.8125,"width":361.0555345436212},"id":"0e32a988-1b7b-42bf-852c-05de50749cd3","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,80]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#devops-post-update-testing"},{"name":"rcMessage","value":"Patroni (Reference) Failed Post Update Test"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"roland.stens@gmail.com"},{"name":"textMessage","value":"Test 2"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Patroni (Reference) Failed Post Update Test"}]},"options":{}},"id":"38f418ac-26ed-43ac-8b42-69fdd3071904","name":"Set Message Params for Error Report","type":"n8n-nodes-base.set","typeVersion":1,"position":[248,140]},{"parameters":{},"id":"08ed7fd6-a51d-4ce5-a30b-2005e5fc8c0c","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[920,-100]},{"parameters":{"command":"=oc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- curl -s http://localhost:8008/switchover -XPOST -d '{\"leader\":\"{{ $json.stdout }}\"}' \nsleep 20"},"id":"25e0396b-815d-470c-a5da-ae565f776077","name":"Change Leader","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[420,-100],"executeOnce":true},{"parameters":{"content":"## Changes the leader in a cluster\n\nExecuting `curl -http://localhost:8009/switchover -XPOST -d '{\"candidate\":\"patroni-reference-0\"}'` (or whichever instance is found to be the leader) on the main database pod.\n`patronictl switchover` does the same in the terminal.\n\n","height":143.62077660110947,"width":1719.9798285426127},"id":"09868946-3cd1-41d6-8ebd-fc7c03bf0a2f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,-440]},{"parameters":{"command":"=oc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- curl -s localhost:8008/cluster | jq -r '.members[] | select(.role==\"leader\") | .name'\n"},"id":"22ee15e7-ae7f-464e-9940-f6ce4c7b3acd","name":"Find Leader","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[220,-100],"executeOnce":true},{"parameters":{"errorMessage":"=Error in {{ $workflow.name }}"},"id":"ec6f8261-8caa-4e13-9105-e69251efd5e2","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[740,140]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Check Readiness","type":"main","index":0}]]},"Check Readiness":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Find Leader","type":"main","index":0}],[{"node":"Set Message Params for Error Report","type":"main","index":0}]]},"OC Logout":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Report Error":{"main":[[{"node":"Stop and Error","type":"main","index":0},{"node":"OC Logout","type":"main","index":0}]]},"Set Message Params for Error Report":{"main":[[{"node":"Report Error","type":"main","index":0}]]},"Change Leader":{"main":[[{"node":"OC Logout","type":"main","index":0}]]},"Find Leader":{"main":[[{"node":"Change Leader","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"fa0dee7e-65cb-4944-9c31-d1d9656b657f","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-04-01T05:48:56.173Z","updatedAt":"2023-04-12T03:55:55.130Z","id":"50","name":"Force Activate webhooks (Automatic)","active":true,"nodes":[{"parameters":{},"id":"e85d71d2-b6a6-4fb7-8fa7-3570bb6611b8","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[540,580]},{"parameters":{"operation":"activate","workflowId":{"__rl":true,"value":"23","mode":"id"}},"id":"c07a7b71-75a9-4303-bbd9-a3acb9d4bdd5","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1000,340],"credentials":{"n8nApi":{"id":"11","name":"n8n account"}}},{"parameters":{"operation":"activate","workflowId":{"__rl":true,"value":"47","mode":"id"}},"id":"1544a84c-777d-410c-8732-1067c80a0b8f","name":"n8n1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1000,580],"credentials":{"n8nApi":{"id":"11","name":"n8n account"}}},{"parameters":{"events":["init"]},"id":"3471638a-05e8-4b94-a221-d609784ba061","name":"n8n Trigger","type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[540,340]},{"parameters":{"unit":"minutes"},"id":"e19b9410-45be-4d9f-83b9-85a4947a7b35","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[720,340],"webhookId":"2d311a63-0b6e-43d9-a78a-7b581d849ced"},{"parameters":{},"id":"b5a4646e-7993-43b5-8f96-ec47d37b8cf8","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1340,460]},{"parameters":{"content":"## Activating the workflows with a webhook\n\nWhen restarting N8N, sometimes the workflows with a webhook do not properly activate the webhook.\nThis workflow will do this automatically.","width":915},"id":"eea24a94-b1b9-42d8-8d49-0f3dc220de7e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,120]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"n8n1","type":"main","index":0},{"node":"n8n","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"n8n","type":"main","index":0},{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"n8n":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"b05a553a-baa9-405f-8e8c-0c3bc25a4d45","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"},{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"}]},{"createdAt":"2023-03-08T08:49:30.663Z","updatedAt":"2023-03-14T06:14:11.994Z","id":"30","name":"Run N8N Audit","active":true,"nodes":[{"parameters":{},"id":"e046b83b-51b4-4582-aeb2-a2f8e933be33","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[260,440]},{"parameters":{"command":"n8n audit"},"id":"9ff09da2-2ea9-412b-a3ba-d39e4825bf59","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[440,440]},{"parameters":{"fromEmail":"n8n@gov.bc.ca","toEmail":"roland.stens@gmail.com","subject":"N8N Audit Report","text":"={{ $node[\"Execute Command\"].json.stdout }}","options":{}},"id":"7ec5e984-ac9f-4077-b05d-a65f77c51d33","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[620,440],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":4}]}},"id":"d2d2b090-f9d1-4d83-9b6f-52f8d504ac95","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[260,280]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":"DEFAULT","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"352b2be6-5a4f-4621-865f-c3ae309db457","triggerCount":1,"tags":[{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"}]},{"createdAt":"2023-02-14T08:37:16.726Z","updatedAt":"2023-04-05T00:08:38.850Z","id":"11","name":"Back Up Your n8n Workflows To Github","active":false,"nodes":[{"parameters":{},"id":"af28f832-7867-4959-82d8-45e9790cfe10","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[840,460],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Workflows\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Workflows\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Workflows\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"e97be892-be53-4416-af07-8c26c67b17f6","name":"GitHub","type":"n8n-nodes-base.github","position":[1680,300],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}},"continueOnFail":true},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"6b5d5c0f-ae4b-4c11-a97b-840fcddc1178","name":"github_status","type":"n8n-nodes-base.switch","position":[2320,440],"typeVersion":1},{"parameters":{},"id":"e91007ac-876b-4919-bc8b-a007edf0766f","name":"same","type":"n8n-nodes-base.noOp","position":[2560,240],"typeVersion":1},{"parameters":{},"id":"123ca083-de40-40c5-8ea0-d17d3e6c3776","name":"different","type":"n8n-nodes-base.noOp","position":[2560,440],"typeVersion":1},{"parameters":{},"id":"f798adff-42c7-400c-9f42-ca913d631ec2","name":"new","type":"n8n-nodes-base.noOp","position":[2560,620],"typeVersion":1},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Workflows\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Workflows\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Workflows\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"},"id":"5526efe9-c7fd-4cd5-8ba6-adda3b9c6629","name":"GitHub Edit","type":"n8n-nodes-base.github","position":[2740,440],"typeVersion":1,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Workflows\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Workflows\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Workflows\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"},"id":"0e919b9b-a810-4fe4-be21-f18d11d15a25","name":"GitHub Create","type":"n8n-nodes-base.github","position":[2740,620],"typeVersion":1,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"batchSize":1,"options":{}},"id":"4ffbe161-ac7b-4786-a06e-07679bc8ab6d","name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[1460,460],"typeVersion":1},{"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":12}]}},"id":"9815a578-3e63-4128-bea5-8301745606b7","name":"Every 12 hours","type":"n8n-nodes-base.cron","position":[840,600],"typeVersion":1},{"parameters":{"content":"## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - bcgov\nrepo.name - put\nrepo.path - framework","height":339.3505033383823,"width":830.55476973075},"id":"fbdcfdd9-4f07-48e7-8586-092d67c7fe59","name":"Note","type":"n8n-nodes-base.stickyNote","position":[560,20],"typeVersion":1},{"parameters":{"content":"## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`","height":424.04333333333386,"width":755.2349999999991},"id":"29078a78-b383-48da-be23-2d959fd82ada","name":"Note2","type":"n8n-nodes-base.stickyNote","position":[1440,180],"typeVersion":1},{"parameters":{"content":"## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.","height":693.9283333333326,"width":666.4416666666662},"id":"cc2c5992-4fec-4374-be41-a6f92149f3ba","name":"Note3","type":"n8n-nodes-base.stickyNote","position":[2280,120],"typeVersion":1},{"parameters":{"filters":{}},"id":"926f0d45-31e5-4322-a9d8-36b8f8020076","name":"n8n","type":"n8n-nodes-base.n8n","position":[1220,460],"typeVersion":1,"credentials":{"n8nApi":{"id":"11","name":"n8n account"}}},{"parameters":{"jsCode":"// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"},"id":"17871023-92b4-422d-863d-e5c271fe413b","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[2080,440],"typeVersion":1},{"parameters":{},"id":"581f2f11-c853-41f2-bc02-c3d8dcc57f19","name":"Merge","type":"n8n-nodes-base.merge","position":[1900,440],"typeVersion":2},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"bcgov"},{"name":"repo.name","value":"put"},{"name":"repo.path","value":"framework/workflows/"}]},"options":{}},"id":"3ca3580c-fa09-4669-8d9e-4ed5c0032d27","name":"Workflows","type":"n8n-nodes-base.set","position":[1020,460],"typeVersion":1}],"connections":{"n8n":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Workflows","type":"main","index":0}]]},"Workflows":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Every 12 hours":{"main":[[{"node":"Workflows","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41","saveExecutionProgress":"DEFAULT"},"staticData":null,"pinData":{},"versionId":"b3c16ae3-30c5-4101-b69b-1408b046b533","triggerCount":1,"tags":[{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"}]},{"createdAt":"2023-02-15T09:21:02.688Z","updatedAt":"2023-04-26T04:56:20.512Z","id":"12","name":"Vault Check","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"serverUrl","value":"https://api.clab.devops.gov.bc.ca:6443"},{"name":"nameSpace","value":" dbfa0f-dev"},{"name":"eMail","value":"roland.stens@gmail.com"}]},"options":{"dotNotation":false}},"id":"6ceba2f4-c168-478f-ab84-b6e91bb488dd","name":"General Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[160,-20]},{"parameters":{"command":"rm test.txt\noc logout"},"id":"81af0e70-55e5-4f81-b31e-ba8b799c530b","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1280,140]},{"parameters":{},"id":"3cb41cec-6831-4e46-b9c9-9817f7b094d8","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1420,140]},{"parameters":{"command":"=oc project {{ $node[\"General Parameters\"].json.nameSpace }}\noc scale deployment/vault-test --replicas=0\nsleep 20\noc scale deployment/vault-test --replicas=1\nsleep 40\noc rsh $(oc get pods -o name --selector app=vault-test) cat /vault/secrets/helloworld > test.txt\n "},"id":"a507c191-5696-4b29-acb5-56d1f7f1440f","name":"Vault health check","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[340,200],"retryOnFail":false,"waitBetweenTries":5000},{"parameters":{"filePath":"/data/test.txt"},"id":"e9e73508-62ae-4560-a31a-d39c4356eda0","name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[520,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.data }}","operation":"contains","value2":"world"}]}},"id":"bbdbe52e-f999-4486-8675-23bac1ac76c0","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[700,400]},{"parameters":{"setAllData":false,"sourceKey":"=data","options":{}},"id":"ab1424f8-d09b-4c55-a486-a63cbe0a4710","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[700,200]},{"parameters":{"content":"## Test if Vault Client Pod is working CLAB","height":390,"width":532},"id":"24335933-3d33-4504-a6eb-366165104794","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[312,150]},{"parameters":{"url":"https://vault-lab.developer.gov.bc.ca/v1/sys/health","options":{}},"id":"9cd5fd5b-6a6b-4849-84b8-87317f7b1280","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[340,-20]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.initialized }}","value2":"={{ true }}"}]}},"id":"86a3ad33-f80f-419a-817f-cb53c0dd9ff7","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[500,-20]},{"parameters":{"content":"## Check Vault Server KLAB","height":206,"width":700.0479072112973},"id":"939788fc-8518-47ab-9d7d-d5e55075e23e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[138.05345436207733,-80]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#devops-post-update-testing"},{"name":"rcMessage","value":"=# Vault Failure https://vault-lab.developer.gov.bc.ca/ \n* **initialized**: {{ $json.initialized.toString() }} \n* **sealed**: {{ $json.sealed.toString() }}  \n* **standby**: {{ $json.standby.toString() }} \n* **performance_standby**: {{ $json.performance_standby.toString() }}  \n* **replication_performance_mode**: {{ $json.replication_performance_mode }} \n* **replication_dr_mode**: {{ $json.replication_dr_mode }} \n* **server_time_utc**: {{ $json.server_time_utc }} \n* **version**: {{ $json.version }} \n* **cluster_name**: {{ $json.cluster_name }} \n* **cluster_id**: {{ $json.cluster_id }}\n\n@shelly.han"},{"name":"toAddress","value":"shelly.han@gov.bc.ca,hsmcs@dxcas.com"},{"name":"=textMessage","value":"="},{"name":"htmlMessage","value":"=<h1 id=\"vault-failure-klab-https-vault-lab-developer-gov-bc-ca-\">Vault Failure <a href=\"https://vault-lab.developer.gov.bc.ca/\">KLAB</a></h1> <ul> <li><strong>initialized</strong>: {{ $json.initialized.toString() }} </li> <li><strong>sealed</strong>: {{ $json.sealed.toString() }}  </li> <li><strong>standby</strong>: {{ $json.standby.toString() }} </li> <li><strong>performance_standby</strong>: {{ $json.performance_standby.toString() }}  </li> <li><strong>replication_performance_mode</strong>: {{ $json.replication_performance_mode }} </li> <li><strong>replication_dr_mode</strong>: {{ $json.replication_dr_mode }} </li> <li><strong>server_time_utc</strong>: {{ $json.server_time_utc }} </li> <li><strong>version</strong>: {{ $json.version }} </li> <li><strong>cluster_name</strong>: {{ $json.cluster_name }} </li> <li><strong>cluster_id</strong>: {{ $json.cluster_id }}</li> </ul>"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Vault Failure KLAB"},{"name":"from Address","value":"no-reply@gov.bc.ca"}]},"options":{}},"id":"11934ffb-0384-4242-a813-47a01a6456a5","name":"Set Message Params1","type":"n8n-nodes-base.set","typeVersion":1,"position":[900,0]},{"parameters":{"workflowId":"17"},"id":"0f58a9cd-2b72-4559-ad4c-a65392f104d1","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1100,420]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#devops-post-update-testing"},{"name":"rcMessage","value":"=# Vault Client Failure CLAB dbfa0f-dev\n{{ $now }}\n* **stderr**:  {{ $json.stderr }}\n\n@shelly.han"},{"name":"toAddress","value":"hsmcs@dxcas.com,shelly.han@gov.bc.ca"},{"name":"=textMessage","value":"="},{"name":"htmlMessage","value":"=<h1 id=\"vault-client-failure-clab-dbfa0f-dev\">Vault Client Failure CLAB dbfa0f-dev</h1>\n<ul>\n<li>{{ $now }}</li>\n<li><strong>stderr</strong>:  {{ $json.stderr }}</li>\n</ul>"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Vault Failure KLAB"},{"name":"from Address","value":"no-reply@gov.bc.ca"}]},"options":{}},"id":"142b6b3e-3570-48a0-9084-814f7bd7cf6c","name":"Set Message Params","type":"n8n-nodes-base.set","typeVersion":1,"position":[900,420]},{"parameters":{},"id":"7a9c1c7f-879d-45ae-b34d-47752cf9b32c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-180,-20]},{"parameters":{"workflowId":"28"},"id":"abc8a8f2-657c-4cc3-9a59-d71832270745","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[0,200],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"tokenName","value":"CLAB_VAULT_Token"},{"name":"nameSpace","value":"={{ $node[\"General Parameters\"].json.nameSpace }}"}]},"options":{}},"id":"2e4fab5c-b2ae-4043-b982-a9206c9deac4","name":"Set Token Name1","type":"n8n-nodes-base.set","typeVersion":1,"position":[-160,200]},{"parameters":{"command":"={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name1\"].json.nameSpace }}"},"id":"dd6c74b9-d4c7-4b8c-b41c-4f2449b318f9","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[160,200]},{"parameters":{"content":"## Prepare the OC Login","height":210.2471003530007,"width":489.09732728189647},"id":"06d3e57d-da1e-4dc8-8331-96dc6b5eedd2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,153.58547655068077]},{"parameters":{"errorMessage":"=Error in {{ $workflow.name }}"},"id":"b3f53262-a103-458c-8fe1-a989bf57e661","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1300,420]},{"parameters":{"height":297.9122541603631,"width":545.7589510842159},"id":"1c107aef-7e69-4fa2-91ec-1a9f97f4553c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,326.54563792234]}],"connections":{"General Parameters":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OC Logout":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Vault health check":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]},"Read Binary File":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"IF":{"main":[[{"node":"OC Logout","type":"main","index":0}],[{"node":"Set Message Params","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"IF","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Set Token Name1","type":"main","index":0}],[{"node":"Set Message Params1","type":"main","index":0}]]},"Report Error":{"main":[[{"node":"Stop and Error","type":"main","index":0},{"node":"OC Logout","type":"main","index":0}]]},"Set Message Params":{"main":[[{"node":"Report Error","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"General Parameters","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"Set Token Name1":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Vault health check","type":"main","index":0}]]},"Set Message Params1":{"main":[[{"node":"Report Error","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"9163310c-b335-4b4d-be50-e5c4bc95649a","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-02-09T09:17:30.381Z","updatedAt":"2023-04-27T05:47:11.016Z","id":"8","name":"nsx-net-test","active":false,"nodes":[{"parameters":{},"id":"acf525bc-0102-4963-8e2c-94c0f20f0ba1","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-500,-40]},{"parameters":{"values":{"string":[{"name":"nameSpace","value":"ce9012"},{"name":"osToken"},{"name":"serverUrl","value":"=https://api.{{$parameter[\"values\"][\"string\"][3][\"value\"]}}.devops.gov.bc.ca:6443"},{"name":"clusterName","value":"klab2"},{"name":"eMail","value":"roland.stens@gmail.com"}]},"options":{}},"id":"e7f5b098-30d8-44eb-bfeb-b93764b691c7","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[-340,80],"notesInFlow":true,"notes":"Set Parameters"},{"parameters":{"command":"=oc login --token={{$node[\"Set\"].json[\"osToken\"]}}  --server={{$node[\"Set\"].json[\"serverUrl\"]}}"},"id":"2d25f646-de3c-4a48-b4ab-f02ae2f426ec","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-140,340]},{"parameters":{"command":"=cd /data/platform-tools/nsx-net-test\n\nP={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}\nfor N in tools dev test prod; do\n  oc -n \"${P}-${N}\" delete all,cm,netpol,rolebindings,secrets,sa,policy -l advsol-app=nsx-net-test\ndone\noc process -f app.yaml -p PROJECT={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}| oc apply -f -\noc process -f run-test.yaml -p PROJECT={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}} -p CLUSTER={{$node[\"Set\"].parameter[\"values\"][\"string\"][3][\"value\"]}} | oc create -f -\n"},"id":"add505c3-a395-4097-ab27-c17dcb753f2a","name":"Run Test","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[20,340]},{"parameters":{"authentication":"gitPassword","operation":"clone","repositoryPath":"/data/platform-tools","sourceRepository":"https://github.com/bcgov-c/platform-tools.git"},"id":"7a0ca881-f135-4e3a-b524-29bcf5e1cc93","name":"Git","type":"n8n-nodes-base.git","typeVersion":1,"position":[-140,80],"notesInFlow":true,"credentials":{"gitPassword":{"id":"7","name":"Git BCGOV"}},"notes":"Get the test files from the repo."},{"parameters":{"content":"## NSX Networking Test\nThis is a suite of tests that will help validate all networking is working properly in a NSX cluster.\n\nThe tests will run in a product set of namespaces.\n\nKLAB2 ce9012\nEMERALD a66e79\n\n## Set Up\nYou need to `Set`:\n* **nameSpace** - ce9012 (KLAB2) or a66e79 (EMERALD)\n* **osToken** - A Openshift Token for a service account in the targeted namespace that can run the scripts.\n* **clusterName**: klab2 or emerald\n* **eMail**: Email address for the report\n\n## Git\nYou need a Git Credential (id and Personal Access Token) that has access to the [repo](https://github.com/bcgov-c/platform-tools).","height":585.0321437059936,"width":434.78906250000017},"id":"2d7e95e0-41d6-4321-90b5-362dc6902503","name":"Note","type":"n8n-nodes-base.stickyNote","position":[-940,-40],"typeVersion":1},{"parameters":{"command":"=cd /data/platform-tools/nsx-net-test\ncurl https://www.pixelbeat.org/scripts/ansi2html.sh --output ansi2html.sh\nchmod +x ansi2html.sh\n./report.sh | ./ansi2html.sh > report.html\n\n"},"id":"5c16bb4e-8957-45d6-9297-b0d165f730c3","name":"Run Report","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[300,340]},{"parameters":{},"id":"0f6599fa-ea1e-4600-9932-1ad1b4457f69","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[660,600]},{"parameters":{"content":"## Set Up","height":217,"width":383},"id":"912a5df0-4c76-4dd4-8a05-378829dabbb5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-379,28]},{"parameters":{"content":"## Run Test Code","height":194,"width":577.1543116490166},"id":"6cfb71c5-28bd-4cac-8c48-c371a4bdeb98","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,280]},{"parameters":{"content":"## Clean Up and Close","height":209.7077660110943,"width":370},"id":"e79d5dc8-4f9a-43a8-8aa4-eb39a1f2c44e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,540]},{"parameters":{"filePath":"/data/ls.html"},"id":"055eddcf-a404-42e2-85c7-d9008bb4a3b6","name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-140,600]},{"parameters":{"fromEmail":"n8n@gov.bc.ca","toEmail":"={{ $node.Set.json.eMail }}","subject":"=NSX Network Test {{ $now.toISODate() }}","emailFormat":"html","html":"={{ $json.data }}","options":{}},"id":"fd3c5c21-dffc-4a1b-8582-5700537445a7","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[180,600],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}},{"parameters":{"setAllData":false,"options":{}},"id":"d19a9057-0e2b-49b5-9290-7a61ca860120","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[20,600]},{"parameters":{"content":"## Email Report","height":209.7077660110943,"width":457.8719112455876},"id":"bfae09f7-5bbf-426b-b254-8f01aa96521d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,540]},{"parameters":{"amount":2,"unit":"minutes"},"id":"eca03057-8897-4840-bc98-d9f13d1e04d7","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[160,340],"webhookId":"af1ddd53-0a92-4f2b-89dc-d2f643628bba"},{"parameters":{"command":"rm -rf platform-tools\noc logout\n\n \n\n\n\n"},"id":"8c313f49-1929-4e43-9378-4d34a858f97d","name":"Remove Files and Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[500,600]}],"connections":{"Start":{"main":[[{"node":"Set","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Run Test","type":"main","index":0}]]},"Set":{"main":[[{"node":"Git","type":"main","index":0}]]},"Run Test":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Git":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"Run Report":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]},"Read Binary File":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Remove Files and Logout","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Run Report","type":"main","index":0}]]},"Remove Files and Logout":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"timezone":"America/Los_Angeles","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"pinData":{},"versionId":"2d1158ae-4879-4327-a01a-ff4fc780f40b","triggerCount":0,"tags":[{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"}]},{"createdAt":"2023-02-19T08:37:17.480Z","updatedAt":"2023-04-28T01:31:09.484Z","id":"14","name":"Patroni CLAB Main","active":false,"nodes":[{"parameters":{},"id":"61576b2e-b545-4738-adb1-ef7fd48eaf37","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-820,-40]},{"parameters":{},"id":"b88b51ed-6ed5-42ce-ad77-df47c7853f19","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-820,-220]},{"parameters":{"workflowId":"31"},"id":"458b16a6-d0d9-486a-bf39-a1fae02924a1","name":"Execute Patroni (Reference) Test","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-240,-640]},{"parameters":{"workflowId":"32"},"id":"00b48bf2-a459-444e-8e0c-93d8a5010c29","name":"Execute Patroni (HELM) Test","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-420,-220]},{"parameters":{"workflowId":"33"},"id":"88421309-ec1f-4da2-a3a8-c08c696d3dd8","name":"Execute Crunchy Test","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-180,-220]},{"parameters":{},"id":"394f9113-2a63-4cc0-8783-4f5891b4359e","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[80,-280]},{"parameters":{"content":"## All the Patroni Variants Tests\n\nThis is the main starting workflow for all Patroni Tests in CLAB.","height":117,"width":470},"id":"754b7354-8dc4-422f-bea5-d71016e238e4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,-560]},{"parameters":{"workflowId":"34"},"id":"580a7c81-c5d7-404f-9098-b13425e35d0d","name":"Patroni (Reference) Switch Main","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-420,-400]},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\nThese 2 tests are currently disabled until the issues with the Crunchy operator are fixed in CLAB.","height":267.59969160944667,"width":459.3378328961786},"id":"e6e8f174-8442-4d26-b8d7-8b86de8a3d36","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-460,-232.41534903185925]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Execute Patroni (Reference) Test","type":"main","index":0},{"node":"Patroni (Reference) Switch Main","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Execute Patroni (Reference) Test","type":"main","index":0},{"node":"Patroni (Reference) Switch Main","type":"main","index":0}]]},"Execute Crunchy Test":{"main":[[]]},"Execute Patroni (Reference) Test":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Patroni (Reference) Switch Main":{"main":[[{"node":"Execute Patroni (Reference) Test","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"ddcc0cab-f4ec-43c4-a106-6d0034fdd853","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-02-08T04:04:37.152Z","updatedAt":"2023-03-31T03:40:48.422Z","id":"1","name":"N8N Basic Health Check","active":false,"nodes":[{"parameters":{"url":"https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/healthz","options":{"fullResponse":true}},"id":"b3b08f64-5443-4139-a90c-7dd62a76127b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[480,300]},{"parameters":{"conditions":{"number":[{"value1":"={{$node[\"HTTP Request\"].json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"id":"b1aa7509-4166-4647-bd2c-121b92de3d02","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[680,300]},{"parameters":{},"id":"92be5063-8963-4f04-b22e-8739e1dc0005","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1300,80]},{"parameters":{"fromEmail":"no-reply@gov.bc.ca","toEmail":"roland.stens@gov.bc.ca","subject":"N8N Server Error Found","text":"=Server: {{$node[\"HTTP Request\"].parameter[\"url\"]}}\nHealth Status: {{$node[\"HTTP Request\"].json[\"body\"][\"status\"]}} \nHTTP Status: {{$node[\"HTTP Request\"].json[\"statusCode\"]}}\n\nDatabase Users: {{$node[\"Postgres\"].json[\"user\"]}}","options":{}},"id":"afa49cbf-8b3c-44ba-93e6-d8535931b68b","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[940,320],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}},{"parameters":{"channel":"#devops-post-update-testing ","text":"= {{$node[\"Send Email\"].parameter[\"subject\"]}}\n\n{{$node[\"Send Email\"].parameter[\"text\"]}}","options":{},"attachments":[]},"id":"2908ab0a-7d2e-497a-8101-5f11b8217bf7","name":"RocketChat","type":"n8n-nodes-base.rocketchat","typeVersion":1,"position":[1120,320],"alwaysOutputData":true,"credentials":{"rocketchatApi":{"id":"4","name":"Rocket account"}}},{"parameters":{"content":"## N8N Health Check\n\nQuick check on N8N running well.","height":111,"width":841},"id":"8d8db4bd-1d5f-4c60-813f-f049401c9862","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,0]},{"parameters":{},"id":"b97a7f3e-59c5-46b8-ac75-47975e909eca","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[260,300]},{"parameters":{},"id":"ded942c6-39d7-483f-91b4-f15ce7240272","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[260,480]},{"parameters":{"errorMessage":"=Error in {{ $workflow.name }}"},"id":"01eb3ef7-641c-4766-acce-8aa61c58d29a","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1300,320]}],"connections":{"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"NoOp","type":"main","index":0}],[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"RocketChat","type":"main","index":0}]]},"RocketChat":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"timezone":"America/Los_Angeles","saveExecutionProgress":"DEFAULT","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"4afaa9ad-46f7-4cb4-89f0-4646848d09b7","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-02-24T09:46:43.996Z","updatedAt":"2023-03-14T04:14:38.213Z","id":"18","name":"Trigger Run on Version Change","active":false,"nodes":[{"parameters":{"command":"oc login --token=$CLAB_TOKEN --server=https://api.clab.devops.gov.bc.ca:6443\noc project "},"id":"bca44f33-6518-43f1-beda-163d0426a4be","name":"OC Login CLAB","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-940,-140]},{"parameters":{"command":"rm -f version.json\noc version -o json > version.json"},"id":"b801bd2b-5449-496d-a4dd-66b8570869e8","name":"Get Version","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-800,-140]},{"parameters":{},"id":"ba622911-d1c7-4a36-8372-cfc6a01ab6a9","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[340,-140]},{"parameters":{"command":"oc logout"},"id":"1012efed-24d2-439a-b2b5-860ca7a737c7","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[0,-140]},{"parameters":{"fileSelector":"version.json"},"id":"fd20be5e-9afd-4d19-b88d-1d3e289a555f","name":"Read Binary Files","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[-660,-140]},{"parameters":{"options":{}},"id":"1c588906-2063-4db6-a8dd-78b28df787a4","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-520,-140]},{"parameters":{"operation":"set","key":"=serverVersion","value":"={{ $json.serverVersion }}"},"id":"ec72c96c-7759-48ab-927c-141b59ad419b","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-360,80],"credentials":{"redis":{"id":"5","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"data","key":"serverVersion","options":{}},"id":"297608d5-694a-44b0-bc17-d0b0f438c5b9","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-360,-140],"credentials":{"redis":{"id":"5","name":"Redis account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.data }}","operation":"contains","value2":"={{ $node[\"Move Binary Data\"].json.serverVersion }}"}]}},"id":"54775eec-3351-4043-ac92-9099f43904fb","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,-140]},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"13584fe4-7235-4e56-b6b6-389f06b80107","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-1140,-140]},{"parameters":{"content":"## Get Current Kubernetes Version","height":218,"width":567},"id":"fc14a34c-b3f5-4d0c-976c-21c7249937e8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,-198]},{"parameters":{"content":"## Same as before?","height":218,"width":349},"id":"aefab6b5-fe1b-4775-b74d-c140b823f45f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-200]},{"parameters":{"content":"## Trigger Runs","height":218,"width":349},"id":"b4c8cbc5-432a-4ca0-8047-055f4656fc4f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,20]},{"parameters":{"content":"## All Good, just exit","height":218,"width":530},"id":"f574fb98-aa8e-4707-b237-597dd7ec6515","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,-200]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#PUT"},{"name":"rcMessage","value":"=PUT Run on {{ $now }}"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"roland.stens@gmail.com"},{"name":"=PUT Run on {{ $now }}","value":"Test 2"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Post Update Test Run Notification"}]},"options":{}},"id":"adfa7e36-4502-49e3-8afe-4371d2836f33","name":"Set Message Params","type":"n8n-nodes-base.set","typeVersion":1,"position":[20,80]},{"parameters":{"workflowId":"17"},"id":"a4647a6c-406f-4248-912e-953695b9d420","name":"Report Run","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[180,80]},{"parameters":{"content":"## Trigger to kick off the tests when the Kubernetes version in CLAB changes\n\nThis trigger will check the CLAB Kubernetes version once every hour 24 hours a day.\nIf a change is detected, it will kick off all the tests as defined in the [**Master**](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/7) workflow.\n\nThis workflow **will not be run** until we find the correct triggering mechanism.","height":156.70454545454535,"width":894.4913419913415},"id":"082cc892-a76a-4401-90a9-05c1db56d019","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,-380]},{"parameters":{"workflowId":"7"},"id":"6dcaa813-dac4-4809-95b2-a93838b78676","name":"Run Main","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-200,80]}],"connections":{"OC Login CLAB":{"main":[[{"node":"Get Version","type":"main","index":0}]]},"Get Version":{"main":[[{"node":"Read Binary Files","type":"main","index":0}]]},"OC Logout":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Read Binary Files":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"OC Logout","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"OC Login CLAB","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Run Main","type":"main","index":0}]]},"Report Run":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Message Params":{"main":[[{"node":"Report Run","type":"main","index":0}]]},"Run Main":{"main":[[{"node":"Set Message Params","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":"DEFAULT","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"e50802d8-ab24-4882-bddb-e315c8944ac8","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:08:35.040Z","updatedAt":"2023-02-25T02:08:35.040Z","id":"5","name":"Trigger"}]},{"createdAt":"2023-02-09T01:02:56.017Z","updatedAt":"2023-04-28T04:02:23.505Z","id":"6","name":"Run Cypress Tests","active":false,"nodes":[{"parameters":{},"id":"9c978857-3a70-462c-9f99-7bafe5c5bffd","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-1860,-20]},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","requestMethod":"POST","url":"=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/dispatches","options":{"timeout":2000},"bodyParametersUi":{"parameter":[{"name":"event_type","value":"={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}"}]},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"Content-Type","value":"application/json"}]}},"id":"474ccac9-d996-462d-8d5f-b8582c9f510b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1540,-20],"alwaysOutputData":true,"executeOnce":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Check for Error\"].json[\"stdout\"]}}","operation":"isNotEmpty"}]}},"id":"5f1bfb76-700e-469f-aa74-3f01ddcd492a","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-60,240]},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","url":"=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/actions/workflows","options":{},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]}},"id":"197891da-11cf-4f71-a9c0-e91c594d56b0","name":"Get Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1400,-20],"alwaysOutputData":true,"executeOnce":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"values":{"string":[{"name":"workFlow","value":"e2e-simple"},{"name":"repoOwner","value":"bcgov"},{"name":"repoName","value":"automated-testing"}]},"options":{}},"id":"d5d50a4b-ea90-4f06-bc0d-c749d9b4b120","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1700,-20]},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","url":"=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/actions/workflows/{{$node[\"Get Workflows\"].json[\"workflows\"][1][\"id\"]}}/runs","options":{},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]}},"id":"1756438c-c530-4246-b5c8-48f270b93900","name":"Get Workflows Runs","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1160,0],"alwaysOutputData":true,"executeOnce":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","url":"=https://api.github.com/repos/{{$node[\"Set\"].json[\"repoOwner\"]}}/{{$node[\"Set\"].json[\"repoName\"]}}/actions/runs/{{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"id\"]}}/logs","responseFormat":"file","options":{},"headerParametersUi":{"parameter":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]}},"id":"3a1d843a-2b90-4bfb-bab0-49653f216aef","name":"Get Run Log","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-760,240],"alwaysOutputData":true,"executeOnce":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{},"id":"56170ca2-2fa5-4bab-bd32-ae8facff3e52","name":"Unzip Log","type":"n8n-nodes-base.compression","typeVersion":1,"position":[-600,240]},{"parameters":{"fileName":"/data/log.txt","dataPropertyName":"=file_1","options":{}},"id":"ac9ac2ee-79e1-44b6-8116-fc8ac30f16ca","name":"Store Log","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[-440,240]},{"parameters":{"command":"cat /data/log.txt | grep error]Cypress\n"},"id":"a7bdfb7f-ddb9-4c88-816e-6e47d59e5249","name":"Check for Error","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-260,240],"executeOnce":true,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{},"id":"11617535-e78d-447f-8e08-decbc961f4ad","name":"NoOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[260,580]},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"status\"]}}","value2":"completed"}]}},"id":"530fd6a6-01c4-4af3-9bc9-1dfc24bb4647","name":"Has Run Completed?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1000,0]},{"parameters":{"fromEmail":"n8n@gov.bc.ca","toEmail":"roland.stens@gmail.com","subject":"Cypress Test Failed","text":"=The following Cypress Test in https://github.com/{{$node[\"Set\"].json[\"repoOwner\"]}}/{{$node[\"Set\"].json[\"repoName\"]}} failed: {{$node[\"Set\"].json[\"workFlow\"]}}\nThe test run can be reviewed here: {{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"html_url\"]}}","options":{}},"id":"4edbce78-e269-4049-9412-b042230c8dd0","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[140,220],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}},{"parameters":{"command":"rm /data/log.txt\n"},"id":"2c0379e9-8fbb-4b1d-b297-d4b89bf31ea0","name":"Clean Up log file","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[80,400],"executeOnce":true,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"amount":20,"unit":"seconds"},"id":"c00f43ce-1015-46a7-bdc3-16981b555a55","name":"Wait 20 Secs","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-1020,240],"webhookId":"f32a2d50-1ca4-486a-aff6-a183ca3e2ec0"}],"connections":{"Start":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Wait 20 Secs","type":"main","index":0}]]},"Get Workflows Runs":{"main":[[{"node":"Has Run Completed?","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Get Run Log":{"main":[[{"node":"Unzip Log","type":"main","index":0}]]},"Unzip Log":{"main":[[{"node":"Store Log","type":"main","index":0}]]},"Store Log":{"main":[[{"node":"Check for Error","type":"main","index":0}]]},"Check for Error":{"main":[[{"node":"IF","type":"main","index":0},{"node":"Clean Up log file","type":"main","index":0}]]},"Has Run Completed?":{"main":[[{"node":"Get Run Log","type":"main","index":0}],[{"node":"Wait 20 Secs","type":"main","index":0}]]},"IF":{"main":[[{"node":"Clean Up log file","type":"main","index":0},{"node":"Send Email","type":"main","index":0}],[{"node":"Clean Up log file","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Clean Up log file":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Wait 20 Secs":{"main":[[{"node":"Get Workflows Runs","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"2396e341-9c3b-438c-a3f1-bca1f50ecc00","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"},{"createdAt":"2023-02-25T02:10:52.949Z","updatedAt":"2023-02-25T02:10:52.949Z","id":"6","name":"Example"}]},{"createdAt":"2023-03-08T09:55:40.447Z","updatedAt":"2023-04-13T03:37:12.534Z","id":"32","name":"Patroni CLAB (HELM)","active":false,"nodes":[{"parameters":{},"id":"b75db2dc-04a2-4962-9b0f-d6b4a921b3f6","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-180]},{"parameters":{"command":"=PODNAME=$(oc get pods --namespace {{ $node[\"Set Token Name\"].json.nameSpace }} -l \"app.kubernetes.io/name=patroni,app.kubernetes.io/instance=test-patroni-instance,role=master\" -o jsonpath=\"{.items[0].metadata.name}\") \n\nCONTAINERPORT=$(oc get pod --namespace {{ $node[\"Set Token Name\"].json.nameSpace }} $PODNAME -o jsonpath=\"{.spec.containers[0].ports[0].containerPort}\")  \n\necho $PODNAME\necho $CONTAINERPORT\n\nnohup oc --namespace {{ $node[\"Set Token Name\"].parameter[\"values\"][\"string\"][1][\"value\"] }} port-forward $PODNAME 8432:$CONTAINER_PORT > /dev/null 2>&1 & \nsleep 10\njobs"},"id":"1d49c21a-8b8e-41dc-9728-7823af68430c","name":"Set Port Forward Patroni","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-220,-80]},{"parameters":{},"id":"4a93771e-d445-45ba-acd7-429a0514d31d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1180,-360]},{"parameters":{"command":"kill %1\noc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh"},"id":"81ebbf04-60e1-494d-bc32-01e97f75dfc8","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1000,-360]},{"parameters":{"workflowId":"17"},"id":"49b885d1-7039-41a9-b926-b05cb761e5fa","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[740,-60]},{"parameters":{"values":{"string":[{"name":"tokenName","value":"CLAB_Token"},{"name":"nameSpace","value":"e31b6b-dev"}]},"options":{}},"id":"e1ee6e80-e4f0-40ad-99dd-6f42706adf3b","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[-740,-80]},{"parameters":{"workflowId":"28"},"id":"a057caa3-1ba4-4571-9242-9ae9b81211eb","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-580,-80],"alwaysOutputData":true},{"parameters":{"command":"=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"},"id":"c3e3facd-b776-4181-9a41-0cd73da16071","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-420,-80]},{"parameters":{},"id":"fa3258ca-d57c-4e05-ba29-0f2018d751c7","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-960,0]},{"parameters":{"content":"## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.","height":336.5625,"width":471.25},"id":"e0f48790-90f9-48bc-9452-9e4999f0679d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,-186.85356782652548]},{"parameters":{"content":"## Forward the DB port to localhost","height":336.5625,"width":252.5},"id":"3a9adda7-1775-4cef-952c-c0f5bb87ddfa","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-186]},{"parameters":{"content":"## Run the Test Script","height":331.875,"width":252.5},"id":"186fea85-af61-45e8-b809-cdd5577b843a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-180]},{"parameters":{"content":"## Check the result","height":331.875,"width":233.75},"id":"6bbee1fa-9ccf-4cb8-beb1-fea8ce650996","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,-180]},{"parameters":{"operation":"executeQuery","query":"create table IF NOT EXISTS lat_longs  (   c1 bigint generated always as identity,   c2 float );  \n\ninsert into lat_longs(c2) select random() * 100 from generate_series(1,10e3) as g(id);  commit;  \n\nselect count(*) from lat_longs;\n\ndrop table lat_longs;","additionalFields":{}},"id":"10cd21ed-2af4-4b22-88fe-eba506704fff","name":"Postgres Test","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[40,-80],"credentials":{"postgres":{"id":"12","name":"Patroni (HELM)"}}},{"parameters":{"content":"## Close the Workflow","height":513.4527191558439,"width":376.94128787878833},"id":"a25e2d82-e3c5-458a-94ab-d75913183dfe","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,-420]},{"parameters":{"content":"## Report the Error","height":217.8125,"width":418.125},"id":"c0f0b3f7-554d-4435-ae21-fc7035e29e5f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,-120]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.count }}","value2":"10000"}]}},"id":"c2349da6-25ef-43ac-972c-deada65f9c0e","name":"Check","type":"n8n-nodes-base.if","typeVersion":1,"position":[280,-80]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#devops-post-update-testing"},{"name":"rcMessage","value":"Patroni (HELM) Failed Post Update Test"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"roland.stens@gmail.com"},{"name":"textMessage","value":"Test 2"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Patroni (HELM) Failed Post Update Test"}]},"options":{}},"id":"ad793bef-fb8c-44af-84cb-fbe5a5b0ebed","name":"Set Message Params for Error Report1","type":"n8n-nodes-base.set","typeVersion":1,"position":[560,-60]},{"parameters":{"errorMessage":"=Error in {{ $workflow.name }}"},"id":"08584b9c-834c-47ec-a040-d87d19c247a3","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1000,-60]},{"parameters":{"content":"## This is the test for the HELM Patroni installed in CLAB\n\nFrom https://github.com/bcgov/nr-patroni-chart\n","height":146.76237824675292,"width":863.6390692640689},"id":"cb3a9723-dcef-4801-836d-5208513d8ee1","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,-440]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"Set Port Forward Patroni":{"main":[[{"node":"Postgres Test","type":"main","index":0}]]},"OC Logout":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Report Error":{"main":[[{"node":"Stop and Error","type":"main","index":0},{"node":"OC Logout","type":"main","index":0}]]},"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Set Port Forward Patroni","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"Postgres Test":{"main":[[{"node":"Check","type":"main","index":0}]]},"Check":{"main":[[{"node":"OC Logout","type":"main","index":0}],[{"node":"Set Message Params for Error Report1","type":"main","index":0}]]},"Set Message Params for Error Report1":{"main":[[{"node":"Report Error","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"9ab957f2-85a6-411e-ae94-ad69e1e25b49","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-03-08T10:02:24.816Z","updatedAt":"2023-04-28T00:13:33.097Z","id":"33","name":"Patroni CLAB (Crunchy)","active":false,"nodes":[{"parameters":{},"id":"b80845cf-ba65-45e6-a54c-c534cc7b0adf","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-180]},{"parameters":{"command":"=nohup oc port-forward svc/hippo-pgbouncer 15438:5432 > /dev/null 2>&1 & \nsleep 10\njobs\n"},"id":"53a0b590-ebf9-4446-9e15-8d4f4bee9447","name":"Set Port Forward Patroni","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-220,-80]},{"parameters":{},"id":"9d6d07ce-ba3b-4b1a-88c8-429b0aaaad48","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1220,-360]},{"parameters":{"command":"kill %1\noc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh"},"id":"3fa7d87b-42fe-4159-9160-aed2b066f4e9","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1040,-360]},{"parameters":{"workflowId":"17"},"id":"5318823c-35ec-4be0-8a5f-55d6f1b123c6","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[740,-60]},{"parameters":{"values":{"string":[{"name":"tokenName","value":"CLAB_Token"},{"name":"nameSpace","value":"e31b6b-dev"}]},"options":{}},"id":"749e016d-51fe-4bfd-8109-db5f743c3f55","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[-740,-80]},{"parameters":{"workflowId":"28"},"id":"d5336de7-de90-4857-8f72-a9d4c51de862","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-580,-80],"alwaysOutputData":true},{"parameters":{"command":"=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"},"id":"889a321f-714e-470a-b4bb-b0199764108e","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-420,-80]},{"parameters":{},"id":"c877c612-0b57-4728-bd1e-c13e1c02d45d","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-960,0]},{"parameters":{"content":"## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.","height":336.5625,"width":471.25},"id":"a5b4db6a-02c9-43d7-a7bc-a5d7f158e341","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,-186.85356782652548]},{"parameters":{"content":"## Forward the DB port to localhost","height":336.5625,"width":252.5},"id":"4257e21a-2aaf-47ef-98ad-185fbe92aaa5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-186.25]},{"parameters":{"content":"## Run the Test Script","height":331.875,"width":252.5},"id":"b7830838-816f-48d5-9b5a-ee091c7abe87","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-180]},{"parameters":{"content":"## Check the result","height":331.875,"width":233.75},"id":"90c80ddf-0c4f-4bd3-91fe-efe4b865405b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,-180]},{"parameters":{"operation":"executeQuery","query":"create table IF NOT EXISTS lat_longs  (   c1 bigint generated always as identity,   c2 float );  \n\ninsert into lat_longs(c2) select random() * 100 from generate_series(1,10e3) as g(id);  commit;  \n\nselect count(*) from lat_longs;\n\ndrop table lat_longs;","additionalFields":{}},"id":"4123be6d-b46a-45ee-b289-e792b07a5255","name":"Postgres Test","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[40,-80],"credentials":{"postgres":{"id":"15","name":"Postgres Crunchy"}}},{"parameters":{"content":"## Close the Workflow","height":527.5937657589516,"width":418.125},"id":"7c2a8bee-4087-4516-8f74-7dc41ecafd94","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,-420]},{"parameters":{"content":"## Report the Error","height":217.8125,"width":418.125},"id":"7b3d4318-d7b0-4df0-94f9-406effcc7d20","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,-120]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.count }}","value2":"10000"}]}},"id":"7f86bdc4-bbd1-4ac0-8b0f-c1a0fe7e2d87","name":"Check","type":"n8n-nodes-base.if","typeVersion":1,"position":[280,-80]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#devops-post-update-testing"},{"name":"rcMessage","value":"Crunchy Failed Post Update Test"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"roland.stens@gmail.com"},{"name":"textMessage","value":"Test 2"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Crunchy Failed Post Update Test"}]},"options":{}},"id":"8c88bea2-8350-4473-8d20-3eaf0e3f7008","name":"Set Message Params for Error Report","type":"n8n-nodes-base.set","typeVersion":1,"position":[560,-60]},{"parameters":{"errorMessage":"=Error in {{ $workflow.name }}"},"id":"506d371f-4d5a-4e97-bbd4-73f5bf4563eb","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1060,-60]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"Set Port Forward Patroni":{"main":[[{"node":"Postgres Test","type":"main","index":0}]]},"OC Logout":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Report Error":{"main":[[{"node":"Stop and Error","type":"main","index":0},{"node":"OC Logout","type":"main","index":0}]]},"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Set Port Forward Patroni","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"Postgres Test":{"main":[[{"node":"Check","type":"main","index":0}]]},"Check":{"main":[[{"node":"OC Logout","type":"main","index":0}],[{"node":"Set Message Params for Error Report","type":"main","index":0}]]},"Set Message Params for Error Report":{"main":[[{"node":"Report Error","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"a2f13d3a-89d1-46dc-a141-36c73368aa23","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-03-31T03:37:03.120Z","updatedAt":"2023-04-28T04:05:59.812Z","id":"47","name":"Remotely Trigger Workflows","active":true,"nodes":[{"parameters":{"path":"start_workflow","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"67465315-899e-451a-90fd-fa21870348c7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[880,480],"webhookId":"64895dcd-e86d-4c14-85fe-33ce4655c155"},{"parameters":{"workflowId":"={{ $json.query.id }}"},"id":"f43ed6b4-e389-40d3-862f-e80e7f69127f","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1100,480]},{"parameters":{"content":"## This Workflow is used to trigger any other workflow \n\nBy simply providing the workflow ID as a query parameter to the webhook. This is used by the uptime tool to trigger a workflow.\n\nhttps://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/webhook/start_workflow?id=1\n\nid \t                   Name                    \n1\t N8N Basic Health Check\n3\t Artifactory Basic Health Check\n7\t Main\n12\t Vault Check\n14\t Patroni CLAB Main\n27\t Trigger N8N image build on Version Change\n31\t Patroni CLAB (Reference)\n32\t Patroni CLAB (HELM)\n33\t Patroni CLAB (Crunchy)\n34\t Patroni CLAB (Reference) - Switch Leader\n","height":424,"width":1054},"id":"0cacf005-9dbd-47dc-b390-74f0b10938f1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,280]}],"connections":{"Webhook":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"886d3d56-95eb-42e0-8d3b-f588d6845ac5","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"},{"createdAt":"2023-02-08T06:06:16.935Z","updatedAt":"2023-02-08T06:06:16.935Z","id":"1","name":"PUT"},{"createdAt":"2023-02-25T02:08:35.040Z","updatedAt":"2023-02-25T02:08:35.040Z","id":"5","name":"Trigger"}]},{"createdAt":"2023-04-19T03:17:51.338Z","updatedAt":"2023-04-19T03:58:19.127Z","id":"55","name":"Mongo Connection String Common Component","active":false,"nodes":[{"parameters":{"content":"## Build OC Login Command\n\nThis workflow gets called while providing the **tokenName** in the calling workflow. \n\nThe workflow will find the token from the credential and will build the `oc login` statement that you can use.\n\n### Do not change this workflow as it is a common component used by other workflows.","height":217,"width":717},"id":"9f5d0fd1-f077-4661-aaf5-79b61e235412","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-40]},{"parameters":{"command":"=n8n export:credentials --all --decrypted | jq -r '.[] | select(.name | contains(\"{{ $node[\"Execute Workflow Trigger\"].json.tokenName }}\")).data.value' | tr -d '\\n'"},"id":"91990dc8-7aaf-4bde-98cd-eb7323ef4530","name":"Get Token","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[420,200]},{"parameters":{},"id":"e31583af-2fb2-4a6b-af99-897f37d1efef","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[220,200]},{"parameters":{"jsCode":"return [{ \"mongoConnectionString\": $('Get Token').item.json.stdout }];"},"id":"d48283ee-8e57-4fd0-9abe-14938283b309","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[580,200]}],"connections":{"Get Token":{"main":[[{"node":"Code","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Code":{"main":[[]]}},"settings":{"saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"ba9605f2-2b02-4913-9fca-46aca7284994","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:50.772Z","updatedAt":"2023-02-25T02:07:50.772Z","id":"4","name":"Common Component"}]},{"createdAt":"2023-03-10T02:22:08.440Z","updatedAt":"2023-04-19T04:14:17.690Z","id":"37","name":"Clean Up GOLD","active":true,"nodes":[{"parameters":{"values":{"string":[{"name":"tokenName","value":"GOLD_Token"},{"name":"nameSpace","value":"bf5ef6-dev"}]},"options":{}},"id":"d033b9f1-7cf2-45d8-8a1c-9e08ad1c4976","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[1360,340]},{"parameters":{"workflowId":"28"},"id":"14b25078-e9c8-45fe-bda1-236856d63e02","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1520,340],"alwaysOutputData":true},{"parameters":{},"id":"a150ed99-4df0-41e7-8bf1-1154a13f0d8b","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1180,340]},{"parameters":{"command":"=# Make sure there are no remaining sessions\noc logout\n# Kill all hanging oc processes\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n# login\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}\n# Clean out stopped pods and RCs\noc delete pods --field-selector=status.phase!=Running\noc delete ReplicationController --field-selector=status.replicas=0\n# Logout\noc logout\n# Kill all hanging oc processes\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"},"id":"feda7f71-01d4-4ed9-812a-743a7bfb2373","name":"OC Login & Clean","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1680,340]},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"c9ee2813-d32c-4ccc-b7c9-de5dd285079a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[1180,200]}],"connections":{"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login & Clean","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"OC Login & Clean":{"main":[[]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"85d2dc82-f690-429c-b7d7-b0286301b31e","triggerCount":1,"tags":[{"createdAt":"2023-03-10T02:26:00.290Z","updatedAt":"2023-03-10T02:26:00.290Z","id":"9","name":"OpenShift"},{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"}]},{"createdAt":"2023-03-08T09:34:45.027Z","updatedAt":"2023-05-02T01:48:38.849Z","id":"31","name":"Patroni CLAB (Reference)","active":false,"nodes":[{"parameters":{},"id":"938e8088-99b0-4e45-b904-a4def0d0ca8c","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-180]},{"parameters":{"command":"=nohup oc port-forward svc/patroni-reference-master 15433:5432 > /dev/null 2>&1 & \nsleep 10\njobs\n"},"id":"cd9d3abe-5973-469d-9b81-b58cfdcb39d8","name":"Set Port Forward Patroni","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[200,-100]},{"parameters":{},"id":"079d68b8-98bd-45cd-a0c2-30f6dddad254","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1508,-120]},{"parameters":{"command":"oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"},"id":"394128d7-956c-4a78-8e7e-bc055608ca61","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1320,-120]},{"parameters":{"workflowId":"17"},"id":"0c70eea4-a145-44be-bace-0a9093fc5ad3","name":"Report Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1128,240]},{"parameters":{"values":{"string":[{"name":"tokenName","value":"CLAB_Token"},{"name":"nameSpace","value":"e31b6b-dev"}]},"options":{}},"id":"109a0019-53ec-48b1-bb18-784161e6282f","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[-740,-80]},{"parameters":{"workflowId":"28"},"id":"54b4fd5a-80c7-4ad9-a298-45a7351ce1a3","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-580,-80],"alwaysOutputData":true},{"parameters":{"command":"=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"},"id":"22d04b59-f5f8-4047-966d-da291fcd4513","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-420,-80]},{"parameters":{},"id":"467f183b-ab0d-4f4f-9404-123ec9c929a5","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-960,0]},{"parameters":{"content":"## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.","height":336.5625,"width":471.25},"id":"6a30141e-acb9-4781-940a-f101f3577dd4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,-186.85356782652548]},{"parameters":{"content":"## Forward the DB port to localhost","height":324.1121722138173,"width":252.5},"id":"70125b5f-13d8-4e18-8f8d-9f04b36913f3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,-180]},{"parameters":{"content":"## Run the Test Script","height":331.875,"width":230.71192637418068},"id":"7551a465-14c5-4501-88cb-74f59efcd269","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,-180]},{"parameters":{"content":"## Check the result","height":331.875,"width":233.75},"id":"c836694b-b171-4c6f-a8b8-e6beb8e72884","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,-180]},{"parameters":{"operation":"executeQuery","query":"create table IF NOT EXISTS lat_longs  (   c1 bigint generated always as identity,   c2 float );  \n\ninsert into lat_longs(c2) select random() * 100 from generate_series(1,10e3) as g(id);  commit;  \n\nselect count(*) from lat_longs;\n\ndrop table lat_longs;","additionalFields":{}},"id":"22c477f1-9319-4c71-89ce-166100372d8c","name":"Postgres Test","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[460,-100],"credentials":{"postgres":{"id":"13","name":"Patroni (Reference)"}}},{"parameters":{"content":"## Close the Workflow","height":571.1994768028239,"width":377.6614346949063},"id":"7d898d90-fb73-4135-a7ae-d8c89a0713fb","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1301.7748361069087,-180]},{"parameters":{"content":"## Report the Error","height":217.8125,"width":361.0555345436212},"id":"658325ce-8449-4fbb-ab80-aaccab1b5797","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,180]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.count }}","value2":"10000"}]}},"id":"b0b205b5-a480-4431-9e5d-6714be01be66","name":"Check","type":"n8n-nodes-base.if","typeVersion":1,"position":[708,-100]},{"parameters":{"values":{"string":[{"name":"rcChannel","value":"#devops-post-update-testing"},{"name":"rcMessage","value":"Patroni (Reference) Failed Post Update Test"},{"name":"fromAddress","value":"no-reply@gov.bc.ca"},{"name":"toAddress","value":"roland.stens@gmail.com"},{"name":"textMessage","value":"Test 2"},{"name":"htmlMessage"},{"name":"ccAddress"},{"name":"bccAddress"},{"name":"subJect","value":"=Patroni (Reference) Failed Post Update Test"}]},"options":{}},"id":"077274d8-bc0d-4e96-bf64-1b291de362db","name":"Set Message Params for Error Report","type":"n8n-nodes-base.set","typeVersion":1,"position":[968,240]},{"parameters":{"command":"=oc project {{ $node[\"Set Token Name\"].json.nameSpace }} > /dev/null\noc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- /usr/share/scripts/patroni/health_check.sh"},"id":"a585feed-cb68-4ad1-8a9a-f1f14d55d44f","name":"Check Readiness","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-280,-80],"continueOnFail":true},{"parameters":{"jsCode":"return JSON.parse($('Check Readiness').item.json.stdout);"},"id":"7d87f7ee-bcd7-4d17-817b-19a40028b666","name":"Get Result","type":"n8n-nodes-base.code","typeVersion":1,"position":[-140,-80]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.State }}","value2":"running"}]}},"id":"7f643685-518b-4221-b3d4-53ea19ed5147","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,-80]},{"parameters":{"content":"## Check Readiness","height":333.5588439233485,"width":426.71205244578886},"id":"14dd73a6-e4ed-42ef-b0ab-9162a1555ef3","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-184.50548411497726]},{"parameters":{"errorMessage":"=Error in {{ $workflow.name }}"},"id":"d1ef826a-6bce-4fa0-b1a0-a473db9dd233","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1340,240]},{"parameters":{"content":"## Test Patroni Reference Install\n\nFrom: https://github.com/bcgov/patroni-postgres-container","width":1397.880484114978},"id":"1fd91291-82a6-4ca2-b85c-f2a8e94ed9a5","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,-500]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"Set Port Forward Patroni":{"main":[[{"node":"Postgres Test","type":"main","index":0}]]},"OC Logout":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Report Error":{"main":[[{"node":"OC Logout","type":"main","index":0},{"node":"Stop and Error","type":"main","index":0}]]},"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"Postgres Test":{"main":[[{"node":"Check","type":"main","index":0}]]},"Check":{"main":[[{"node":"OC Logout","type":"main","index":0}],[{"node":"Set Message Params for Error Report","type":"main","index":0}]]},"Set Message Params for Error Report":{"main":[[{"node":"Report Error","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Check Readiness","type":"main","index":0}]]},"Check Readiness":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Set Port Forward Patroni","type":"main","index":0}],[{"node":"Set Message Params for Error Report","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41","saveManualExecutions":true},"staticData":null,"pinData":{},"versionId":"6d8f021f-3433-48ca-87de-230a980ce1c5","triggerCount":0,"tags":[{"createdAt":"2023-02-25T02:07:35.632Z","updatedAt":"2023-02-25T02:07:35.632Z","id":"3","name":"Test"}]},{"createdAt":"2023-03-14T06:24:03.971Z","updatedAt":"2023-04-13T04:39:45.429Z","id":"43","name":"Back Up Your n8n Credentials To Github","active":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $node.Credentials.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $node.Credentials.json.repo.name }}","mode":"name"},"filePath":"={{ $node[\"Credentials\"].json[\"repo\"][\"path\"] }}{{ $node[\"Postgres\"].json[\"name\"] }}.json","additionalParameters":{}},"id":"69f188c8-4154-4fd0-8b63-9589e78da822","name":"GitHub","type":"n8n-nodes-base.github","position":[1120,340],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}},"continueOnFail":true},{"parameters":{},"id":"5bd4efa3-78dd-414d-9fc9-5f8bcbd462bd","name":"same","type":"n8n-nodes-base.noOp","position":[2340,240],"typeVersion":1},{"parameters":{},"id":"c08e7791-b143-4738-a6ed-6002dfd66079","name":"different","type":"n8n-nodes-base.noOp","position":[2440,440],"typeVersion":1},{"parameters":{},"id":"fc88f585-4ec2-4cb5-968f-d3983dbb44ea","name":"new","type":"n8n-nodes-base.noOp","position":[2440,620],"typeVersion":1},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $node[\"Credentials\"].json[\"repo\"][\"owner\"] }}","mode":""},"repository":{"__rl":true,"value":"={{ $node.Credentials.json.repo.name }}","mode":""},"filePath":"={{ $node[\"Credentials\"].json[\"repo\"][\"path\"] }}{{ $node[\"Postgres\"].json[\"name\"] }}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"},"id":"8b4faeea-b19a-4087-b72b-d2843f9ac4d6","name":"GitHub Edit","type":"n8n-nodes-base.github","position":[2620,440],"typeVersion":1,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $node[\"Credentials\"].json[\"repo\"][\"owner\"] }}","mode":""},"repository":{"__rl":true,"value":"={{ $node[\"Credentials\"].json[\"repo\"][\"name\"] }}","mode":""},"filePath":"={{ $node[\"Credentials\"].json[\"repo\"][\"path\"] }}{{ $node[\"Postgres\"].json[\"name\"] }}.json","fileContent":"{{$node[\"Read Binary Files\"].json.data}}","commitMessage":"=[N8N Backup] {{ $node[\"Postgres\"].json[\"name\"] }}.json [New]"},"id":"9890630c-0c7a-4fcc-9d7c-fb4523dc567f","name":"GitHub Create","type":"n8n-nodes-base.github","position":[2620,620],"typeVersion":1,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"412b93d8-d9b2-482a-8f77-bc78fe6b3242","name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[580,480],"typeVersion":1},{"parameters":{"content":"## Credentials Backups\nThis workflow will automatically backup your credentials to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - bcgov\nrepo.name - put\nrepo.path - framework","height":464.79920462713443,"width":389.78906250000017},"id":"745d79ba-a6c9-4941-80ec-b0cdc0e91a93","name":"Note","type":"n8n-nodes-base.stickyNote","position":[-540,120],"typeVersion":1},{"parameters":{"content":"## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`","height":424.04333333333386,"width":755.2349999999991},"id":"efeda715-f5f2-4025-988f-481c7fb060c7","name":"Note2","type":"n8n-nodes-base.stickyNote","position":[1480,880],"typeVersion":1},{"parameters":{"content":"## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.","height":693.9283333333326,"width":666.4416666666662},"id":"01fd5895-8972-4bfb-a072-3e825a969565","name":"Note3","type":"n8n-nodes-base.stickyNote","position":[2060,120],"typeVersion":1},{"parameters":{"filters":{}},"id":"9d813f50-f3bb-46b5-9aa2-4a884f2b0229","name":"n8n","type":"n8n-nodes-base.n8n","position":[160,120],"typeVersion":1,"credentials":{"n8nApi":{"id":"11","name":"n8n account"}}},{"parameters":{"jsCode":"// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"},"id":"a1ac20b5-cbc8-4650-ae50-e674698b670f","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[2340,1000],"typeVersion":1},{"parameters":{"mode":"combine","mergeByFields":{"values":[{}]},"options":{}},"id":"db516f8a-737a-408e-9b9a-fdbffd4c7447","name":"Merge","type":"n8n-nodes-base.merge","position":[1780,440],"typeVersion":2,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"bcgov"},{"name":"repo.name","value":"put"},{"name":"repo.path","value":"framework/workflows/credentials"}]},"options":{}},"id":"3f4d056c-6efc-46dd-9b62-61afd67d19a5","name":"Workflows","type":"n8n-nodes-base.set","position":[-40,120],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"bcgov"},{"name":"repo.name","value":"put"},{"name":"repo.path","value":"framework/credentials/"}]},"options":{}},"id":"bd694101-1dd3-4053-a5b8-b81e330bbe6e","name":"Credentials","type":"n8n-nodes-base.set","position":[-100,480],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"select id,name from credentials_entity order by id;","additionalFields":{"mode":"independently"}},"id":"bc1a21cb-c43a-4e2d-92f9-4b471205de00","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[400,500],"credentials":{"postgres":{"id":"21","name":"N8N database access"}}},{"parameters":{"command":"rm -f *.*\nrm -f -R backups\nmkdir backups\nmkdir backups/credentials\nn8n export:credentials --backup --output=backups/credentials/ > null\nmkdir backups/workflows\nn8n export:workflow --all --output=backups/workflows/ > null\n\n"},"id":"5f0cc5d9-57c7-4cb9-a395-59d38b305ae8","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[80,480]},{"parameters":{},"id":"5e971a91-f84b-448a-a053-bd7fc88584ac","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,600]},{"parameters":{"fileSelector":"=/data/backups/credentials/{{ $node.Postgres.json.id }}.json"},"id":"17d263e8-1e0e-4f8e-9cf3-f08d61ea3e35","name":"Read Binary Files","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[1360,480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"From GitHub\"].json.data }}","operation":"contains","value2":"={{ $node[\"From backup\"].json.data }}"}]}},"id":"25fa470a-f223-4ffa-8e85-79e45ae5b4a6","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1960,440]},{"parameters":{"options":{}},"id":"ddbd2649-6090-4fa4-b65a-6410c90ee131","name":"From backup","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1540,480]},{"parameters":{"sourceKey":"=data","options":{}},"id":"301e35ad-c7f7-4396-a92c-a26e460cc18f","name":"From GitHub","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1360,340],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $node.Credentials.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $node.Credentials.json.repo.name }}","mode":"name"},"filePath":"={{ $node[\"Credentials\"].json[\"repo\"][\"path\"] }}{{ $node[\"Postgres\"].json[\"name\"] }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"3f6af075-6532-4a39-a194-e3589de1ba8a","name":"GitHub1","type":"n8n-nodes-base.github","position":[760,460],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}},"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name }}","operation":"isNotEmpty"}]}},"id":"487499f7-2413-4bb9-90c3-8c08215edc5b","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[940,460]},{"parameters":{"command":"=echo {{ $node.Postgres.json.name. }}.json  {{ $node.Postgres.json.id }}.json"},"id":"dc238540-2d0d-4109-a8b9-f331bc5bc865","name":"Execute Command1","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[220,880]},{"parameters":{"mergeByFields":{"values":[{}]},"options":{}},"id":"82a3b11b-7b33-4b34-9ba8-a81baec99904","name":"Compare Datasets","type":"n8n-nodes-base.compareDatasets","typeVersion":2,"position":[740,1000]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"3f39aaf9-0b35-41c9-bb10-74c0260b6819","name":"OneAtATime1","type":"n8n-nodes-base.splitInBatches","position":[260,700],"typeVersion":1},{"parameters":{"mode":"chooseBranch"},"id":"7f371023-c718-4d8e-a851-0b54c1ebf135","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2,"position":[2100,440]},{"parameters":{"command":"ls -al backups/credentials\nls -al backups/workflows\n\n"},"id":"73ff3c1f-39df-46ae-8fa1-c92bc1f681fe","name":"Execute Command2","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-100,800]}],"connections":{"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"IF","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Read Binary Files","type":"main","index":0},{"node":"From GitHub","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Workflows":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Credentials":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Credentials","type":"main","index":0}]]},"Read Binary Files":{"main":[[{"node":"From backup","type":"main","index":0}]]},"IF":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"From backup":{"main":[[{"node":"Merge","type":"main","index":1}]]},"From GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"IF1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"GitHub","type":"main","index":0}],[{"node":"Read Binary Files","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"OneAtATime1","type":"main","index":0}]]},"OneAtATime1":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Execute Command2","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":null,"pinData":{},"versionId":"0311d4d1-ecbb-4667-864c-84ca73ddce2a","triggerCount":1,"tags":[{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"}]},{"createdAt":"2023-04-19T04:19:28.438Z","updatedAt":"2023-04-19T04:56:24.613Z","id":"56","name":"System Quota Check","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"tokenName","value":"GOLD_Token"},{"name":"nameSpace","value":"bf5ef6-dev"}]},"options":{}},"id":"25c2692c-12b1-4855-aae9-ac591f1a96f4","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[1160,460]},{"parameters":{"workflowId":"28"},"id":"2a1de5ba-c70e-4534-9938-770b6461374a","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1320,460],"alwaysOutputData":true},{"parameters":{},"id":"f154fb0a-47b1-4718-ab05-f60f3a22644c","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[960,460]},{"parameters":{"command":"=# Logout\nrm storage.json\noc logout\n# Kill all hanging oc processes\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"},"id":"6f3a85fc-9d55-44f2-94b0-583532826642","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2340,460]},{"parameters":{"command":"=# Make sure there are no remaining sessions\noc logout\n# Kill all hanging oc processes\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n# login\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"},"id":"99785abf-9f09-4313-9dd4-cb9e704b4f09","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1480,460]},{"parameters":{"command":"=oc get ResourceQuota storage-quota -o json > storage.json"},"id":"17ecb95d-f0e4-4e35-bc6e-d5a67b590ed8","name":"Get Storage Quota","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1660,460]},{"parameters":{"fileSelector":"storage.json"},"id":"cac278a8-78ee-41e2-b410-4694daca4fa7","name":"Read Binary Files","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[1840,460]},{"parameters":{"options":{}},"id":"f7f68483-b177-4a84-b682-f0e01e0697b4","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2000,460]},{"parameters":{"fromEmail":"no-reply@gov.bc.ca","toEmail":"roland.stens@gov.bc.ca","subject":"Storage Quota","emailFormat":"html","html":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Gold N8N Quota Status</title>\n<style>\n    table {\n        width: 100%;\n        border-collapse: collapse;\n    }\n    th, td {\n        padding: 8px;\n        text-align: left;\n        border-bottom: 1px solid #ddd;\n    }\n    th {\n        background-color: #f2f2f2;\n    }\n    h1, h2 {\n        margin-bottom: 20px;\n    }\n    .status {\n        font-weight: bold;\n        color: green;\n    }\n</style>\n</head>\n<body>\n    <h1>Gold N8N Quota Status</h1>\n\n    <h2>Storage</h2>\n    <table>\n        <tr>\n            <th>Metric</th>\n            <th>Value</th>\n            <th>Threshold</th>\n        </tr>\n        <tr>\n            <td>Maximum</td>\n            <td>500 GB</td>\n            <td>N/A</td>\n        </tr>\n        <tr>\n            <td>Used</td>\n            <td>345 GB</td>\n            <td></td>\n        </tr>\n        <tr>\n            <td>Available</td>\n            <td>155 GB</td>\n            <td></td>\n        </tr>\n        <tr>\n            <td>Utilization</td>\n            <td>69%</td>\n            <td>&gt;= 90%</td>\n        </tr>\n    </table>\n\n    <h2>CPU</h2>\n    <table>\n        <tr>\n            <th>Metric</th>\n            <th>Value</th>\n            <th>Threshold</th>\n        </tr>\n        <tr>\n            <td>Maximum</td>\n            <td>16 cores</td>\n            <td>N/A</td>\n        </tr>\n        <tr>\n            <td>Used</td>\n            <td>12 cores</td>\n            <td></td>\n        </tr>\n        <tr>\n            <td>Available</td>\n            <td>4 cores</td>\n            <td></td>\n        </tr>\n        <tr>\n            <td>Utilization</td>\n            <td>75%</td>\n            <td>&gt;= 95%</td>\n        </tr>\n    </table>\n\n    <h2>Memory</h2>\n    <table>\n        <tr>\n            <th>Metric</th>\n            <th>Value</th>\n            <th>Threshold</th>\n        </tr>\n        <tr>\n            <td>Maximum</td>\n            <td>64 GB</td>\n            <td>N/A</td>\n        </tr>\n        <tr>\n            <td>Used</td>\n            <td>52 GB</td>\n            <td></td>\n        </tr>\n        <tr>\n            <td>Available</td>\n            <td>12 GB</td>\n            <td></td>\n        </tr>\n        <tr>\n            <td>Utilization</td>\n            <td>81.25%</td>\n            <td>&gt;= 90%</td>\n        </tr>\n    </table>\n\n    <p class=\"status\">Status: Healthy </p>\n\n    <p>There are no threshold breaches at this time. Continue monitoring the system\n","options":{}},"id":"32cd945f-b63e-4535-9e3d-b73d14cc2d09","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[2100,740],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}}],"connections":{"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Get Storage Quota","type":"main","index":0}]]},"Get Storage Quota":{"main":[[{"node":"Read Binary Files","type":"main","index":0}]]},"Read Binary Files":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"OC Logout","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"f6eb906e-b24f-4c5f-9f45-c31d8fb3ee63","triggerCount":0,"tags":[{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"},{"createdAt":"2023-03-10T02:26:00.290Z","updatedAt":"2023-03-10T02:26:00.290Z","id":"9","name":"OpenShift"}]},{"createdAt":"2023-04-14T05:12:41.018Z","updatedAt":"2023-04-19T06:01:08.002Z","id":"53","name":"Billy Test for Mongo","active":false,"nodes":[{"parameters":{},"id":"40e941f5-fe91-40ea-9b08-4f93d6eec17d","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,300]},{"parameters":{"collection":"PrivateCloudProject","options":{}},"id":"4675ab22-b820-4700-bddd-3bbbe3b03bdd","name":"MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[1260,300],"credentials":{"mongoDb":{"id":"29","name":"MongoDB account 2"}}},{"parameters":{"values":{"string":[{"name":"tokenName","value":"silver-101ed4"},{"name":"nameSpace","value":"101ed4-test"}]},"options":{}},"id":"1c761014-298e-4e33-8477-5a732c11ea5b","name":"Set Token Name","type":"n8n-nodes-base.set","typeVersion":1,"position":[240,300]},{"parameters":{"workflowId":"28"},"id":"883fa706-5652-44e6-ba4e-db4cbb1cc147","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[400,300],"alwaysOutputData":true},{"parameters":{"command":"=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"},"id":"2b4dbb0a-d3c6-46f0-8607-7f6a6ab66650","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[560,300]},{"parameters":{"content":"## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.","height":336.5625,"width":471.25},"id":"21f07d0c-69aa-4d69-bd77-aa2362438f0d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,200]},{"parameters":{"command":"nohup oc port-forward svc/mongodb 27017:27017 > /dev/null 2>&1 &\nsleep 10\njobs"},"id":"45d60d89-fe29-4c8f-bf0e-2d45fed85404","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[720,300]},{"parameters":{"command":"oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"},"id":"5014ee71-a47c-4a0d-b1e6-d8e018b97369","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1440,300]},{"parameters":{"values":{"string":[{"name":"tokenName","value":"Header Auth account"}]},"options":{"dotNotation":false}},"id":"1fffa154-1a92-450e-9bc2-fc5921947c23","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[900,300]},{"parameters":{"workflowId":"55"},"id":"87dc3f7e-3952-49c1-8229-bf7e7bf48a35","name":"Get Mongo Connection String","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1080,300],"alwaysOutputData":true}],"connections":{"Set Token Name":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"OC Logout","type":"main","index":0}]]},"Get Mongo Connection String":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Get Mongo Connection String","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"bfd2df8f-5c08-45a2-ba16-6ba15c08d816","triggerCount":0,"tags":[{"createdAt":"2023-04-05T01:27:42.296Z","updatedAt":"2023-04-05T01:27:42.296Z","id":"11","name":"Billy"}]},{"createdAt":"2023-03-08T02:21:02.700Z","updatedAt":"2023-04-20T00:30:06.711Z","id":"27","name":"Trigger N8N image build on Version Change","active":true,"nodes":[{"parameters":{"command":"n8n version | grep -o \"[0-9][\\.][0-9][0-9][0-9][\\.][0-9]\"\n"},"id":"cd42b331-ce17-4456-8201-55eae4158bd7","name":"Get Version","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-820,-140]},{"parameters":{},"id":"f5d3df30-e18e-493c-b3f0-c1eb0269de74","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-60,-160]},{"parameters":{"rule":{"interval":[{"triggerAtHour":22}]}},"id":"b5d0ed7a-d023-4dff-911e-cb0ca01a06ce","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-1140,-140]},{"parameters":{"content":"## Get Current and Latest Version","height":474.3585476550668,"width":1389.622793746848},"id":"80418f4c-3946-485e-8f6b-16cdf093614d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,-220]},{"parameters":{"url":"https://registry.npmjs.org/n8n/latest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"9f9c2a62-9bb4-4040-9ecf-66b232aa26a1","name":"Get Latest N8N Version","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-980,-140]},{"parameters":{"workflowId":"28"},"id":"5ac20052-3d3f-4e34-835a-136e936cf31d","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-360,20],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"tokenName","value":"GOLD_Token"},{"name":"nameSpace","value":"bf5ef6-tools"}]},"options":{}},"id":"9a241e78-c19f-4a1d-b60d-69f7e77220df","name":"Set Token Name1","type":"n8n-nodes-base.set","typeVersion":1,"position":[-520,20]},{"parameters":{"command":"={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name1\"].json.nameSpace }}\noc start-build bc/n8n\noc logout\n"},"id":"968bd756-1af4-4786-b440-069a8a83f336","name":"Build New Version","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-200,20]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.stdout }}","operation":"contains","value2":"={{ $node[\"Get Latest N8N Version\"].json.version }}"}]}},"id":"ee5622b1-1076-42b4-b871-76b2ffdd9fbe","name":"IF Versions are identical","type":"n8n-nodes-base.if","typeVersion":1,"position":[-660,-140]},{"parameters":{},"id":"60b32b00-591e-4ac7-938d-687b0becb0ac","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-1140,60]}],"connections":{"Get Version":{"main":[[{"node":"IF Versions are identical","type":"main","index":0}]]},"Get Latest N8N Version":{"main":[[{"node":"Get Version","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Latest N8N Version","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"Build New Version","type":"main","index":0}]]},"Set Token Name1":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"Build New Version":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"IF Versions are identical":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Set Token Name1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Get Latest N8N Version","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"41"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"2b9419d7-ef30-46a0-bb71-565bfe1a0b9e","triggerCount":1,"tags":[{"createdAt":"2023-02-25T02:08:35.040Z","updatedAt":"2023-02-25T02:08:35.040Z","id":"5","name":"Trigger"},{"createdAt":"2023-02-09T09:22:16.563Z","updatedAt":"2023-02-09T09:22:16.563Z","id":"2","name":"Platform"}]},{"createdAt":"2023-05-02T04:37:43.755Z","updatedAt":"2023-05-02T05:15:16.397Z","id":"64","name":"Back Up All","active":true,"nodes":[{"parameters":{},"id":"8bce699f-375f-494a-80b3-9d55816511c5","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[960,460]},{"parameters":{"command":"n8n export:workflow --all"},"id":"235ef67e-8b7a-43d1-a223-2efb6ea14f8c","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1160,460]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"bcgov","mode":"name"},"repository":{"__rl":true,"value":"put","mode":"name"},"filePath":"=framework/workflows/{{ $now }}.json","fileContent":"={{ $node['Execute Command'].json.stdout }}","commitMessage":"New all save"},"id":"dd44194d-bf36-493e-a1e7-1de2a29cc0d3","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1360,460],"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{"command":"n8n export:credentials --all"},"id":"c9683b0a-3919-4ef3-901e-96b5e4735492","name":"Execute Command1","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1160,600]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"bcgov","mode":"name"},"repository":{"__rl":true,"value":"put","mode":"name"},"filePath":"=framework/credentials/{{ $now }}.json","fileContent":"={{ $node['Execute Command1'].json.stdout }}","commitMessage":"New all save"},"id":"7274f189-24a7-4260-93f2-26f2d8cd1c8f","name":"GitHub1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1360,600],"credentials":{"githubApi":{"id":"6","name":"GitHub PUT"}}},{"parameters":{},"id":"5b996bd2-7fa6-486f-96eb-e9ad019d6693","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1600,460]},{"parameters":{"rule":{"interval":[{}]}},"id":"c2d9c389-9d0d-4f9d-a3d3-92283d6c1c6d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[960,280]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Execute Command","type":"main","index":0},{"node":"Execute Command1","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"GitHub1","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0},{"node":"Execute Command1","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"05c56e10-7b2a-46fc-86d3-fe3fc9f5fb6b","triggerCount":1,"tags":[]},{"createdAt":"2023-03-03T02:49:11.440Z","updatedAt":"2023-03-03T04:07:16.800Z","id":"24","name":"Credentials","active":false,"nodes":[{"parameters":{},"id":"87ac1c9f-2a57-421d-81d8-92f324023c3c","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1140,1000]},{"parameters":{"command":"n8n export:credentials --all"},"id":"a1393929-76cd-40a2-9dde-ebede7926570","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1340,1000]},{"parameters":{"fieldToSplitOut":"={{ JSON.parse($json.stdout) }}","include":"allOtherFields","options":{"disableDotNotation":false}},"id":"5c92adab-d8f2-46a9-a47f-9f64c2f03b7e","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[2160,900]},{"parameters":{"functionCode":"// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Add a new field called 'myNewField' to the JSON of the item\nitem =\n  {\n    \"portOfLoading\": {\n      \"code\": \"LVRIX\",\n      \"name\": \"RIGA\",\n      \"unLocode\": \"LVRIX\"\n    },\n    \"portOfLoadingCountryCode\": \"LV\",\n    \"portOfDischarge\": {\n      \"code\": \"DOCAU\",\n      \"name\": \"CAUCEDO\",\n      \"unLocode\": \"DOCAU\"\n    },\n    \"portOfDischargeCountryCode\": \"DO\",\n    \"voyageReference\": \"084AQR\",\n    \"nbUnits\": 0,\n    \"routes\": [\n      {\n        \"journeyLegs\": [],\n        \"containers\": [\n          {\n            \"id\": \"CMAU0907125\",\n            \"movements\": [\n              {\n                \"statusOrder\": \"637949731\",\n              \n              }\n            ]\n          },\n          {\n            \"id\": \"DFSU1202801\",\n           \n            \"movements\": [\n              {\n                \"statusOrder\": \"637949731\",\n               \n              }\n            ]\n          }\n        ]\n      }\n    ]\n  }\n;\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn item;"},"name":"FunctionItem","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[460,460],"id":"28a5f37d-33b2-4ba5-ac82-a1b385d712fe"},{"parameters":{"fieldToSplitOut":"routes","options":{}},"name":"Item Lists1","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[680,660],"id":"7de57922-9767-4a6d-9aa5-db5dbcb62146"},{"parameters":{"fieldToSplitOut":"containers","options":{}},"name":"Item Lists2","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[920,660],"id":"93880b20-6c3a-4c52-a184-2fba7a04ea4e"},{"parameters":{"fieldToSplitOut":"=routes[0].containers","options":{}},"name":"Item Lists3","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[920,460],"id":"d0459865-5be0-4a95-b49f-93687aaf5244"},{"parameters":{"jsCode":"if (Object.keys(items.stdout === 0)) {\n  return [\n     {\n       json: {\n         results: 0,\n       }\n      }\n  ]\n}\nreturn [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];\n"},"id":"5b57244a-b750-42f6-a558-65106f8669fe","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[1580,1000]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Code","type":"main","index":0}]]},"FunctionItem":{"main":[[{"node":"Item Lists3","type":"main","index":0},{"node":"Item Lists1","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Item Lists2","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"aa628f9f-5245-4e96-8147-dfd63f87324a","triggerCount":0,"tags":[]},{"createdAt":"2023-04-27T05:21:50.099Z","updatedAt":"2023-04-27T05:29:56.180Z","id":"62","name":"Artem Exercise 8","active":false,"nodes":[{"parameters":{},"id":"22dce792-3ceb-4a2e-84fd-67bce40cc627","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-180,400]},{"parameters":{"operation":"executeQuery","query":"select name, active from workflow_entity;","options":{}},"id":"08abb0e7-66f7-479f-8423-6d69351091f9","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[20,400],"credentials":{"postgres":{"id":"21","name":"N8N database access"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"898b95c3-2136-4eb4-9585-00f204004217","triggerCount":0,"tags":[]},{"createdAt":"2023-04-18T02:09:48.180Z","updatedAt":"2023-04-20T05:21:56.538Z","id":"54","name":"Artem Test","active":false,"nodes":[{"parameters":{"path":"artem-test","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=UTF-8"}]}}},"id":"acd5b7ec-47e7-42c9-844f-5c0e0bac6651","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,440],"webhookId":"dc939645-83b9-427d-b3d6-df76123aab3d","disabled":true},{"parameters":{},"id":"abed4372-a4fe-4be9-9660-318599321452","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,220]},{"parameters":{"conditions":{"boolean":[{"value1":"={{String(DateTime.now()).split('T')[0]}}","value2":"={{ String($node[\"Date & Time\"].json[\"data\"]).split('T')[0]}}"}]}},"id":"6269265f-5840-4212-b498-d530f95f545e","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[420,340]},{"parameters":{"url":"https://www.instagram.com/","options":{}},"id":"480d5892-25f2-4aa3-8de7-23eb5d78f7e2","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[660,220]},{"parameters":{"url":"https://facebook.com/","options":{"redirect":{"redirect":{"followRedirects":true}}}},"id":"7ea6f47e-a570-4038-b4cc-5db0d2dee9f2","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[660,500]},{"parameters":{"action":"calculate","value":"={{new Date()}}","timeUnit":"weeks","options":{"fromFormat":""}},"id":"35fb5781-6952-4090-ad53-04f65eef4f3b","name":"Date & Time","type":"n8n-nodes-base.dateTime","typeVersion":1,"position":[280,340]},{"parameters":{"url":"https://platsrv-registry-web-101ed4-test.apps.silver.devops.gov.bc.ca/","authentication":"genericCredentialType","options":{}},"id":"5a50e6c1-b9a6-4a3a-a268-89d45c349d35","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[100,60]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"IF":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"05460307-8630-47b4-a2e6-5febafd9cae4","triggerCount":0,"tags":[]},{"createdAt":"2023-02-08T06:51:09.555Z","updatedAt":"2023-02-23T09:04:19.294Z","id":"4","name":"OpenShift Queries","active":false,"nodes":[{"parameters":{},"id":"e8698ec4-9eef-4e0e-9d52-e933126bbdb1","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-280,580]},{"parameters":{"command":"oc api-versions \noc api-resources -o wide\n\n\n"},"id":"5e0b5fce-4514-47b5-a44c-5fac6433b72d","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[340,300]},{"parameters":{"triggerTimes":{"item":[{"mode":"everyMinute"}]}},"id":"3a99f1a6-534b-4969-9549-b9b16e8ddea2","name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-260,300]},{"parameters":{"command":"=oc login --token={{$node[\"General Parameters\"].json[\"token\"]}} --server={{$node[\"General Parameters\"].json[\"serverUrl\"]}}"},"id":"a31a3985-e69f-4676-8dd9-9ca62dea8599","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[160,300]},{"parameters":{"values":{"string":[{"name":"token"},{"name":"serverUrl","value":"https://api.gold.devops.gov.bc.ca:6443"}]},"options":{"dotNotation":false}},"id":"94854965-9162-44d3-8fab-8f85aa064c0e","name":"General Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[-20,300]},{"parameters":{"command":"oc logout"},"id":"9ef2e1c8-7f66-4792-b36c-b45ae7d8797b","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1060,300]},{"parameters":{"functionCode":"return [{json: {\"data\" : $json[\"stdout\"].split(/\\r?\\n/)}}]"},"name":"Split by Newline1","type":"n8n-nodes-base.function","typeVersion":1,"position":[520,300],"id":"16884162-1de0-4df7-a134-3d8ec2a46a7a"},{"parameters":{"fieldToSplitOut":"data","options":{}},"name":"Item List Data1","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[700,300],"id":"ffa005a5-30f2-4bf7-b890-436368fc5405"}],"connections":{"Execute Command":{"main":[[{"node":"Split by Newline1","type":"main","index":0}]]},"Cron":{"main":[[{"node":"General Parameters","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"General Parameters":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"Start":{"main":[[{"node":"General Parameters","type":"main","index":0}]]},"Split by Newline1":{"main":[[{"node":"Item List Data1","type":"main","index":0}]]},"Item List Data1":{"main":[[{"node":"OC Logout","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"0c9774b7-ef29-406e-8634-390074bd9796","triggerCount":0,"tags":[]},{"createdAt":"2023-04-25T05:28:44.489Z","updatedAt":"2023-04-26T05:46:49.302Z","id":"58","name":"Artem Exercise 1","active":false,"nodes":[{"parameters":{},"id":"4b52575a-b8a7-45a6-8ca4-e2e7f0f39666","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-680,40]},{"parameters":{"command":"={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name1\"].json.nameSpace }}"},"id":"2219ce10-8063-46e2-a111-0c481f68b3b0","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-160,26]},{"parameters":{"workflowId":"28"},"id":"b779e764-4f92-4086-9ef3-c98db3c8fede","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-320,26],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"tokenName","value":"Artem_CLAB"},{"name":"nameSpace","value":"=e31b6b-dev"}]},"options":{}},"id":"c8a6a121-bae1-40b9-9b0d-61c0be92a7b9","name":"Set Token Name1","type":"n8n-nodes-base.set","typeVersion":1,"position":[-480,26]},{"parameters":{"content":"## Prepare the OC Login","height":210.2471003530007,"width":489.09732728189647},"id":"a08aca50-72ca-4019-9651-ddb7bca80538","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,-20]},{"parameters":{"command":"oc logout"},"id":"c4673876-18e8-4242-87fa-b5aa13d533de","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[680,180]},{"parameters":{},"id":"b88c0421-4243-45d2-9e02-a7629ef37425","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,180]},{"parameters":{"command":"oc rsh testpsql-1-rfnpw psql --version"},"id":"ea57fd68-1dae-429b-9699-fca682b8814e","name":"GET PSQL Version","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[80,20]},{"parameters":{"fromEmail":"no-reply@gov.bc.ca","toEmail":"artem.kravchenko@gov.bc.ca","subject":"The Current Version of PostgreSQL","text":"=The version is: {{ $json.stdout}}","options":{"replyTo":"Platform.Services.Test.Account@gov.bc.ca"}},"id":"04662237-84cf-45bc-a537-487eb0e53ead","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[680,20],"credentials":{"smtp":{"id":"1","name":"SMTP account"}}},{"parameters":{"channel":"#cypress","text":"={{ $json.stdout }}","options":{},"attachments":[]},"id":"ae0c4fd9-245e-41cc-afac-353808eedb7f","name":"RocketChat","type":"n8n-nodes-base.rocketchat","typeVersion":1,"position":[680,-160],"credentials":{"rocketchatApi":{"id":"4","name":"Rocket account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.stdout }}","operation":"contains","value2":"12.4"}]}},"id":"749ecebc-9797-468d-9094-ab67d8868126","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[340,20]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name1","type":"main","index":0}]]},"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"Set Token Name1":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"OC Logout":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"GET PSQL Version","type":"main","index":0}]]},"GET PSQL Version":{"main":[[{"node":"IF","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"RocketChat":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"IF":{"main":[[{"node":"OC Logout","type":"main","index":0}],[{"node":"RocketChat","type":"main","index":0},{"node":"Send Email","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"15ab53f0-ab9f-44f0-bc29-7223e38f9fea","triggerCount":0,"tags":[]},{"createdAt":"2023-03-31T23:48:45.097Z","updatedAt":"2023-03-31T23:49:58.271Z","id":"49","name":"Change to Owner","active":false,"nodes":[{"parameters":{},"id":"4cb73b4f-3cbc-45b9-972a-ba893df17d7f","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[880,480]},{"parameters":{"operation":"executeQuery","query":"update \"user\" set \"globalRoleId\"=1;","additionalFields":{}},"id":"ff310bd4-f3b8-4423-857e-1964e8a40335","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1060,500],"credentials":{"postgres":{"id":"2","name":"Postgres account N8N"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"6c6422bb-ea5c-4f78-a0df-91464c66a7d4","triggerCount":0,"tags":[]},{"createdAt":"2023-04-26T05:50:29.492Z","updatedAt":"2023-04-26T06:11:55.642Z","id":"60","name":"Artem Exercise 4","active":false,"nodes":[{"parameters":{},"id":"cb0c9ff7-78f5-41a3-97d0-940d6a1d147c","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-580,420]},{"parameters":{"values":{"string":[{"value":"={{ $node['Request'].json.services[0].state }}"}]},"options":{}},"id":"006fc3de-b53c-4fbb-b816-b96fdbd1ec0d","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-140,420]},{"parameters":{"options":{}},"id":"653068ac-30c6-4b89-9648-11bf08ce0ca8","name":"Set2","type":"n8n-nodes-base.set","typeVersion":2,"position":[160,420]},{"parameters":{"values":{"string":[{"value":"={{ $node['Request'].json.router }}"}]},"options":{}},"id":"6671ba72-6ed8-4b7b-a077-f99cd3ab624d","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[400,420]},{"parameters":{"url":"https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/health","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"834366e5-6d8c-45e1-878e-1d3e90b37207","name":"Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-360,420]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"f9b53bca-e5ad-43be-ae11-5431275d05c1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-580,580]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Request","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Set2","type":"main","index":0}]]},"Set2":{"main":[[{"node":"Set","type":"main","index":0}]]},"Request":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Request","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"0d07e3eb-9c60-4238-b229-8f80bb5386d7","triggerCount":1,"tags":[]},{"createdAt":"2023-04-27T04:11:35.564Z","updatedAt":"2023-04-27T05:21:23.905Z","id":"61","name":"Artem Exercise 5","active":false,"nodes":[{"parameters":{},"id":"dd875c27-0187-465b-9f53-7329a45e6bf3","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,420]},{"parameters":{"operation":"executeQuery","query":"create table IF NOT EXISTS lat_longs  (   c1 bigint generated always as identity,   c2 float );  \n\ninsert into lat_longs(c2) select random() * 100 from generate_series(1,10e3) as g(id);  commit;  \n\nselect count(*) from lat_longs;\n\ndrop table lat_longs;","options":{}},"id":"9d18fd40-5a4a-4d42-9edb-1c9ebef4c074","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[980,420],"credentials":{"postgres":{"id":"34","name":"Artem Postgres Credentials"}}},{"parameters":{"command":"=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name1\"].json.nameSpace }}"},"id":"1c64554d-32f9-4bc0-b65a-9a6373cd393f","name":"OC Login","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[600,420]},{"parameters":{"workflowId":"28"},"id":"61413991-74fd-46fb-b01f-2ca7439f3091","name":"Build Login Command","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[440,426],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"tokenName","value":"Artem_CLAB"},{"name":"nameSpace","value":"=e31b6b-dev"}]},"options":{}},"id":"32db45ec-06be-43a6-8c3f-5159e3b3049a","name":"Set Token Name1","type":"n8n-nodes-base.set","typeVersion":1,"position":[280,426]},{"parameters":{"content":"## Prepare the OC Login","height":210.2471003530007,"width":489.09732728189647},"id":"22b6f7ae-30e7-4658-a5aa-603578f8503d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,380]},{"parameters":{"command":"nohup oc port-forward svc/testpsql 15434:5432 > /dev/null 2>&1 &\nsleep 10\njobs"},"id":"4ccd08b8-e598-461e-a272-f9104bf5bb60","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[780,420]},{"parameters":{"command":"=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh"},"id":"c23bbd6a-69ef-457f-981a-53aceb722a77","name":"OC Logout","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1160,420]}],"connections":{"Build Login Command":{"main":[[{"node":"OC Login","type":"main","index":0}]]},"Set Token Name1":{"main":[[{"node":"Build Login Command","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Token Name1","type":"main","index":0}]]},"OC Login":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"OC Logout","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"e67f2596-492c-4605-a480-7c9c32bd4157","triggerCount":0,"tags":[]}]