framework/workflows/Artifactory Basic Health Check CLAB.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T20:17:28.220Z",
    "createdAt": "2026-06-23T20:17:26.422Z",
    "versionId": "2ddb3af5-9574-485e-90e2-d340dc35edf3",
    "workflowId": "3",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $node[\"Artifactory Health\"].json[\"router\"][\"message\"] }}",
                "operation": "contains",
                "value2": "OK"
              },
              {
                "value1": "={{ $node[\"Artifactory Ping\"].json.data }}",
                "operation": "contains",
                "value2": "OK"
              },
              {
                "value1": "={{ $node[\"Artifactory Liveness\"].json.data }}",
                "operation": "contains",
                "value2": "OK"
              },
              {
                "value1": "={{ $node[\"Artifactory Readiness\"].json.data }}",
                "operation": "contains",
                "value2": "OK"
              }
            ]
          }
        },
        "id": "55adfcd6-56a3-47d8-b8e4-b49b1f03ce0f",
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1008,
          1024
        ]
      },
      {
        "parameters": {},
        "id": "03b150f7-a83e-4d33-8b9b-4dd7344ce684",
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2096,
          848
        ]
      },
      {
        "parameters": {
          "workflowId": "17",
          "options": {}
        },
        "id": "0c963016-4a29-4be9-af26-f58840b98b20",
        "name": "Report Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1872,
          1136
        ]
      },
      {
        "parameters": {
          "content": "## Report the Error",
          "height": 217.8125,
          "width": 570.4296383481571
        },
        "id": "7c4dc02d-508a-4013-8cc8-8fbf99b98fd9",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1664,
          1088
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "=## Artifactory Error Found on CLAB https://artifacts.apps.clab.devops.gov.bc.ca\nAt: {{ $now }}\n\nRouter:\n{{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}\n\nServices:\n{{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}\n\n @cailey.jones and @shelly.han\n"
              },
              {
                "name": "fromAddress",
                "value": "no-reply@gov.bc.ca"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.artifactory }}"
              },
              {
                "name": "textMessage",
                "value": "=At: {{ $now }}  \n\nRouter: {{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}  \n\nServices: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}"
              },
              {
                "name": "htmlMessage"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=Artifactory Error Found on https://artifacts.developer.gov.bc.ca"
              }
            ]
          },
          "options": {}
        },
        "id": "d91a9f90-94c0-4a56-9bbe-391309db5472",
        "name": "Set Message Params for Error Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          1728,
          1136
        ]
      },
      {
        "parameters": {},
        "id": "e3edd72a-243c-41c8-a594-390ae03ea168",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          256,
          528
        ],
        "disabled": true
      },
      {
        "parameters": {},
        "id": "4cb28595-c6a9-4a76-bf2f-faa3cfc94b13",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          256,
          704
        ]
      },
      {
        "parameters": {
          "content": "## Artifactory Test CLAB\n\n",
          "height": 80,
          "width": 1076
        },
        "id": "c1051b40-e3a1-4ab4-9c50-851b594d0b03",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          624,
          416
        ]
      },
      {
        "parameters": {
          "errorMessage": "Error in {{ $workflow.name }}"
        },
        "id": "87fc0db8-379c-4bca-99df-eb1f8807a57f",
        "name": "Stop and Error",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          2112,
          1136
        ]
      },
      {
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "url": "https://artifacts.apps.clab.devops.gov.bc.ca/artifactory/api/system/configuration",
          "responseFormat": "string",
          "options": {
            "timeout": 10000
          }
        },
        "id": "2b5b4eb6-ed08-4175-841d-12e8c8788f66",
        "name": "Get Config",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          1104,
          576
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000,
        "credentials": {
          "httpBasicAuth": {
            "id": "33",
            "name": "CLAB Artifactory"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "5e526c37-ba7e-4f9d-ae62-67469e36ec7b",
        "name": "XML",
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          1296,
          576
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.config.localRepositories.localRepository[0].key }}",
                "value2": "artifactory-build-info"
              }
            ]
          }
        },
        "id": "99def9ab-1bfc-4256-9fea-1b2b8f5b7608",
        "name": "IF1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1472,
          576
        ]
      },
      {
        "parameters": {
          "url": "https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/ping",
          "responseFormat": "string",
          "options": {
            "timeout": 10000
          }
        },
        "id": "e48b8e5a-c7bb-4b74-92d5-72e4562a329c",
        "name": "Artifactory Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          544,
          688
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {
          "url": "https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/health",
          "options": {
            "timeout": 10000
          }
        },
        "id": "6cfaab06-d7e3-4d9f-b998-35fb58760f02",
        "name": "Artifactory Health",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          432,
          528
        ],
        "retryOnFail": true,
        "waitBetweenTries": 10000,
        "maxTries": 3
      },
      {
        "parameters": {
          "url": "https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/liveness",
          "responseFormat": "string",
          "options": {
            "timeout": 10000
          }
        },
        "id": "a40e4f3d-17a4-4074-ae88-8193db29e315",
        "name": "Artifactory Liveness",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          688,
          848
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {
          "url": "https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/readiness",
          "responseFormat": "string",
          "options": {
            "timeout": 10000
          }
        },
        "id": "991cd5e6-eb2b-499b-995a-111b73c69356",
        "name": "Artifactory Readiness",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          832,
          1024
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      }
    ],
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params for Error Report": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Report Error": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Artifactory Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Artifactory Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config": {
        "main": [
          [
            {
              "node": "XML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML": {
        "main": [
          [
            {
              "node": "IF1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Artifactory Ping": {
        "main": [
          [
            {
              "node": "Artifactory Liveness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Artifactory Health": {
        "main": [
          [
            {
              "node": "Artifactory Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Artifactory Liveness": {
        "main": [
          [
            {
              "node": "Artifactory Readiness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Artifactory Readiness": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version 2ddb3af5",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "2ddb3af5-9574-485e-90e2-d340dc35edf3",
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Artifactory Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Artifactory Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Ping": {
      "main": [
        [
          {
            "node": "Artifactory Liveness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Health": {
      "main": [
        [
          {
            "node": "Artifactory Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Liveness": {
      "main": [
        [
          {
            "node": "Artifactory Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Readiness": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-08T06:08:46.285Z",
  "id": "3",
  "isArchived": false,
  "meta": null,
  "name": "Artifactory Basic Health Check CLAB",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Artifactory Health\"].json[\"router\"][\"message\"] }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Ping\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Liveness\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Readiness\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            }
          ]
        }
      },
      "id": "55adfcd6-56a3-47d8-b8e4-b49b1f03ce0f",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1008,
        1024
      ]
    },
    {
      "parameters": {},
      "id": "03b150f7-a83e-4d33-8b9b-4dd7344ce684",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2096,
        848
      ]
    },
    {
      "parameters": {
        "workflowId": "17",
        "options": {}
      },
      "id": "0c963016-4a29-4be9-af26-f58840b98b20",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1872,
        1136
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 570.4296383481571
      },
      "id": "7c4dc02d-508a-4013-8cc8-8fbf99b98fd9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1664,
        1088
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "=## Artifactory Error Found on CLAB https://artifacts.apps.clab.devops.gov.bc.ca\nAt: {{ $now }}\n\nRouter:\n{{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}\n\nServices:\n{{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}\n\n @cailey.jones and @shelly.han\n"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.artifactory }}"
            },
            {
              "name": "textMessage",
              "value": "=At: {{ $now }}  \n\nRouter: {{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}  \n\nServices: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Artifactory Error Found on https://artifacts.developer.gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "d91a9f90-94c0-4a56-9bbe-391309db5472",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1728,
        1136
      ]
    },
    {
      "parameters": {},
      "id": "e3edd72a-243c-41c8-a594-390ae03ea168",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        256,
        528
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "4cb28595-c6a9-4a76-bf2f-faa3cfc94b13",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        256,
        704
      ]
    },
    {
      "parameters": {
        "content": "## Artifactory Test CLAB\n\n",
        "height": 80,
        "width": 1076
      },
      "id": "c1051b40-e3a1-4ab4-9c50-851b594d0b03",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        416
      ]
    },
    {
      "parameters": {
        "errorMessage": "Error in {{ $workflow.name }}"
      },
      "id": "87fc0db8-379c-4bca-99df-eb1f8807a57f",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2112,
        1136
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://artifacts.apps.clab.devops.gov.bc.ca/artifactory/api/system/configuration",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "2b5b4eb6-ed08-4175-841d-12e8c8788f66",
      "name": "Get Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1104,
        576
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "httpBasicAuth": {
          "id": "33",
          "name": "CLAB Artifactory"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5e526c37-ba7e-4f9d-ae62-67469e36ec7b",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1296,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.config.localRepositories.localRepository[0].key }}",
              "value2": "artifactory-build-info"
            }
          ]
        }
      },
      "id": "99def9ab-1bfc-4256-9fea-1b2b8f5b7608",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1472,
        576
      ]
    },
    {
      "parameters": {
        "url": "https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/ping",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e48b8e5a-c7bb-4b74-92d5-72e4562a329c",
      "name": "Artifactory Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        544,
        688
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "url": "https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "6cfaab06-d7e3-4d9f-b998-35fb58760f02",
      "name": "Artifactory Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        432,
        528
      ],
      "retryOnFail": true,
      "waitBetweenTries": 10000,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/liveness",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a40e4f3d-17a4-4074-ae88-8193db29e315",
      "name": "Artifactory Liveness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        688,
        848
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "url": "https://artifacts.apps.clab.devops.gov.bc.ca/router/api/v1/system/readiness",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "991cd5e6-eb2b-499b-995a-111b73c69356",
      "name": "Artifactory Readiness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        832,
        1024
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "3",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2023-04-28T17:06:56.029Z",
      "createdAt": "2023-04-28T17:06:56.029Z",
      "id": "4",
      "name": "Test"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T20:17:26.418Z",
  "versionId": "2ddb3af5-9574-485e-90e2-d340dc35edf3"
}