framework/workflows/Artifactory Basic Health Check Prod.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T20:17:47.365Z",
    "createdAt": "2026-06-23T20:17:45.118Z",
    "versionId": "6928342b-999f-4bab-bc24-780da4e92cd0",
    "workflowId": "59",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $node[\"Artifactory Health\"].json[\"router\"][\"message\"] }}",
                "operation": "contains",
                "value2": "OK"
              },
              {
                "value1": "={{ $node[\"Artifactory Ping\"].json.data }}",
                "operation": "contains",
                "value2": "OK"
              },
              {
                "value1": "={{ $node[\"Artifactory Liveness\"].json.data }}",
                "operation": "contains",
                "value2": "OK"
              },
              {
                "value1": "={{ $node[\"Artifactory Readiness\"].json.data }}",
                "operation": "contains",
                "value2": "OK"
              }
            ]
          }
        },
        "id": "4cf2c112-1f20-4224-a3a4-479b15a71e19",
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          960,
          912
        ]
      },
      {
        "parameters": {},
        "id": "62ede78b-9b92-4b56-abb8-724be8c90e9a",
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1216,
          704
        ]
      },
      {
        "parameters": {
          "workflowId": "17",
          "options": {}
        },
        "id": "ecf04ca7-46e7-4e43-b1e0-2efb5b86e29e",
        "name": "Report Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1376,
          928
        ]
      },
      {
        "parameters": {
          "content": "## Report the Error",
          "height": 217.8125,
          "width": 570.4296383481571
        },
        "id": "eaefcfe7-9005-4c81-8308-fe547ffe7e42",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1168,
          864
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "=## Artifactory Error Found on PROD https://artifacts.developer.gov.bc.ca\nAt: {{ $now }}\n\nRouter:\n{{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}\n\nServices:\n{{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}\n\n @cailey.jones and @shelly.han\n"
              },
              {
                "name": "fromAddress",
                "value": "no-reply@gov.bc.ca"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.artifactory }}"
              },
              {
                "name": "textMessage",
                "value": "=At: {{ $now }}  \n\nRouter: {{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}  \n\nServices: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}"
              },
              {
                "name": "htmlMessage"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=Artifactory Error Found on https://artifacts.developer.gov.bc.ca"
              }
            ]
          },
          "options": {}
        },
        "id": "83a6e131-db90-4b67-b8a1-24d041eef1c7",
        "name": "Set Message Params for Error Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          1216,
          928
        ]
      },
      {
        "parameters": {},
        "id": "512f8fbb-500c-4520-93e9-e8888dde171e",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          208,
          416
        ],
        "disabled": true
      },
      {
        "parameters": {},
        "id": "ec3a6f49-700b-40cc-8086-a083486c2e5e",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          208,
          576
        ]
      },
      {
        "parameters": {
          "content": "## Artifactory Test Prod",
          "height": 80,
          "width": 280.5999654409687
        },
        "id": "d355753f-4147-4b6e-bcbc-27e895222588",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          576,
          304
        ]
      },
      {
        "parameters": {
          "errorMessage": "Error in {{ $workflow.name }}"
        },
        "id": "ca549fab-8048-4a94-a383-1bf7182b3459",
        "name": "Stop and Error",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1600,
          928
        ]
      },
      {
        "parameters": {
          "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/ping",
          "responseFormat": "string",
          "options": {
            "timeout": 10000
          }
        },
        "id": "cdb577f8-353c-4978-a8d4-331c39e83f7c",
        "name": "Artifactory Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          496,
          576
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {
          "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/health",
          "options": {
            "timeout": 10000
          }
        },
        "id": "8a99fd74-1212-46db-a3dd-888bf671fe9a",
        "name": "Artifactory Health",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          384,
          416
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {
          "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/liveness",
          "responseFormat": "string",
          "options": {
            "timeout": 10000
          }
        },
        "id": "4a2e4cf8-e768-4cc3-9994-ed754e4843a6",
        "name": "Artifactory Liveness",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          640,
          736
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {
          "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/readiness",
          "responseFormat": "string",
          "options": {
            "timeout": 10000
          }
        },
        "id": "084c1e8d-fad3-49a2-b4ed-91c5fdf63d71",
        "name": "Artifactory Readiness",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          784,
          912
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      }
    ],
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params for Error Report": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Report Error": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Artifactory Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Artifactory Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Artifactory Ping": {
        "main": [
          [
            {
              "node": "Artifactory Liveness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Artifactory Health": {
        "main": [
          [
            {
              "node": "Artifactory Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Artifactory Liveness": {
        "main": [
          [
            {
              "node": "Artifactory Readiness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Artifactory Readiness": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version 6928342b",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "6928342b-999f-4bab-bc24-780da4e92cd0",
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Artifactory Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Artifactory Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Ping": {
      "main": [
        [
          {
            "node": "Artifactory Liveness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Health": {
      "main": [
        [
          {
            "node": "Artifactory Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Liveness": {
      "main": [
        [
          {
            "node": "Artifactory Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Readiness": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-26T01:48:20.829Z",
  "id": "59",
  "isArchived": false,
  "meta": null,
  "name": "Artifactory Basic Health Check Prod",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Artifactory Health\"].json[\"router\"][\"message\"] }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Ping\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Liveness\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Readiness\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            }
          ]
        }
      },
      "id": "4cf2c112-1f20-4224-a3a4-479b15a71e19",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        912
      ]
    },
    {
      "parameters": {},
      "id": "62ede78b-9b92-4b56-abb8-724be8c90e9a",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1216,
        704
      ]
    },
    {
      "parameters": {
        "workflowId": "17",
        "options": {}
      },
      "id": "ecf04ca7-46e7-4e43-b1e0-2efb5b86e29e",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1376,
        928
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 570.4296383481571
      },
      "id": "eaefcfe7-9005-4c81-8308-fe547ffe7e42",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1168,
        864
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "=## Artifactory Error Found on PROD https://artifacts.developer.gov.bc.ca\nAt: {{ $now }}\n\nRouter:\n{{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}\n\nServices:\n{{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}\n\n @cailey.jones and @shelly.han\n"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.artifactory }}"
            },
            {
              "name": "textMessage",
              "value": "=At: {{ $now }}  \n\nRouter: {{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}  \n\nServices: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Artifactory Error Found on https://artifacts.developer.gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "83a6e131-db90-4b67-b8a1-24d041eef1c7",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1216,
        928
      ]
    },
    {
      "parameters": {},
      "id": "512f8fbb-500c-4520-93e9-e8888dde171e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        416
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "ec3a6f49-700b-40cc-8086-a083486c2e5e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        208,
        576
      ]
    },
    {
      "parameters": {
        "content": "## Artifactory Test Prod",
        "height": 80,
        "width": 280.5999654409687
      },
      "id": "d355753f-4147-4b6e-bcbc-27e895222588",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        304
      ]
    },
    {
      "parameters": {
        "errorMessage": "Error in {{ $workflow.name }}"
      },
      "id": "ca549fab-8048-4a94-a383-1bf7182b3459",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1600,
        928
      ]
    },
    {
      "parameters": {
        "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/ping",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cdb577f8-353c-4978-a8d4-331c39e83f7c",
      "name": "Artifactory Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        496,
        576
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "8a99fd74-1212-46db-a3dd-888bf671fe9a",
      "name": "Artifactory Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        384,
        416
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/liveness",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "4a2e4cf8-e768-4cc3-9994-ed754e4843a6",
      "name": "Artifactory Liveness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        640,
        736
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/readiness",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "084c1e8d-fad3-49a2-b4ed-91c5fdf63d71",
      "name": "Artifactory Readiness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        784,
        912
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "59",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2023-04-28T17:06:56.029Z",
      "createdAt": "2023-04-28T17:06:56.029Z",
      "id": "4",
      "name": "Test"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T20:17:45.114Z",
  "versionId": "6928342b-999f-4bab-bc24-780da4e92cd0"
}