framework/workflows/Artifactory Basic Health Check Prod.json
{
  "active": false,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Artifactory Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Artifactory Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Ping": {
      "main": [
        [
          {
            "node": "Artifactory Liveness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Health": {
      "main": [
        [
          {
            "node": "Artifactory Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Liveness": {
      "main": [
        [
          {
            "node": "Artifactory Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifactory Readiness": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-26T01:48:20.829Z",
  "id": "59",
  "isArchived": false,
  "meta": null,
  "name": "Artifactory Basic Health Check Prod",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Artifactory Health\"].json[\"router\"][\"message\"] }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Ping\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Liveness\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            },
            {
              "value1": "={{ $node[\"Artifactory Readiness\"].json.data }}",
              "operation": "contains",
              "value2": "OK"
            }
          ]
        }
      },
      "id": "d4ae58c0-0be1-4b83-809e-a753902b32e2",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        660
      ]
    },
    {
      "parameters": {},
      "id": "82f0be6f-ecc1-4cb9-8131-21fa6778d3ca",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        460
      ]
    },
    {
      "parameters": {
        "workflowId": "17"
      },
      "id": "550f77c7-02d2-4286-8b41-efd6203ae1b1",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1008,
        680
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 570.4296383481571
      },
      "id": "20430514-21d8-4236-8ab7-51d0b7a3ae9b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "=## Artifactory Error Found on PROD https://artifacts.developer.gov.bc.ca\nAt: {{ $now }}\n\nRouter:\n{{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}\n\nServices:\n{{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}}\n{{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}\n\n @cailey.jones and @shelly.han\n"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.artifactory }}"
            },
            {
              "name": "textMessage",
              "value": "=At: {{ $now }}  \n\nRouter: {{$node[\"Artifactory Health\"].json[\"router\"][\"node_id\"]}}: {{$node[\"Artifactory Health\"].json[\"router\"][\"state\"]}}  \n\nServices: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][0][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][1][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][1][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][2][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][2][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][3][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][3][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][4][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][4][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][5][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][5][\"state\"]}} {{$node[\"Artifactory Health\"].json[\"services\"][6][\"service_id\"]}}: {{$node[\"Artifactory Health\"].json[\"services\"][6][\"state\"]}}"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Artifactory Error Found on https://artifacts.developer.gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "9b61656a-7273-4cdc-b7a2-bf3922dfcb41",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        680
      ]
    },
    {
      "parameters": {},
      "id": "575d0146-fd85-45fc-b393-a537878dbab6",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        160
      ]
    },
    {
      "parameters": {},
      "id": "7c4c2131-fa9d-467f-96a2-853460eb1996",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Artifactory Test Prod",
        "height": 80,
        "width": 280.5999654409687
      },
      "id": "ac8e261b-3f42-40da-9114-244cc8aa8bc7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        223,
        60
      ]
    },
    {
      "parameters": {
        "errorMessage": "Error in {{ $workflow.name }}"
      },
      "id": "0a40deae-3092-4010-927a-176d2303e9f2",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1240,
        680
      ]
    },
    {
      "parameters": {
        "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/ping",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a245773f-2437-45c5-8e76-aecb4fbcb26c",
      "name": "Artifactory Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        140,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "ed4b9b1a-b753-4171-93dd-539da3ea56d0",
      "name": "Artifactory Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        20,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/liveness",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "af333369-738d-43ff-92e4-4d6959f8ea28",
      "name": "Artifactory Liveness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        280,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://artifacts.developer.gov.bc.ca/router/api/v1/system/readiness",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "id": "615c3c75-6a67-47e0-a20a-f5d8018ac541",
      "name": "Artifactory Readiness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        420,
        660
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "59",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2023-04-28T17:06:56.029Z",
      "createdAt": "2023-04-28T17:06:56.029Z",
      "id": "4",
      "name": "Test"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-05-09T21:26:49.840Z",
  "versionId": "401c8643-9218-4286-ae8f-ee584d23da29"
}