framework/workflows/Back Up Your n8n Credentials To Github.json
{
  "active": false,
  "connections": {
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflows": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary Files": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "File to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File to base64": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-14T06:24:03.971Z",
  "id": "43",
  "name": "Back Up Your n8n Credentials To Github",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $node[\"Credentials\"].json[\"repo\"][\"owner\"] }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $node.Credentials.json.repo.name }}",
          "mode": ""
        },
        "filePath": "={{ $node[\"Credentials\"].json[\"repo\"][\"path\"] }}{{ $node[\"Postgres\"].json[\"name\"] }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "69f188c8-4154-4fd0-8b63-9589e78da822",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        1680,
        300
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "6",
          "name": "GitHub PUT"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "5bd4efa3-78dd-414d-9fc9-5f8bcbd462bd",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2560,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c08e7791-b143-4738-a6ed-6002dfd66079",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2560,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "fc88f585-4ec2-4cb5-968f-d3983dbb44ea",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2560,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $node[\"Credentials\"].json[\"repo\"][\"owner\"] }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $node.Credentials.json.repo.name }}",
          "mode": ""
        },
        "filePath": "={{ $node[\"Credentials\"].json[\"repo\"][\"path\"] }}{{ $node[\"Postgres\"].json[\"name\"] }}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "8b4faeea-b19a-4087-b72b-d2843f9ac4d6",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        2740,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "6",
          "name": "GitHub PUT"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $node[\"Credentials\"].json[\"repo\"][\"owner\"] }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $node[\"Credentials\"].json[\"repo\"][\"name\"] }}",
          "mode": ""
        },
        "filePath": "={{ $node[\"Credentials\"].json[\"repo\"][\"path\"] }}{{ $node[\"Postgres\"].json[\"name\"] }}.json",
        "fileContent": "={{ $node[\"File to base64\"].json.stdout }}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json"
      },
      "id": "9890630c-0c7a-4fcc-9d7c-fb4523dc567f",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        2740,
        620
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "6",
          "name": "GitHub PUT"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "412b93d8-d9b2-482a-8f77-bc78fe6b3242",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1460,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - bcgov\nrepo.name - put\nrepo.path - framework",
        "height": 464.79920462713443,
        "width": 389.78906250000017
      },
      "id": "745d79ba-a6c9-4941-80ec-b0cdc0e91a93",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 424.04333333333386,
        "width": 755.2349999999991
      },
      "id": "efeda715-f5f2-4025-988f-481c7fb060c7",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1480,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
        "height": 693.9283333333326,
        "width": 666.4416666666662
      },
      "id": "01fd5895-8972-4bfb-a072-3e825a969565",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {}
      },
      "id": "9d813f50-f3bb-46b5-9aa2-4a884f2b0229",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1040,
        100
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "11",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "a1ac20b5-cbc8-4650-ae50-e674698b670f",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        2340,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "db516f8a-737a-408e-9b9a-fdbffd4c7447",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1900,
        440
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "bcgov"
            },
            {
              "name": "repo.name",
              "value": "put"
            },
            {
              "name": "repo.path",
              "value": "framework/workflows/credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "3f4d056c-6efc-46dd-9b62-61afd67d19a5",
      "name": "Workflows",
      "type": "n8n-nodes-base.set",
      "position": [
        840,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "bcgov"
            },
            {
              "name": "repo.name",
              "value": "put"
            },
            {
              "name": "repo.path",
              "value": "framework/credentials/"
            }
          ]
        },
        "options": {}
      },
      "id": "bd694101-1dd3-4053-a5b8-b81e330bbe6e",
      "name": "Credentials",
      "type": "n8n-nodes-base.set",
      "position": [
        780,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id,name from credentials_entity order by id;",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "id": "bc1a21cb-c43a-4e2d-92f9-4b471205de00",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1140,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "21",
          "name": "N8N database access"
        }
      }
    },
    {
      "parameters": {
        "command": "rm -f *.*\nrm -f -R backups\nmkdir backups\nmkdir backups/credentials\nn8n export:credentials --backup --output=backups/credentials/ > null\n\n"
      },
      "id": "5f0cc5d9-57c7-4cb9-a395-59d38b305ae8",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        960,
        460
      ]
    },
    {
      "parameters": {},
      "id": "5e971a91-f84b-448a-a053-bd7fc88584ac",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        580
      ]
    },
    {
      "parameters": {
        "command": "=echo -n '{{ $json.content }}' | base64 -d"
      },
      "id": "96b5d252-4042-4a56-975f-c25d7caa480a",
      "name": "Execute Command2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1900,
        220
      ]
    },
    {
      "parameters": {
        "fileSelector": "=/data/backups/credentials/{{ $node.Postgres.json.id }}.json"
      },
      "id": "17d263e8-1e0e-4f8e-9cf3-f08d61ea3e35",
      "name": "Read Binary Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        1900,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node.GitHub.json.content }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "25fa470a-f223-4ffa-8e85-79e45ae5b4a6",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2080,
        440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6937c0ec-13d1-4e8d-a22c-85ea2b40caec",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        2020,
        -20
      ]
    },
    {
      "parameters": {
        "command": "=echo -n '{{ $json.data }}' | base64"
      },
      "id": "e1b97cce-885d-4dbf-9289-2fd3fcb52153",
      "name": "File to base64",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2120,
        80
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-02-09T09:22:16.563Z",
      "updatedAt": "2023-02-09T09:22:16.563Z",
      "id": "2",
      "name": "Platform"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-03-14T08:27:51.521Z",
  "versionId": "a647ae75-3060-498c-9d73-0a241059e4b3"
}