framework/workflows/Clab PVC check.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Check if pod is runnning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if pod is runnning": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Check file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check block": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check file": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-02T03:54:11.516Z",
  "id": "76",
  "name": "Clab PVC check",
  "nodes": [
    {
      "parameters": {},
      "id": "1b0ac8f7-3a5e-4db6-bea4-90e4d7783677",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        546.8535678265255
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "CLAB_Token"
            },
            {
              "name": "nameSpace",
              "value": "e31b6b-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "1a7eeb45-a06d-4a85-ba06-a3cfea890f5d",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -440,
        646.8535678265255
      ]
    },
    {
      "parameters": {
        "workflowId": "28"
      },
      "id": "741e875d-9659-42bc-be55-dcfdcfe4f978",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -280,
        646.8535678265255
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}"
      },
      "id": "be8f3d07-5621-4a7c-bbf5-2feb5aa42ae9",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -120,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
        "height": 336.5625,
        "width": 471.25
      },
      "id": "89763855-ae84-4805-b5dd-a4b9e8eb9ccd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        540
      ]
    },
    {
      "parameters": {
        "command": "=oc -n  {{ $node[\"Set Token Name\"].json.nameSpace }} get pod -l app=deployment-to-test-storage-connection -o json | jq -r '.items[] | select(.status.phase == \"Running\") | .status.phase'"
      },
      "id": "1df115c3-35c4-4d9d-a8e0-9cbfccb98c49",
      "name": "Check if pod is runnning",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        80,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "value2": "Running"
            }
          ]
        }
      },
      "id": "a85e159e-7b25-4c3d-8da2-261aa64dda3c",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        640
      ]
    },
    {
      "parameters": {
        "command": "oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"
      },
      "id": "155c160e-7547-43a3-8dfd-ec6d9db13849",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1460,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Close the Workflow",
        "height": 446.2964889056981,
        "width": 383.0266641452346
      },
      "id": "1f389f63-ba3b-4e90-b093-f955291672fa",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        580
      ]
    },
    {
      "parameters": {},
      "id": "5d565aa4-4de2-4f66-ac27-512e54d367ce",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        640
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Error in {{ $workflow.name }}"
      },
      "id": "77cdc392-6b09-4047-8e38-0791c41373b4",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1460,
        880
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 293.43961943025147,
        "width": 361.0555345436212
      },
      "id": "f8579125-ad33-4b77-a525-a0c06a4c4f2e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Check file'].json.stdout }}",
              "value2": "successfully"
            },
            {
              "value1": "={{ $node['Check block'].json.stdout }}",
              "value2": "successfully"
            }
          ]
        }
      },
      "id": "bf44ed75-7b36-474a-a32d-447c2b8e9b52",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        520
      ]
    },
    {
      "parameters": {
        "command": "=oc -n {{$node[\"Set Token Name\"].json.nameSpace }} exec $(oc -n {{$node[\"Set Token Name\"].json.nameSpace }} get pod -o name -l app=deployment-to-test-storage-connection) -- timeout --preserve-status 3 touch /mnt/block/test && echo \"successfully\""
      },
      "id": "18cf2a2a-24ed-4929-958e-617575586fbc",
      "name": "Check block",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        520,
        380
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=oc -n {{$node[\"Set Token Name\"].json.nameSpace }} exec $(oc -n {{$node[\"Set Token Name\"].json.nameSpace }} get pod -o name -l app=deployment-to-test-storage-connection) -- timeout --preserve-status 3 touch /mnt/file/test && echo \"successfully\""
      },
      "id": "5186fb86-ff76-409c-b772-a02d7ea49f9a",
      "name": "Check file",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        520,
        540
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "17"
      },
      "id": "61f42d37-b8a5-489b-940f-e4c1b715d308",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        960,
        940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "=#platform-monitoring-notifications"
            },
            {
              "name": "rcMessage",
              "value": "Clab PVC connect test failed"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.crunchy_Notify }}"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Clab PVC connect test failed"
            }
          ]
        },
        "options": {}
      },
      "id": "eece8cc8-e8b6-436a-88a5-a99f6f063e23",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        940
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "5902ef5e-59ae-44e0-894c-f07b690642ed",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        720
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-02T05:57:19.491Z",
  "versionId": "59272f9d-e936-4f5d-a595-af7b902cfc27"
}