framework/workflows/Clean Up GOLD.json
{
  "active": true,
  "connections": {
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login & Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-10T02:22:08.440Z",
  "id": "37",
  "name": "Clean Up GOLD",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "GOLD_Token"
            },
            {
              "name": "nameSpace",
              "value": "bf5ef6-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "d033b9f1-7cf2-45d8-8a1c-9e08ad1c4976",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1360,
        340
      ]
    },
    {
      "parameters": {
        "workflowId": "28"
      },
      "id": "14b25078-e9c8-45fe-bda1-236856d63e02",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1520,
        340
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "a150ed99-4df0-41e7-8bf1-1154a13f0d8b",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1180,
        340
      ]
    },
    {
      "parameters": {
        "command": "=# Make sure there are no remaining sessions\noc logout\n# Kill all hanging oc processes\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n# login\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}\n# Clean out stopped pods and RCs\noc delete pods --field-selector=status.phase!=Running\noc delete ReplicationController --field-selector=status.replicas=0\n# Logout\noc logout\n# Kill all hanging oc processes\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"
      },
      "id": "feda7f71-01d4-4ed9-812a-743a7bfb2373",
      "name": "OC Login & Clean",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1680,
        340
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "c9ee2813-d32c-4ccc-b7c9-de5dd285079a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        1180,
        200
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-03-10T02:26:00.290Z",
      "updatedAt": "2023-03-10T02:26:00.290Z",
      "id": "9",
      "name": "OpenShift"
    },
    {
      "createdAt": "2023-02-09T09:22:16.563Z",
      "updatedAt": "2023-02-09T09:22:16.563Z",
      "id": "2",
      "name": "Platform"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-03-14T04:12:36.144Z",
  "versionId": "d3491cd2-f1ab-4dc0-8be6-ad659d25f69e"
}