framework/workflows/Common OC Login.json
{
  "active": false,
  "connections": {
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-10T02:22:08.438Z",
  "id": "36",
  "isArchived": false,
  "meta": null,
  "name": "Common OC Login",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "GOLD_Token"
            },
            {
              "name": "nameSpace",
              "value": "bf5ef6-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "314689fa-c860-4896-b17e-2c13e0b3f4ae",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        700
      ]
    },
    {
      "parameters": {
        "workflowId": "28"
      },
      "id": "53607035-3c61-42fa-b2f4-547b1f78cacf",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1720,
        700
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"
      },
      "id": "5c740010-049d-4c09-8c84-832b3821e01f",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1880,
        700
      ]
    },
    {
      "parameters": {
        "content": "## Example of using the common OC login\n\nBy copying and using the 3 nodes below you can quickly do an `oc login` on your target environment.\n* In the `Set Token Name` you fill in the name of the credential where you stored the token. For instance check out: [GOLD_Token](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/credentials) and take note on how this credential has been set up.\n* Also in the `Set Token Name` fill in the targeted namespace, that will be set after your login.\n* You can verify if it works by running the 3 nodes. the stdout should show ```Logged into \"https://api.gold.devops.gov.bc.ca:6443\" as \"system:serviceaccount:bf5ef6-tools:github-cicd\" using the token provided.\\n\\nYou have access to the following projects and can switch between them with 'oc project <projectname>':\\n\\n  * bf5ef6-dev\\n    bf5ef6-prod\\n    bf5ef6-test\\n    bf5ef6-tools\\n\\nUsing project \"bf5ef6-dev\".``` or something similar.\n* Now you can use these 3 nodes in your workflow whenever you need to be logging in into OpenShift.",
        "height": 322,
        "width": 1058
      },
      "id": "676f6d25-3e95-4da0-ae39-ce9d68adcf0b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1160,
        340
      ]
    },
    {
      "parameters": {},
      "id": "fee09261-1ba1-47df-ac17-d83bc0c7c5ad",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1380,
        700
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "36",
      "projectId": "MxmmiRthvum7lvDL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "id": "5",
      "name": "Template"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    },
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "id": "7",
      "name": "OpenShift"
    },
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "id": "6",
      "name": "Example"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-05-25T22:27:43.909Z",
  "versionId": "5def53c6-3b27-42f9-b073-f43a6d190c0d"
}