framework/workflows/Credentials.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-03T02:49:11.440Z",
  "id": "24",
  "name": "Credentials",
  "nodes": [
    {
      "parameters": {},
      "id": "87ac1c9f-2a57-421d-81d8-92f324023c3c",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1140,
        1000
      ]
    },
    {
      "parameters": {
        "command": "n8n export:credentials --all"
      },
      "id": "a1393929-76cd-40a2-9dde-ebede7926570",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1340,
        1000
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ JSON.parse($json.stdout) }}",
        "include": "allOtherFields",
        "options": {
          "disableDotNotation": false
        }
      },
      "id": "5c92adab-d8f2-46a9-a47f-9f64c2f03b7e",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2160,
        900
      ]
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Add a new field called 'myNewField' to the JSON of the item\nitem =\n  {\n    \"portOfLoading\": {\n      \"code\": \"LVRIX\",\n      \"name\": \"RIGA\",\n      \"unLocode\": \"LVRIX\"\n    },\n    \"portOfLoadingCountryCode\": \"LV\",\n    \"portOfDischarge\": {\n      \"code\": \"DOCAU\",\n      \"name\": \"CAUCEDO\",\n      \"unLocode\": \"DOCAU\"\n    },\n    \"portOfDischargeCountryCode\": \"DO\",\n    \"voyageReference\": \"084AQR\",\n    \"nbUnits\": 0,\n    \"routes\": [\n      {\n        \"journeyLegs\": [],\n        \"containers\": [\n          {\n            \"id\": \"CMAU0907125\",\n            \"movements\": [\n              {\n                \"statusOrder\": \"637949731\",\n              \n              }\n            ]\n          },\n          {\n            \"id\": \"DFSU1202801\",\n           \n            \"movements\": [\n              {\n                \"statusOrder\": \"637949731\",\n               \n              }\n            ]\n          }\n        ]\n      }\n    ]\n  }\n;\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn item;"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "28a5f37d-33b2-4ba5-ac82-a1b385d712fe"
    },
    {
      "parameters": {
        "fieldToSplitOut": "routes",
        "options": {}
      },
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        680,
        660
      ],
      "id": "7de57922-9767-4a6d-9aa5-db5dbcb62146"
    },
    {
      "parameters": {
        "fieldToSplitOut": "containers",
        "options": {}
      },
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        920,
        660
      ],
      "id": "93880b20-6c3a-4c52-a184-2fba7a04ea4e"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=routes[0].containers",
        "options": {}
      },
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        920,
        460
      ],
      "id": "d0459865-5be0-4a95-b49f-93687aaf5244"
    },
    {
      "parameters": {
        "jsCode": "if (Object.keys(items.stdout === 0)) {\n  return [\n     {\n       json: {\n         results: 0,\n       }\n      }\n  ]\n}\nreturn [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];\n"
      },
      "id": "5b57244a-b750-42f6-a558-65106f8669fe",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1580,
        1000
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-03T04:07:16.800Z",
  "versionId": "aa628f9f-5245-4e96-8147-dfd63f87324a"
}