framework/workflows/Error Handler.json
{
  "active": false,
  "connections": {
    "Report Error": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Set Message Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-10T09:39:10.487Z",
  "id": "41",
  "name": "Error Handler",
  "nodes": [
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        380,
        500
      ],
      "typeVersion": 1,
      "id": "dffb4a27-39c6-4c12-8bdd-b69644e5a8fb"
    },
    {
      "parameters": {},
      "id": "456f24eb-099b-4359-8703-5c777e00fde8",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        500
      ]
    },
    {
      "parameters": {
        "workflowId": "17"
      },
      "id": "17d670fe-d71f-4444-95cc-3cea6008585e",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#devops-post-update-testing"
            },
            {
              "name": "rcMessage",
              "value": "=## Workflow Execution Problem: {{$node[\"Error Trigger\"].data[\"workflow\"][\"name\"]}}\n\n* **Error:** {{$node[\"Error Trigger\"].data[\"execution\"][\"error\"][\"message\"]}}\n* **Stack Trace:** {{$node[\"Error Trigger\"].data[\"execution\"][\"error\"][\"stack\"]}}\n* **Node with Error:** {{$node[\"Error Trigger\"].data[\"execution\"][\"Error\"][\"lastNodeExecuted\"]}}\n* **Execution URL:** {{$node[\"Error Trigger\"].data[\"execution\"][\"url\"]}}\n\n"
            },
            {
              "name": "fromAddress",
              "value": "n8n@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "roland.stens@gmail.com"
            },
            {
              "name": "textMessage",
              "value": "=Workflow Execution Problem: {{$node[\"Error Trigger\"].data[\"workflow\"][\"name\"]}}  \n\n* Error: {{$node[\"Error Trigger\"].data[\"execution\"][\"error\"][\"message\"]}} \n* Stack Trace: {{$node[\"Error Trigger\"].data[\"execution\"][\"error\"][\"stack\"]}} \n* Node with Error: {{$node[\"Error Trigger\"].data[\"execution\"][\"Error\"][\"lastNodeExecuted\"]}} \n* Execution URL: {{$node[\"Error Trigger\"].data[\"execution\"][\"url\"]}}"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "=subJect",
              "value": "=Workflow Execution Problem: {{$node[\"Error Trigger\"].data[\"workflow\"][\"name\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3468de4d-f6ba-478c-9f2b-3561e21cce8b",
      "name": "Set Message Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        540,
        500
      ]
    },
    {
      "parameters": {
        "content": "## In case of a Workflow Error\n\nThis workflow will automatically be executed.\n",
        "width": 717
      },
      "id": "7735fac7-8ee7-42ef-9e47-5f5b07edae13",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        260
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-02-09T09:22:16.563Z",
      "updatedAt": "2023-02-09T09:22:16.563Z",
      "id": "2",
      "name": "Platform"
    },
    {
      "createdAt": "2023-02-25T02:07:50.772Z",
      "updatedAt": "2023-02-25T02:07:50.772Z",
      "id": "4",
      "name": "Common Component"
    },
    {
      "createdAt": "2023-03-10T05:47:25.149Z",
      "updatedAt": "2023-03-10T05:47:25.149Z",
      "id": "10",
      "name": "Utility"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-03-14T03:47:01.729Z",
  "versionId": "f3e7a169-e73a-438f-9284-214c0d71875a"
}