framework/workflows/Mongo.json
{
  "active": false,
  "connections": {
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Set Port Forward Mogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Port Forward Mogo": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-28T07:05:44.526Z",
  "id": "45",
  "name": "Mongo",
  "nodes": [
    {
      "parameters": {},
      "id": "20806ec2-a36f-4893-a614-40f5635be922",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        740,
        880
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "test",
        "fields": "id,name,description",
        "options": {}
      },
      "id": "b543785f-95da-4720-828c-7a97896eab45",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        860
      ],
      "credentials": {
        "mongoDb": {
          "id": "25",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "GOLD_Token"
            },
            {
              "name": "nameSpace",
              "value": "bf5ef6-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "01e062b4-119d-4383-83db-7d8d8c477ab5",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        980,
        860
      ]
    },
    {
      "parameters": {
        "workflowId": "28"
      },
      "id": "66799ef1-28c2-4229-b02b-28e485372a65",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1140,
        866.8535678265255
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"
      },
      "id": "5b0badb3-b305-440e-817b-9188c1f88561",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1300,
        866.8535678265255
      ]
    },
    {
      "parameters": {
        "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
        "height": 336.5625,
        "width": 471.25
      },
      "id": "a4814cf2-573a-4909-b9a7-474e57a4e21f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        760
      ]
    },
    {
      "parameters": {
        "content": "## Forward the DB port to localhost",
        "height": 336.5625,
        "width": 252.5
      },
      "id": "2f45a2ea-41f2-438d-9277-e6be70e06044",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        760.8535678265255
      ]
    },
    {
      "parameters": {
        "content": "## Run the Test Script",
        "height": 331.875,
        "width": 252.5
      },
      "id": "8d62a427-631c-4cc0-9ce9-f56c64b9d122",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "command": "=PODNAME=$(oc get pods --namespace {{ $node[\"Set Token Name\"].json.nameSpace }} -l \"name=mongodb\" -o jsonpath=\"{.items[0].metadata.name}\") \n\nCONTAINERPORT=$(oc get pod --namespace {{ $node[\"Set Token Name\"].json.nameSpace }} $PODNAME -o jsonpath=\"{.spec.containers[0].ports[0].containerPort}\")  \n\necho \"$PODNAME\\n\"\necho \"$CONTAINERPORT\\n\"\n\nnohup oc --namespace {{ $node[\"Set Token Name\"].parameter[\"values\"][\"string\"][1][\"value\"] }} port-forward pod/$PODNAME 27017:$CONTAINER_PORT > /dev/null 2>&1 & \nsleep 10\njobs"
      },
      "id": "0a629734-382e-45b6-947f-086e69b3dead",
      "name": "Set Port Forward Mogo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1500,
        860
      ]
    },
    {
      "parameters": {},
      "id": "e6dae870-3f9f-430e-95fa-e63914093ea5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2180,
        860
      ]
    },
    {
      "parameters": {
        "command": "oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"
      },
      "id": "2f139e2b-82b8-40e8-91fb-db62d3bce082",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1992,
        860
      ]
    },
    {
      "parameters": {
        "content": "## Close the Workflow",
        "height": 214.8088439233485,
        "width": 418.125
      },
      "id": "8432f732-4dba-4f74-9b4f-80d832555125",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1980,
        800
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-28T07:39:16.691Z",
  "versionId": "090fc3ae-7c66-4bdb-a8a9-8758a94eb2f1"
}