framework/workflows/OC Login.json
{
  "active": false,
  "connections": {
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-08T05:25:42.739Z",
  "id": "29",
  "name": "OC Login",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "GOLD_Token"
            },
            {
              "name": "nameSpace",
              "value": "bf5ef6-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "4277ed7c-0731-4a18-bd7d-250da6e74cd9",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": "28"
      },
      "id": "557fb01a-9b84-42fc-b76e-977a2ef5bbda",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        920,
        420
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"
      },
      "id": "44baae02-5121-4660-8e8b-002aa4d0718a",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1080,
        420
      ]
    },
    {
      "parameters": {
        "content": "## Example of using the common OC login\n\nBy copying and using the 3 nodes below you can quickly do an `oc login` on your target environment.\n* In the `Set Token Name` you fill in the name of the credential where you stored the token. For instance check out: [GOLD_Token](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/credentials) and take note on how this credential has been set up.\n* Also in the `Set Token Name` fill in the targeted namespace, that will be set after your login.\n* You can verify if it works by running the 3 nodes. the stdout should show ```Logged into \"https://api.gold.devops.gov.bc.ca:6443\" as \"system:serviceaccount:bf5ef6-tools:github-cicd\" using the token provided.\\n\\nYou have access to the following projects and can switch between them with 'oc project <projectname>':\\n\\n  * bf5ef6-dev\\n    bf5ef6-prod\\n    bf5ef6-test\\n    bf5ef6-tools\\n\\nUsing project \"bf5ef6-dev\".``` or something similar.\n* Now you can use these 3 nodes in your workflow whenever you need to be logging in into OpenShift.",
        "height": 322,
        "width": 1058
      },
      "id": "fbc58e00-c196-4bce-942e-f5c6a3fc4df5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        60
      ]
    },
    {
      "parameters": {},
      "id": "9ed9fb28-64aa-49ea-b879-96b81c8603c8",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        580,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-03-10T02:25:44.914Z",
      "updatedAt": "2023-03-10T02:25:44.914Z",
      "id": "8",
      "name": "Template"
    },
    {
      "createdAt": "2023-02-25T02:07:50.772Z",
      "updatedAt": "2023-02-25T02:07:50.772Z",
      "id": "4",
      "name": "Common Component"
    },
    {
      "createdAt": "2023-03-08T08:28:20.959Z",
      "updatedAt": "2023-03-08T08:28:20.959Z",
      "id": "7",
      "name": "Login"
    },
    {
      "createdAt": "2023-02-25T02:10:52.949Z",
      "updatedAt": "2023-02-25T02:10:52.949Z",
      "id": "6",
      "name": "Example"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-03-10T03:45:16.213Z",
  "versionId": "debc34e5-1980-4230-adcc-e4db0d8815ac"
}