framework/workflows/OC Login Common Component.json
{
  "active": false,
  "connections": {
    "Get Token": {
      "main": [
        [
          {
            "node": "Build Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-08T05:17:18.589Z",
  "id": "28",
  "isArchived": false,
  "meta": null,
  "name": "OC Login Common Component",
  "nodes": [
    {
      "parameters": {
        "content": "## Build OC Login Command\n\nThis workflow gets called while providing the **tokenName** in the calling workflow. \n\nThe workflow will find the token from the credential and will build the `oc login` statement that you can use.\n\n### Do not change this workflow as it is a common component used by other workflows.",
        "height": 217,
        "width": 717
      },
      "id": "9b977dfc-7a59-4569-a5b2-66eb0623ae9e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -140
      ]
    },
    {
      "parameters": {
        "command": "=n8n export:credentials --all --decrypted | grep -o '\\[{.*\\}]'|jq -r '.[] | select(.name | contains(\"{{ $node[\"Execute Workflow Trigger\"].json.tokenName }}\")).data.value' | tr -d '\\n'"
      },
      "id": "d98086d9-16a7-4567-8ff0-58047735bf4a",
      "name": "Get Token",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "command": "=n8n export:credentials --all --decrypted | grep -o '\\[{.*\\}]' | jq -r '.[] | select(.name | contains(\"{{ $node[\"Execute Workflow Trigger\"].json.tokenName }}\")).data.name' | sed \"s/<token>/{{ $json.stdout }}/g\" "
      },
      "id": "7ebaa3c3-1535-4724-8b6e-75aa8c8ffe2a",
      "name": "Build Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        100
      ]
    },
    {
      "parameters": {},
      "id": "217c912d-0c76-4735-9c34-dec96eb4920b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ \"ocLogin\": $('Build Login').item.json.stdout }];"
      },
      "id": "e2b00ace-fca3-4bc9-b522-49588b5fef29",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        500,
        100
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41",
    "executionTimeout": 3600,
    "executionOrder": "v0",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "28",
      "projectId": "MxmmiRthvum7lvDL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.753Z",
      "createdAt": "2023-04-28T17:02:25.753Z",
      "id": "1",
      "name": "Common Component"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-13T01:05:43.640Z",
  "versionId": "b68a28f9-76a1-4ff0-85c5-c296d6174b93"
}