framework/workflows/Patroni CLAB (HELM).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T20:19:06.889Z",
    "createdAt": "2026-06-23T20:19:05.073Z",
    "versionId": "ddd2bc8d-6f0c-4840-bfbc-4742ebfad8b7",
    "workflowId": "32",
    "nodes": [
      {
        "parameters": {},
        "id": "c3311b40-1cfe-4cb5-8675-3d2c94476bad",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -432,
          -16
        ],
        "disabled": true
      },
      {
        "parameters": {
          "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\nNAMESPACE=\"{{ $node[\"Set Token Name\"].json.nameSpace }}\"\nLOCAL_PORT=8432\nPID_FILE=\"/tmp/patroni-portforward-8432.pid\"\nLEGACY_PID_FILE=\"/tmp/patroni-portforward.pid\"\nLOG_FILE=\"/tmp/patroni-portforward-8432.log\"\n\ncleanup_pid_file() {\n  local file=\"$1\"\n  if [[ ! -f \"$file\" ]]; then\n    return 0\n  fi\n\n  local old_pid\n  old_pid=\"$(cat \"$file\" 2>/dev/null || true)\"\n  if [[ -n \"${old_pid:-}\" ]] && ps -p \"$old_pid\" >/dev/null 2>&1; then\n    echo \"Killing existing port-forward PID $old_pid from $file\"\n    kill \"$old_pid\" 2>/dev/null || true\n    sleep 1\n    if ps -p \"$old_pid\" >/dev/null 2>&1; then\n      kill -9 \"$old_pid\" 2>/dev/null || true\n    fi\n  fi\n  rm -f \"$file\"\n}\n\ncleanup_pid_file \"$PID_FILE\"\ncleanup_pid_file \"$LEGACY_PID_FILE\"\n\nPODNAME=\"$(oc -n \"$NAMESPACE\" get pods -l \"app.kubernetes.io/name=patroni,app.kubernetes.io/instance=helm-patroni-instance,role=master\" -o jsonpath=\"{.items[0].metadata.name}\")\"\nif [[ -z \"$PODNAME\" ]]; then\n  echo \"No helm Patroni master pod found\" >&2\n  exit 1\nfi\n\nREMOTE_PORT=\"$(oc -n \"$NAMESPACE\" get pod \"$PODNAME\" -o jsonpath=\"{.spec.containers[0].ports[0].containerPort}\")\"\nif [[ -z \"$REMOTE_PORT\" ]]; then\n  echo \"No container port found for $PODNAME\" >&2\n  exit 1\nfi\n\nTARGET=\"pod/$PODNAME\"\n\n: > \"$LOG_FILE\"\necho \"Starting port-forward to $TARGET in namespace $NAMESPACE on 8432 -> $REMOTE_PORT\"\noc -n \"$NAMESPACE\" port-forward \"$TARGET\" \"8432:$REMOTE_PORT\" > \"$LOG_FILE\" 2>&1 &\nPFPID=$!\necho \"$PFPID\" > \"$PID_FILE\"\n\nfor attempt in $(seq 1 20); do\n  if ! ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Port-forward process died before port 8432 was ready\" >&2\n    cat \"$LOG_FILE\" >&2 || true\n    exit 1\n  fi\n\n  if bash -c \": > /dev/tcp/127.0.0.1/8432\" >/dev/null 2>&1; then\n    echo \"Port-forward ready with PID $PFPID on port 8432\"\n    exit 0\n  fi\n\n  sleep 1\ndone\n\necho \"Port-forward did not become ready on port 8432\" >&2\ncat \"$LOG_FILE\" >&2 || true\nexit 1\n"
        },
        "id": "e0882245-000d-4f91-9d81-5c0bf1952115",
        "name": "Set Port Forward Patroni",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          352,
          80
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {},
        "id": "869c2471-2ef0-4e20-a14f-fe881c59fe42",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1760,
          -208
        ]
      },
      {
        "parameters": {
          "command": "#!/usr/bin/env bash\nset -euo pipefail\n\nfor PID_FILE in \"/tmp/patroni-portforward-8432.pid\" \"/tmp/patroni-portforward.pid\"; do\n  if [[ ! -f \"$PID_FILE\" ]]; then\n    continue\n  fi\n\n  PFPID=\"$(cat \"$PID_FILE\" 2>/dev/null || true)\"\n  if [[ -n \"${PFPID:-}\" ]] && ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Killing port-forward PID $PFPID from $PID_FILE\"\n    kill \"$PFPID\" 2>/dev/null || true\n    sleep 2\n    if ps -p \"$PFPID\" >/dev/null 2>&1; then\n      echo \"Force killing port-forward PID $PFPID\"\n      kill -9 \"$PFPID\" 2>/dev/null || true\n    fi\n  else\n    echo \"Port-forward PID from $PID_FILE is not running\"\n  fi\n\n  rm -f \"$PID_FILE\"\ndone\n\noc logout || true\n"
        },
        "id": "bede4b90-18b9-4daa-aca2-279c5030176c",
        "name": "OC Logout",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1584,
          -208
        ]
      },
      {
        "parameters": {
          "workflowId": "17",
          "options": {}
        },
        "id": "c6f0562c-2903-4918-a0b8-62c3e9763794",
        "name": "Report Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1328,
          96
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "tokenName",
                "value": "CLAB_Token"
              },
              {
                "name": "nameSpace",
                "value": "e31b6b-dev"
              }
            ]
          },
          "options": {}
        },
        "id": "ea3ad669-8a4f-4962-93ad-42568fd6e538",
        "name": "Set Token Name",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          -224,
          80
        ]
      },
      {
        "parameters": {
          "workflowId": "28",
          "options": {}
        },
        "id": "fb8746ae-2b92-429b-b432-264423f2012f",
        "name": "Build Login Command",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          -64,
          80
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}"
        },
        "id": "f0899b0e-bf26-46fc-9a52-2f44ee62cae3",
        "name": "OC Login",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          96,
          80
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {},
        "id": "2ae0f9ab-3436-40a3-bb0a-539b16208be1",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -432,
          160
        ]
      },
      {
        "parameters": {
          "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
          "height": 336.5625,
          "width": 471.25
        },
        "id": "f68236b3-f874-417d-b515-ecc920056326",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -272,
          -16
        ]
      },
      {
        "parameters": {
          "content": "## Forward the DB port to localhost",
          "height": 336.5625,
          "width": 252.5
        },
        "id": "8463e542-e8a7-4fc9-876b-167d4b58ba33",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          272,
          -16
        ]
      },
      {
        "parameters": {
          "content": "## Run the Test Script",
          "height": 331.875,
          "width": 252.5
        },
        "id": "5727d469-c39d-46cd-bfa3-30a503c735d2",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          528,
          -16
        ]
      },
      {
        "parameters": {
          "content": "## Check the result",
          "height": 331.875,
          "width": 233.75
        },
        "id": "e313e1e4-5556-4540-978b-f87543376ee5",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          800,
          -16
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TEMP TABLE lat_longs (\n  c1 bigint GENERATED ALWAYS AS IDENTITY,\n  c2 double precision\n) ON COMMIT DROP;\n\nINSERT INTO lat_longs(c2)\nSELECT random() * 100\nFROM generate_series(1, 10000);\n\nSELECT count(*) AS count FROM lat_longs;\n",
          "additionalFields": {}
        },
        "id": "0f74e1f6-8dae-48b3-a8da-8854c42e7693",
        "name": "Postgres Test",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 1,
        "position": [
          624,
          80
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000,
        "credentials": {
          "postgres": {
            "id": "12",
            "name": "Patroni (HELM)"
          }
        }
      },
      {
        "parameters": {
          "content": "## Close the Workflow",
          "height": 513.4527191558439,
          "width": 376.94128787878833
        },
        "id": "d4bc98ec-4c77-4ce1-9021-37b674f801da",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1568,
          -256
        ]
      },
      {
        "parameters": {
          "content": "## Report the Error",
          "height": 217.8125,
          "width": 418.125
        },
        "id": "49402a7d-bdea-4ec2-89de-f871746b4683",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1104,
          32
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.count }}",
                "value2": "10000"
              }
            ]
          }
        },
        "id": "a6216ff6-0814-45da-8979-6af5fa3e9d64",
        "name": "Check",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          864,
          80
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "Patroni (HELM) Failed Post Update Test"
              },
              {
                "name": "fromAddress",
                "value": "no-reply@gov.bc.ca"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.crunchy_Notify }}"
              },
              {
                "name": "textMessage",
                "value": "Test 2"
              },
              {
                "name": "htmlMessage"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=Patroni (HELM) Failed Post Update Test"
              }
            ]
          },
          "options": {}
        },
        "id": "44af57a8-d46b-4f2f-bf9f-dbbb0f5f6df4",
        "name": "Set Message Params for Error Report1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          1136,
          96
        ]
      },
      {
        "parameters": {
          "errorMessage": "=Error in {{ $workflow.name }}"
        },
        "id": "c600fa50-7dfc-4a69-8472-9d972e69f772",
        "name": "Stop and Error",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1584,
          96
        ]
      },
      {
        "parameters": {
          "content": "## This is the test for the HELM Patroni installed in CLAB\n\nFrom https://github.com/bcgov/nr-patroni-chart\n",
          "height": 146.76237824675292,
          "width": 863.6390692640689
        },
        "id": "3bff319c-cfe0-46f6-8aaf-7dd737853ff8",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          128,
          -384
        ]
      }
    ],
    "connections": {
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Port Forward Patroni": {
        "main": [
          [
            {
              "node": "Postgres Test",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Logout": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Report Error": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Token Name": {
        "main": [
          [
            {
              "node": "Build Login Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Login Command": {
        "main": [
          [
            {
              "node": "OC Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Login": {
        "main": [
          [
            {
              "node": "Set Port Forward Patroni",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Test": {
        "main": [
          [
            {
              "node": "Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check": {
        "main": [
          [
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params for Error Report1": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version ddd2bc8d",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "ddd2bc8d-6f0c-4840-bfbc-4742ebfad8b7",
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Port Forward Patroni": {
      "main": [
        [
          {
            "node": "Postgres Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Set Port Forward Patroni",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Test": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report1": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-08T09:55:40.447Z",
  "id": "32",
  "isArchived": false,
  "meta": null,
  "name": "Patroni CLAB (HELM)",
  "nodes": [
    {
      "parameters": {},
      "id": "c3311b40-1cfe-4cb5-8675-3d2c94476bad",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -16
      ],
      "disabled": true
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\nNAMESPACE=\"{{ $node[\"Set Token Name\"].json.nameSpace }}\"\nLOCAL_PORT=8432\nPID_FILE=\"/tmp/patroni-portforward-8432.pid\"\nLEGACY_PID_FILE=\"/tmp/patroni-portforward.pid\"\nLOG_FILE=\"/tmp/patroni-portforward-8432.log\"\n\ncleanup_pid_file() {\n  local file=\"$1\"\n  if [[ ! -f \"$file\" ]]; then\n    return 0\n  fi\n\n  local old_pid\n  old_pid=\"$(cat \"$file\" 2>/dev/null || true)\"\n  if [[ -n \"${old_pid:-}\" ]] && ps -p \"$old_pid\" >/dev/null 2>&1; then\n    echo \"Killing existing port-forward PID $old_pid from $file\"\n    kill \"$old_pid\" 2>/dev/null || true\n    sleep 1\n    if ps -p \"$old_pid\" >/dev/null 2>&1; then\n      kill -9 \"$old_pid\" 2>/dev/null || true\n    fi\n  fi\n  rm -f \"$file\"\n}\n\ncleanup_pid_file \"$PID_FILE\"\ncleanup_pid_file \"$LEGACY_PID_FILE\"\n\nPODNAME=\"$(oc -n \"$NAMESPACE\" get pods -l \"app.kubernetes.io/name=patroni,app.kubernetes.io/instance=helm-patroni-instance,role=master\" -o jsonpath=\"{.items[0].metadata.name}\")\"\nif [[ -z \"$PODNAME\" ]]; then\n  echo \"No helm Patroni master pod found\" >&2\n  exit 1\nfi\n\nREMOTE_PORT=\"$(oc -n \"$NAMESPACE\" get pod \"$PODNAME\" -o jsonpath=\"{.spec.containers[0].ports[0].containerPort}\")\"\nif [[ -z \"$REMOTE_PORT\" ]]; then\n  echo \"No container port found for $PODNAME\" >&2\n  exit 1\nfi\n\nTARGET=\"pod/$PODNAME\"\n\n: > \"$LOG_FILE\"\necho \"Starting port-forward to $TARGET in namespace $NAMESPACE on 8432 -> $REMOTE_PORT\"\noc -n \"$NAMESPACE\" port-forward \"$TARGET\" \"8432:$REMOTE_PORT\" > \"$LOG_FILE\" 2>&1 &\nPFPID=$!\necho \"$PFPID\" > \"$PID_FILE\"\n\nfor attempt in $(seq 1 20); do\n  if ! ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Port-forward process died before port 8432 was ready\" >&2\n    cat \"$LOG_FILE\" >&2 || true\n    exit 1\n  fi\n\n  if bash -c \": > /dev/tcp/127.0.0.1/8432\" >/dev/null 2>&1; then\n    echo \"Port-forward ready with PID $PFPID on port 8432\"\n    exit 0\n  fi\n\n  sleep 1\ndone\n\necho \"Port-forward did not become ready on port 8432\" >&2\ncat \"$LOG_FILE\" >&2 || true\nexit 1\n"
      },
      "id": "e0882245-000d-4f91-9d81-5c0bf1952115",
      "name": "Set Port Forward Patroni",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        352,
        80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {},
      "id": "869c2471-2ef0-4e20-a14f-fe881c59fe42",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        -208
      ]
    },
    {
      "parameters": {
        "command": "#!/usr/bin/env bash\nset -euo pipefail\n\nfor PID_FILE in \"/tmp/patroni-portforward-8432.pid\" \"/tmp/patroni-portforward.pid\"; do\n  if [[ ! -f \"$PID_FILE\" ]]; then\n    continue\n  fi\n\n  PFPID=\"$(cat \"$PID_FILE\" 2>/dev/null || true)\"\n  if [[ -n \"${PFPID:-}\" ]] && ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Killing port-forward PID $PFPID from $PID_FILE\"\n    kill \"$PFPID\" 2>/dev/null || true\n    sleep 2\n    if ps -p \"$PFPID\" >/dev/null 2>&1; then\n      echo \"Force killing port-forward PID $PFPID\"\n      kill -9 \"$PFPID\" 2>/dev/null || true\n    fi\n  else\n    echo \"Port-forward PID from $PID_FILE is not running\"\n  fi\n\n  rm -f \"$PID_FILE\"\ndone\n\noc logout || true\n"
      },
      "id": "bede4b90-18b9-4daa-aca2-279c5030176c",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1584,
        -208
      ]
    },
    {
      "parameters": {
        "workflowId": "17",
        "options": {}
      },
      "id": "c6f0562c-2903-4918-a0b8-62c3e9763794",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1328,
        96
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "CLAB_Token"
            },
            {
              "name": "nameSpace",
              "value": "e31b6b-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "ea3ad669-8a4f-4962-93ad-42568fd6e538",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -224,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": "28",
        "options": {}
      },
      "id": "fb8746ae-2b92-429b-b432-264423f2012f",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -64,
        80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}"
      },
      "id": "f0899b0e-bf26-46fc-9a52-2f44ee62cae3",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        96,
        80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {},
      "id": "2ae0f9ab-3436-40a3-bb0a-539b16208be1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
        "height": 336.5625,
        "width": 471.25
      },
      "id": "f68236b3-f874-417d-b515-ecc920056326",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -16
      ]
    },
    {
      "parameters": {
        "content": "## Forward the DB port to localhost",
        "height": 336.5625,
        "width": 252.5
      },
      "id": "8463e542-e8a7-4fc9-876b-167d4b58ba33",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -16
      ]
    },
    {
      "parameters": {
        "content": "## Run the Test Script",
        "height": 331.875,
        "width": 252.5
      },
      "id": "5727d469-c39d-46cd-bfa3-30a503c735d2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -16
      ]
    },
    {
      "parameters": {
        "content": "## Check the result",
        "height": 331.875,
        "width": 233.75
      },
      "id": "e313e1e4-5556-4540-978b-f87543376ee5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TEMP TABLE lat_longs (\n  c1 bigint GENERATED ALWAYS AS IDENTITY,\n  c2 double precision\n) ON COMMIT DROP;\n\nINSERT INTO lat_longs(c2)\nSELECT random() * 100\nFROM generate_series(1, 10000);\n\nSELECT count(*) AS count FROM lat_longs;\n",
        "additionalFields": {}
      },
      "id": "0f74e1f6-8dae-48b3-a8da-8854c42e7693",
      "name": "Postgres Test",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        624,
        80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "postgres": {
          "id": "12",
          "name": "Patroni (HELM)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Close the Workflow",
        "height": 513.4527191558439,
        "width": 376.94128787878833
      },
      "id": "d4bc98ec-4c77-4ce1-9021-37b674f801da",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1568,
        -256
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 418.125
      },
      "id": "49402a7d-bdea-4ec2-89de-f871746b4683",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "10000"
            }
          ]
        }
      },
      "id": "a6216ff6-0814-45da-8979-6af5fa3e9d64",
      "name": "Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        864,
        80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "Patroni (HELM) Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.crunchy_Notify }}"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Patroni (HELM) Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "44af57a8-d46b-4f2f-bf9f-dbbb0f5f6df4",
      "name": "Set Message Params for Error Report1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1136,
        96
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Error in {{ $workflow.name }}"
      },
      "id": "c600fa50-7dfc-4a69-8472-9d972e69f772",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1584,
        96
      ]
    },
    {
      "parameters": {
        "content": "## This is the test for the HELM Patroni installed in CLAB\n\nFrom https://github.com/bcgov/nr-patroni-chart\n",
        "height": 146.76237824675292,
        "width": 863.6390692640689
      },
      "id": "3bff319c-cfe0-46f6-8aaf-7dd737853ff8",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -384
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "32",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2023-04-28T17:06:56.029Z",
      "createdAt": "2023-04-28T17:06:56.029Z",
      "id": "4",
      "name": "Test"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T20:19:05.070Z",
  "versionId": "ddd2bc8d-6f0c-4840-bfbc-4742ebfad8b7"
}