framework/workflows/Patroni CLAB (Reference).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T20:20:09.954Z",
    "createdAt": "2026-06-23T20:20:05.129Z",
    "versionId": "89e1ba82-3eb8-4418-92e6-31d461fe92e9",
    "workflowId": "31",
    "nodes": [
      {
        "parameters": {},
        "id": "cf1f8be0-0bfa-4d76-8347-76172854e4b3",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -256,
          704
        ],
        "disabled": true
      },
      {
        "parameters": {
          "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\nNAMESPACE=\"{{ $node[\"Set Token Name\"].json.nameSpace }}\"\nLOCAL_PORT=15435\nPID_FILE=\"/tmp/patroni-portforward-15435.pid\"\nLEGACY_PID_FILE=\"/tmp/patroni-portforward.pid\"\nLOG_FILE=\"/tmp/patroni-portforward-15435.log\"\n\ncleanup_pid_file() {\n  local file=\"$1\"\n  if [[ ! -f \"$file\" ]]; then\n    return 0\n  fi\n\n  local old_pid\n  old_pid=\"$(cat \"$file\" 2>/dev/null || true)\"\n  if [[ -n \"${old_pid:-}\" ]] && ps -p \"$old_pid\" >/dev/null 2>&1; then\n    echo \"Killing existing port-forward PID $old_pid from $file\"\n    kill \"$old_pid\" 2>/dev/null || true\n    sleep 1\n    if ps -p \"$old_pid\" >/dev/null 2>&1; then\n      kill -9 \"$old_pid\" 2>/dev/null || true\n    fi\n  fi\n  rm -f \"$file\"\n}\n\ncleanup_pid_file \"$PID_FILE\"\ncleanup_pid_file \"$LEGACY_PID_FILE\"\n\nTARGET=\"svc/patroni-reference-master\"\nREMOTE_PORT=5432\n\n: > \"$LOG_FILE\"\necho \"Starting port-forward to $TARGET in namespace $NAMESPACE on 15435 -> $REMOTE_PORT\"\noc -n \"$NAMESPACE\" port-forward \"$TARGET\" \"15435:$REMOTE_PORT\" > \"$LOG_FILE\" 2>&1 &\nPFPID=$!\necho \"$PFPID\" > \"$PID_FILE\"\n\nfor attempt in $(seq 1 20); do\n  if ! ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Port-forward process died before port 15435 was ready\" >&2\n    cat \"$LOG_FILE\" >&2 || true\n    exit 1\n  fi\n\n  if bash -c \": > /dev/tcp/127.0.0.1/15435\" >/dev/null 2>&1; then\n    echo \"Port-forward ready with PID $PFPID on port 15435\"\n    exit 0\n  fi\n\n  sleep 1\ndone\n\necho \"Port-forward did not become ready on port 15435\" >&2\ncat \"$LOG_FILE\" >&2 || true\nexit 1\n"
        },
        "id": "b571e017-d823-48ad-b013-a94c7a154dbc",
        "name": "Set Port Forward Patroni",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1312,
          784
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {},
        "id": "8fd4c41f-f8c5-4b31-9b64-a14f0db0fae5",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2656,
          752
        ]
      },
      {
        "parameters": {
          "command": "#!/usr/bin/env bash\nset -euo pipefail\n\nfor PID_FILE in \"/tmp/patroni-portforward-15435.pid\" \"/tmp/patroni-portforward.pid\"; do\n  if [[ ! -f \"$PID_FILE\" ]]; then\n    continue\n  fi\n\n  PFPID=\"$(cat \"$PID_FILE\" 2>/dev/null || true)\"\n  if [[ -n \"${PFPID:-}\" ]] && ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Killing port-forward PID $PFPID from $PID_FILE\"\n    kill \"$PFPID\" 2>/dev/null || true\n    sleep 2\n    if ps -p \"$PFPID\" >/dev/null 2>&1; then\n      echo \"Force killing port-forward PID $PFPID\"\n      kill -9 \"$PFPID\" 2>/dev/null || true\n    fi\n  else\n    echo \"Port-forward PID from $PID_FILE is not running\"\n  fi\n\n  rm -f \"$PID_FILE\"\ndone\n\noc logout || true\n"
        },
        "id": "2dde91ea-15b5-4346-b65e-998c3f9ff365",
        "name": "OC Logout",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2464,
          752
        ]
      },
      {
        "parameters": {
          "workflowId": "17",
          "options": {}
        },
        "id": "aa95a397-b858-481e-b9b7-0cdc08a5d82e",
        "name": "Report Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          2272,
          1120
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "tokenName",
                "value": "CLAB_Token"
              },
              {
                "name": "nameSpace",
                "value": "e31b6b-dev"
              }
            ]
          },
          "options": {}
        },
        "id": "1052486d-80df-4e21-ba45-0babcab6f013",
        "name": "Set Token Name",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          64,
          800
        ]
      },
      {
        "parameters": {
          "workflowId": "28",
          "options": {}
        },
        "id": "81d67b26-dce8-4aeb-9158-f31082514494",
        "name": "Build Login Command",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          224,
          800
        ],
        "alwaysOutputData": true,
        "retryOnFail": false
      },
      {
        "parameters": {
          "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\noc logout || true\n{{ $json.ocLogin }}\n"
        },
        "id": "24dd0a9d-6a66-40ac-ba38-218edeb21a98",
        "name": "OC Login",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          384,
          800
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {},
        "id": "5896a9d2-41bd-403b-8a98-a9c5a6d2023e",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -256,
          880
        ]
      },
      {
        "parameters": {
          "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
          "height": 327.72692944534356,
          "width": 471.25
        },
        "id": "9c142a34-2884-4bb7-8602-87adea9157a3",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          48,
          704
        ]
      },
      {
        "parameters": {
          "content": "## Forward the DB port to localhost",
          "height": 324.1121722138173,
          "width": 252.5
        },
        "id": "8a78325f-356e-41c7-a473-4d0b3fcc75ae",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1248,
          704
        ]
      },
      {
        "parameters": {
          "content": "## Run the Test Script",
          "height": 331.875,
          "width": 230.71192637418068
        },
        "id": "512f04ac-9888-478d-ba33-def70f801fb4",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1504,
          704
        ]
      },
      {
        "parameters": {
          "content": "## Check the result",
          "height": 331.875,
          "width": 233.75
        },
        "id": "9c2a1e8c-f48f-4854-811b-4e56dd6e42fe",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1744,
          704
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TEMP TABLE lat_longs (\n  c1 bigint GENERATED ALWAYS AS IDENTITY,\n  c2 double precision\n) ON COMMIT DROP;\n\nINSERT INTO lat_longs(c2)\nSELECT random() * 100\nFROM generate_series(1, 10000);\n\nSELECT count(*) AS count FROM lat_longs;\n",
          "additionalFields": {}
        },
        "id": "a70d96e8-8ba2-4329-aa3c-779bc4bc5474",
        "name": "Postgres Test",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 1,
        "position": [
          1568,
          784
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000,
        "credentials": {
          "postgres": {
            "id": "39",
            "name": "Patroni(reference) clab"
          }
        }
      },
      {
        "parameters": {
          "content": "## Close the Workflow",
          "height": 571.1994768028239,
          "width": 377.6614346949063
        },
        "id": "dc7d8f80-3921-4b21-a4b0-d5d4726abd53",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2240,
          688
        ]
      },
      {
        "parameters": {
          "content": "## Report the Error",
          "height": 217.8125,
          "width": 361.0555345436212
        },
        "id": "ee752026-9a81-428e-9ed7-a48686ef0a82",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2032,
          1072
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.count }}",
                "value2": "10000"
              }
            ]
          }
        },
        "id": "22281c4f-c294-40e7-9e6a-14112698cb8b",
        "name": "Check",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1792,
          784
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "Patroni (Reference) Failed Post Update Test"
              },
              {
                "name": "fromAddress",
                "value": "no-reply@gov.bc.ca"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.crunchy_Notify }}"
              },
              {
                "name": "textMessage",
                "value": "Test 2"
              },
              {
                "name": "htmlMessage"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=Patroni (Reference) Failed Post Update Test"
              }
            ]
          },
          "options": {}
        },
        "id": "fb3a98cb-a248-4774-b8b2-107fbfe7e689",
        "name": "Set Message Params for Error Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          2112,
          1120
        ]
      },
      {
        "parameters": {
          "command": "=PODNAME=$(oc -n {{ $node[\"Set Token Name\"].json.nameSpace }} \\\n  get pods -o name --selector role=master,cluster-name=patroni-reference | head -n 1)\n\nif [ -z \"$PODNAME\" ]; then\n  echo \"Health check: no master pod found\" 1>&2\n  exit 1\nfi\n\necho \"Running health_check.sh in $PODNAME\" 1>&2\n\noc -n {{ $node[\"Set Token Name\"].json.nameSpace }} exec \"$PODNAME\" -- \\\n  /usr/share/scripts/patroni/health_check.sh\n"
        },
        "id": "5abb7689-1930-4d02-92ae-091cb97fdae1",
        "name": "Check Readiness",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          608,
          800
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const check = $('Check Readiness').item.json || {};\nconst stdout = check.stdout || '';\nconst stderr = check.stderr || '';\nconst exitCode = check.exitCode;\n\nfunction tryParseJson(text) {\n  const firstBrace = text.indexOf('{');\n  if (firstBrace === -1) {\n    return null;\n  }\n  try {\n    return JSON.parse(text.slice(firstBrace));\n  } catch (e) {\n    return null;\n  }\n}\n\nconst parsed = tryParseJson(stdout);\n\nif (!parsed) {\n  // No valid JSON → bubble up as a structured failure, not a JS exception\n  return [{\n    State: 'unknown',\n    ok: false,\n    exitCode,\n    stdout,\n    stderr,\n    reason: 'Health check output was not valid JSON',\n  }];\n}\n\nreturn [{\n  ...parsed,\n  ok: true,\n  exitCode,\n  rawStdout: stdout,\n  rawStderr: stderr,\n}];"
        },
        "id": "eab8758d-be22-4ff7-9df4-2d2c9807af7f",
        "name": "Get Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          912,
          800
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.State }}",
                "value2": "running"
              }
            ]
          }
        },
        "id": "b8961a25-2982-442e-80df-900352424cc8",
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1056,
          800
        ]
      },
      {
        "parameters": {
          "content": "## Check Readiness",
          "height": 333.5588439233485,
          "width": 601.6563494279864
        },
        "id": "6974c6a5-447b-4d46-aab5-f5e130d60091",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          576,
          704
        ]
      },
      {
        "parameters": {
          "errorMessage": "=Error in {{ $workflow.name }}"
        },
        "id": "da70d1dd-7a14-46f5-83ca-dcf8835c6435",
        "name": "Stop and Error",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          2496,
          1120
        ]
      },
      {
        "parameters": {
          "content": "## Test Patroni Reference Install\n\nFrom: https://github.com/bcgov/patroni-postgres-container",
          "width": 1397.880484114978
        },
        "id": "af85b543-7e1d-400e-8617-f654ac02a156",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          304
        ]
      },
      {
        "parameters": {
          "amount": 10,
          "unit": "seconds"
        },
        "id": "2a7e7b06-3592-4e9b-ad63-61d854a4eb1f",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          768,
          800
        ],
        "webhookId": "b94e5636-cc6d-4ea8-b048-16be8d0c53f1"
      }
    ],
    "connections": {
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Port Forward Patroni": {
        "main": [
          [
            {
              "node": "Postgres Test",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Logout": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Report Error": {
        "main": [
          [
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            },
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Token Name": {
        "main": [
          [
            {
              "node": "Build Login Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Login Command": {
        "main": [
          [
            {
              "node": "OC Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Test": {
        "main": [
          [
            {
              "node": "Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check": {
        "main": [
          [
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params for Error Report": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Login": {
        "main": [
          [
            {
              "node": "Check Readiness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Readiness": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Result": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF": {
        "main": [
          [
            {
              "node": "Set Port Forward Patroni",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version 89e1ba82",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "89e1ba82-3eb8-4418-92e6-31d461fe92e9",
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Port Forward Patroni": {
      "main": [
        [
          {
            "node": "Postgres Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Test": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Check Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Readiness": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set Port Forward Patroni",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-08T09:34:45.027Z",
  "id": "31",
  "isArchived": false,
  "meta": null,
  "name": "Patroni CLAB (Reference)",
  "nodes": [
    {
      "parameters": {},
      "id": "cf1f8be0-0bfa-4d76-8347-76172854e4b3",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        704
      ],
      "disabled": true
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\nNAMESPACE=\"{{ $node[\"Set Token Name\"].json.nameSpace }}\"\nLOCAL_PORT=15435\nPID_FILE=\"/tmp/patroni-portforward-15435.pid\"\nLEGACY_PID_FILE=\"/tmp/patroni-portforward.pid\"\nLOG_FILE=\"/tmp/patroni-portforward-15435.log\"\n\ncleanup_pid_file() {\n  local file=\"$1\"\n  if [[ ! -f \"$file\" ]]; then\n    return 0\n  fi\n\n  local old_pid\n  old_pid=\"$(cat \"$file\" 2>/dev/null || true)\"\n  if [[ -n \"${old_pid:-}\" ]] && ps -p \"$old_pid\" >/dev/null 2>&1; then\n    echo \"Killing existing port-forward PID $old_pid from $file\"\n    kill \"$old_pid\" 2>/dev/null || true\n    sleep 1\n    if ps -p \"$old_pid\" >/dev/null 2>&1; then\n      kill -9 \"$old_pid\" 2>/dev/null || true\n    fi\n  fi\n  rm -f \"$file\"\n}\n\ncleanup_pid_file \"$PID_FILE\"\ncleanup_pid_file \"$LEGACY_PID_FILE\"\n\nTARGET=\"svc/patroni-reference-master\"\nREMOTE_PORT=5432\n\n: > \"$LOG_FILE\"\necho \"Starting port-forward to $TARGET in namespace $NAMESPACE on 15435 -> $REMOTE_PORT\"\noc -n \"$NAMESPACE\" port-forward \"$TARGET\" \"15435:$REMOTE_PORT\" > \"$LOG_FILE\" 2>&1 &\nPFPID=$!\necho \"$PFPID\" > \"$PID_FILE\"\n\nfor attempt in $(seq 1 20); do\n  if ! ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Port-forward process died before port 15435 was ready\" >&2\n    cat \"$LOG_FILE\" >&2 || true\n    exit 1\n  fi\n\n  if bash -c \": > /dev/tcp/127.0.0.1/15435\" >/dev/null 2>&1; then\n    echo \"Port-forward ready with PID $PFPID on port 15435\"\n    exit 0\n  fi\n\n  sleep 1\ndone\n\necho \"Port-forward did not become ready on port 15435\" >&2\ncat \"$LOG_FILE\" >&2 || true\nexit 1\n"
      },
      "id": "b571e017-d823-48ad-b013-a94c7a154dbc",
      "name": "Set Port Forward Patroni",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1312,
        784
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {},
      "id": "8fd4c41f-f8c5-4b31-9b64-a14f0db0fae5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2656,
        752
      ]
    },
    {
      "parameters": {
        "command": "#!/usr/bin/env bash\nset -euo pipefail\n\nfor PID_FILE in \"/tmp/patroni-portforward-15435.pid\" \"/tmp/patroni-portforward.pid\"; do\n  if [[ ! -f \"$PID_FILE\" ]]; then\n    continue\n  fi\n\n  PFPID=\"$(cat \"$PID_FILE\" 2>/dev/null || true)\"\n  if [[ -n \"${PFPID:-}\" ]] && ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Killing port-forward PID $PFPID from $PID_FILE\"\n    kill \"$PFPID\" 2>/dev/null || true\n    sleep 2\n    if ps -p \"$PFPID\" >/dev/null 2>&1; then\n      echo \"Force killing port-forward PID $PFPID\"\n      kill -9 \"$PFPID\" 2>/dev/null || true\n    fi\n  else\n    echo \"Port-forward PID from $PID_FILE is not running\"\n  fi\n\n  rm -f \"$PID_FILE\"\ndone\n\noc logout || true\n"
      },
      "id": "2dde91ea-15b5-4346-b65e-998c3f9ff365",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2464,
        752
      ]
    },
    {
      "parameters": {
        "workflowId": "17",
        "options": {}
      },
      "id": "aa95a397-b858-481e-b9b7-0cdc08a5d82e",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2272,
        1120
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "CLAB_Token"
            },
            {
              "name": "nameSpace",
              "value": "e31b6b-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "1052486d-80df-4e21-ba45-0babcab6f013",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        64,
        800
      ]
    },
    {
      "parameters": {
        "workflowId": "28",
        "options": {}
      },
      "id": "81d67b26-dce8-4aeb-9158-f31082514494",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        224,
        800
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\noc logout || true\n{{ $json.ocLogin }}\n"
      },
      "id": "24dd0a9d-6a66-40ac-ba38-218edeb21a98",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        384,
        800
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "id": "5896a9d2-41bd-403b-8a98-a9c5a6d2023e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        880
      ]
    },
    {
      "parameters": {
        "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
        "height": 327.72692944534356,
        "width": 471.25
      },
      "id": "9c142a34-2884-4bb7-8602-87adea9157a3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        704
      ]
    },
    {
      "parameters": {
        "content": "## Forward the DB port to localhost",
        "height": 324.1121722138173,
        "width": 252.5
      },
      "id": "8a78325f-356e-41c7-a473-4d0b3fcc75ae",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        704
      ]
    },
    {
      "parameters": {
        "content": "## Run the Test Script",
        "height": 331.875,
        "width": 230.71192637418068
      },
      "id": "512f04ac-9888-478d-ba33-def70f801fb4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        704
      ]
    },
    {
      "parameters": {
        "content": "## Check the result",
        "height": 331.875,
        "width": 233.75
      },
      "id": "9c2a1e8c-f48f-4854-811b-4e56dd6e42fe",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        704
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TEMP TABLE lat_longs (\n  c1 bigint GENERATED ALWAYS AS IDENTITY,\n  c2 double precision\n) ON COMMIT DROP;\n\nINSERT INTO lat_longs(c2)\nSELECT random() * 100\nFROM generate_series(1, 10000);\n\nSELECT count(*) AS count FROM lat_longs;\n",
        "additionalFields": {}
      },
      "id": "a70d96e8-8ba2-4329-aa3c-779bc4bc5474",
      "name": "Postgres Test",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1568,
        784
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "postgres": {
          "id": "39",
          "name": "Patroni(reference) clab"
        }
      }
    },
    {
      "parameters": {
        "content": "## Close the Workflow",
        "height": 571.1994768028239,
        "width": 377.6614346949063
      },
      "id": "dc7d8f80-3921-4b21-a4b0-d5d4726abd53",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        688
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 361.0555345436212
      },
      "id": "ee752026-9a81-428e-9ed7-a48686ef0a82",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        1072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "10000"
            }
          ]
        }
      },
      "id": "22281c4f-c294-40e7-9e6a-14112698cb8b",
      "name": "Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1792,
        784
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "Patroni (Reference) Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.crunchy_Notify }}"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Patroni (Reference) Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "fb3a98cb-a248-4774-b8b2-107fbfe7e689",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2112,
        1120
      ]
    },
    {
      "parameters": {
        "command": "=PODNAME=$(oc -n {{ $node[\"Set Token Name\"].json.nameSpace }} \\\n  get pods -o name --selector role=master,cluster-name=patroni-reference | head -n 1)\n\nif [ -z \"$PODNAME\" ]; then\n  echo \"Health check: no master pod found\" 1>&2\n  exit 1\nfi\n\necho \"Running health_check.sh in $PODNAME\" 1>&2\n\noc -n {{ $node[\"Set Token Name\"].json.nameSpace }} exec \"$PODNAME\" -- \\\n  /usr/share/scripts/patroni/health_check.sh\n"
      },
      "id": "5abb7689-1930-4d02-92ae-091cb97fdae1",
      "name": "Check Readiness",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        608,
        800
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const check = $('Check Readiness').item.json || {};\nconst stdout = check.stdout || '';\nconst stderr = check.stderr || '';\nconst exitCode = check.exitCode;\n\nfunction tryParseJson(text) {\n  const firstBrace = text.indexOf('{');\n  if (firstBrace === -1) {\n    return null;\n  }\n  try {\n    return JSON.parse(text.slice(firstBrace));\n  } catch (e) {\n    return null;\n  }\n}\n\nconst parsed = tryParseJson(stdout);\n\nif (!parsed) {\n  // No valid JSON → bubble up as a structured failure, not a JS exception\n  return [{\n    State: 'unknown',\n    ok: false,\n    exitCode,\n    stdout,\n    stderr,\n    reason: 'Health check output was not valid JSON',\n  }];\n}\n\nreturn [{\n  ...parsed,\n  ok: true,\n  exitCode,\n  rawStdout: stdout,\n  rawStderr: stderr,\n}];"
      },
      "id": "eab8758d-be22-4ff7-9df4-2d2c9807af7f",
      "name": "Get Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        912,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.State }}",
              "value2": "running"
            }
          ]
        }
      },
      "id": "b8961a25-2982-442e-80df-900352424cc8",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1056,
        800
      ]
    },
    {
      "parameters": {
        "content": "## Check Readiness",
        "height": 333.5588439233485,
        "width": 601.6563494279864
      },
      "id": "6974c6a5-447b-4d46-aab5-f5e130d60091",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        704
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Error in {{ $workflow.name }}"
      },
      "id": "da70d1dd-7a14-46f5-83ca-dcf8835c6435",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2496,
        1120
      ]
    },
    {
      "parameters": {
        "content": "## Test Patroni Reference Install\n\nFrom: https://github.com/bcgov/patroni-postgres-container",
        "width": 1397.880484114978
      },
      "id": "af85b543-7e1d-400e-8617-f654ac02a156",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        304
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "2a7e7b06-3592-4e9b-ad63-61d854a4eb1f",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        768,
        800
      ],
      "webhookId": "b94e5636-cc6d-4ea8-b048-16be8d0c53f1"
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41",
    "saveManualExecutions": true,
    "timeSavedMode": "fixed",
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "31",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    },
    {
      "updatedAt": "2023-04-28T17:06:56.029Z",
      "createdAt": "2023-04-28T17:06:56.029Z",
      "id": "4",
      "name": "Test"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T20:20:05.126Z",
  "versionId": "89e1ba82-3eb8-4418-92e6-31d461fe92e9"
}