framework/workflows/Patroni CLAB (Reference) - Switch Leader.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T20:19:45.287Z",
    "createdAt": "2026-06-23T20:19:41.587Z",
    "versionId": "67dc1ba0-f488-47e4-bd0f-b985b5da701a",
    "workflowId": "34",
    "nodes": [
      {
        "parameters": {},
        "id": "86674d2e-22fa-4dba-a9c0-828b38363b56",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -448,
          -16
        ],
        "disabled": true
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "tokenName",
                "value": "CLAB_Token"
              },
              {
                "name": "nameSpace",
                "value": "e31b6b-dev"
              }
            ]
          },
          "options": {}
        },
        "id": "1e5013a3-c79a-44f9-9c51-0ddc0bc23169",
        "name": "Set Token Name",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          -256,
          96
        ]
      },
      {
        "parameters": {
          "workflowId": "28",
          "options": {}
        },
        "id": "9bc32f9f-4e61-4565-8080-6a1a3e350cd0",
        "name": "Build Login Command",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          -96,
          96
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}"
        },
        "id": "f0ca5f70-3220-4ac7-8170-6cf5f30a10b7",
        "name": "OC Login",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          80,
          96
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {},
        "id": "bb66c4a6-b4b9-4f3b-9946-2f6eb42cf812",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -448,
          176
        ]
      },
      {
        "parameters": {
          "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
          "height": 336.5625,
          "width": 471.25
        },
        "id": "819e66c2-2918-45ed-9b81-265709c2865e",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -288,
          -16
        ]
      },
      {
        "parameters": {
          "command": "=oc -n {{ $node[\"Set Token Name\"].json.nameSpace }} rsh $(oc -n {{ $node[\"Set Token Name\"].json.nameSpace }} get pods -o name --selector role=master,cluster-name=patroni-reference) curl -s localhost:8008/cluster | jq -e \".\""
        },
        "id": "9decefc8-e1c7-42a5-9ba8-6d7310bea11f",
        "name": "Check Readiness",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          240,
          96
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "jsCode": "return JSON.parse($('Check Readiness').item.json.stdout);"
        },
        "id": "ae26f5d4-5fe3-445a-a733-afeddd21dff8",
        "name": "Get Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          368,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.members[0].state }}",
                "value2": "running"
              },
              {
                "value1": "={{ $json.members[1].state }}",
                "value2": "running"
              },
              {
                "value1": "={{ $json.members[2].state }}",
                "value2": "running"
              }
            ]
          }
        },
        "id": "87dffb11-aab4-4924-a49f-e1eafe21b332",
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          512,
          96
        ]
      },
      {
        "parameters": {
          "content": "## Check Readiness",
          "height": 333.5588439233485,
          "width": 426.71205244578886
        },
        "id": "46338829-fa89-45d3-b3f6-153fbade395e",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          -16
        ]
      },
      {
        "parameters": {
          "command": "oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"
        },
        "id": "8000e6ad-3735-4e44-b4e4-e8892b64836d",
        "name": "OC Logout",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1248,
          80
        ]
      },
      {
        "parameters": {
          "workflowId": "17",
          "options": {}
        },
        "id": "edc55ff1-f6a5-448d-9d61-ff4d8d132079",
        "name": "Report Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          928,
          320
        ]
      },
      {
        "parameters": {
          "content": "## Close the Workflow",
          "height": 446.2964889056981,
          "width": 383.0266641452346
        },
        "id": "3c738d85-c20f-498c-8b00-69da8d6b9d85",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1216,
          16
        ]
      },
      {
        "parameters": {
          "content": "## Report the Error",
          "height": 217.8125,
          "width": 361.0555345436212
        },
        "id": "c2a75325-64f8-486e-84c6-34eb633b9e7d",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          720,
          256
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "Patroni (Reference) Failed Post Update Test"
              },
              {
                "name": "fromAddress",
                "value": "no-reply@gov.bc.ca"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.common_Notify }}"
              },
              {
                "name": "textMessage",
                "value": "Test 2"
              },
              {
                "name": "htmlMessage"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=Patroni (Reference) Failed Post Update Test"
              }
            ]
          },
          "options": {}
        },
        "id": "6b43697b-691f-4dfb-a038-628cafc5c849",
        "name": "Set Message Params for Error Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          768,
          320
        ]
      },
      {
        "parameters": {},
        "id": "7e84164b-3c00-40ef-8fc0-27866a3cffb8",
        "name": "No Operation, do nothing1",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1440,
          80
        ]
      },
      {
        "parameters": {
          "command": "=oc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- curl -s http://localhost:8008/switchover -XPOST -d '{\"leader\":\"{{ $json.stdout }}\"}' \nsleep 20"
        },
        "id": "56686269-224f-4cb7-85ca-c9bf7b817a52",
        "name": "Change Leader",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          928,
          80
        ],
        "executeOnce": true
      },
      {
        "parameters": {
          "content": "## Changes the leader in a cluster\n\nExecuting `curl -http://localhost:8009/switchover -XPOST -d '{\"candidate\":\"patroni-reference-0\"}'` (or whichever instance is found to be the leader) on the main database pod.\n`patronictl switchover` does the same in the terminal.\n\n",
          "height": 143.62077660110947,
          "width": 1719.9798285426127
        },
        "id": "fd6fb52e-1a89-4102-a82c-2a9a34f0b52f",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -272,
          -272
        ]
      },
      {
        "parameters": {
          "command": "=oc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- curl -s localhost:8008/cluster | jq -r '.members[] | select(.role==\"leader\") | .name'\n"
        },
        "id": "8ecc3944-30b6-49c6-835f-99e32a33e91b",
        "name": "Find Leader",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          736,
          80
        ],
        "executeOnce": true,
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "errorMessage": "=Error in {{ $workflow.name }}"
        },
        "id": "c3abcfdb-112a-4099-bc65-c7b53caf739f",
        "name": "Stop and Error",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1248,
          320
        ]
      }
    ],
    "connections": {
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Token Name": {
        "main": [
          [
            {
              "node": "Build Login Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Login Command": {
        "main": [
          [
            {
              "node": "OC Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Login": {
        "main": [
          [
            {
              "node": "Check Readiness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Readiness": {
        "main": [
          [
            {
              "node": "Get Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Result": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF": {
        "main": [
          [
            {
              "node": "Find Leader",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Logout": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Report Error": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params for Error Report": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change Leader": {
        "main": [
          [
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Leader": {
        "main": [
          [
            {
              "node": "Change Leader",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version 67dc1ba0",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "67dc1ba0-f488-47e4-bd0f-b985b5da701a",
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Check Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Readiness": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Find Leader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Leader": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Leader": {
      "main": [
        [
          {
            "node": "Change Leader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-09T03:20:06.220Z",
  "id": "34",
  "isArchived": false,
  "meta": null,
  "name": "Patroni CLAB (Reference) - Switch Leader",
  "nodes": [
    {
      "parameters": {},
      "id": "86674d2e-22fa-4dba-a9c0-828b38363b56",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -16
      ],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "CLAB_Token"
            },
            {
              "name": "nameSpace",
              "value": "e31b6b-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "1e5013a3-c79a-44f9-9c51-0ddc0bc23169",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -256,
        96
      ]
    },
    {
      "parameters": {
        "workflowId": "28",
        "options": {}
      },
      "id": "9bc32f9f-4e61-4565-8080-6a1a3e350cd0",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -96,
        96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}"
      },
      "id": "f0ca5f70-3220-4ac7-8170-6cf5f30a10b7",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        80,
        96
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "id": "bb66c4a6-b4b9-4f3b-9946-2f6eb42cf812",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        176
      ]
    },
    {
      "parameters": {
        "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
        "height": 336.5625,
        "width": 471.25
      },
      "id": "819e66c2-2918-45ed-9b81-265709c2865e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ]
    },
    {
      "parameters": {
        "command": "=oc -n {{ $node[\"Set Token Name\"].json.nameSpace }} rsh $(oc -n {{ $node[\"Set Token Name\"].json.nameSpace }} get pods -o name --selector role=master,cluster-name=patroni-reference) curl -s localhost:8008/cluster | jq -e \".\""
      },
      "id": "9decefc8-e1c7-42a5-9ba8-6d7310bea11f",
      "name": "Check Readiness",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        240,
        96
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($('Check Readiness').item.json.stdout);"
      },
      "id": "ae26f5d4-5fe3-445a-a733-afeddd21dff8",
      "name": "Get Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        368,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.members[0].state }}",
              "value2": "running"
            },
            {
              "value1": "={{ $json.members[1].state }}",
              "value2": "running"
            },
            {
              "value1": "={{ $json.members[2].state }}",
              "value2": "running"
            }
          ]
        }
      },
      "id": "87dffb11-aab4-4924-a49f-e1eafe21b332",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        512,
        96
      ]
    },
    {
      "parameters": {
        "content": "## Check Readiness",
        "height": 333.5588439233485,
        "width": 426.71205244578886
      },
      "id": "46338829-fa89-45d3-b3f6-153fbade395e",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        -16
      ]
    },
    {
      "parameters": {
        "command": "oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"
      },
      "id": "8000e6ad-3735-4e44-b4e4-e8892b64836d",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1248,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": "17",
        "options": {}
      },
      "id": "edc55ff1-f6a5-448d-9d61-ff4d8d132079",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        928,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Close the Workflow",
        "height": 446.2964889056981,
        "width": 383.0266641452346
      },
      "id": "3c738d85-c20f-498c-8b00-69da8d6b9d85",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        16
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 361.0555345436212
      },
      "id": "c2a75325-64f8-486e-84c6-34eb633b9e7d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        256
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "Patroni (Reference) Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.common_Notify }}"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Patroni (Reference) Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "6b43697b-691f-4dfb-a038-628cafc5c849",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        768,
        320
      ]
    },
    {
      "parameters": {},
      "id": "7e84164b-3c00-40ef-8fc0-27866a3cffb8",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1440,
        80
      ]
    },
    {
      "parameters": {
        "command": "=oc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- curl -s http://localhost:8008/switchover -XPOST -d '{\"leader\":\"{{ $json.stdout }}\"}' \nsleep 20"
      },
      "id": "56686269-224f-4cb7-85ca-c9bf7b817a52",
      "name": "Change Leader",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        928,
        80
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Changes the leader in a cluster\n\nExecuting `curl -http://localhost:8009/switchover -XPOST -d '{\"candidate\":\"patroni-reference-0\"}'` (or whichever instance is found to be the leader) on the main database pod.\n`patronictl switchover` does the same in the terminal.\n\n",
        "height": 143.62077660110947,
        "width": 1719.9798285426127
      },
      "id": "fd6fb52e-1a89-4102-a82c-2a9a34f0b52f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -272
      ]
    },
    {
      "parameters": {
        "command": "=oc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- curl -s localhost:8008/cluster | jq -r '.members[] | select(.role==\"leader\") | .name'\n"
      },
      "id": "8ecc3944-30b6-49c6-835f-99e32a33e91b",
      "name": "Find Leader",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        736,
        80
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "errorMessage": "=Error in {{ $workflow.name }}"
      },
      "id": "c3abcfdb-112a-4099-bc65-c7b53caf739f",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1248,
        320
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "34",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2023-04-28T17:06:56.029Z",
      "createdAt": "2023-04-28T17:06:56.029Z",
      "id": "4",
      "name": "Test"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T20:19:41.583Z",
  "versionId": "67dc1ba0-f488-47e4-bd0f-b985b5da701a"
}