framework/workflows/Patroni KLAB (Crunchy).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T20:20:43.921Z",
    "createdAt": "2026-06-23T20:20:42.335Z",
    "versionId": "e5a9abbb-c02c-4b0f-bd49-c5c9f758c2c5",
    "workflowId": "73",
    "nodes": [
      {
        "parameters": {},
        "id": "b38487b6-4828-4433-8c52-7ef456bcbc66",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2272,
          272
        ],
        "disabled": true
      },
      {
        "parameters": {
          "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\nNAMESPACE=\"{{ $node[\"Set Token Name\"].json.nameSpace }}\"\nLOCAL_PORT=15433\nPID_FILE=\"/tmp/patroni-portforward-15433.pid\"\nLEGACY_PID_FILE=\"/tmp/patroni-portforward.pid\"\nLOG_FILE=\"/tmp/patroni-portforward-15433.log\"\n\ncleanup_pid_file() {\n  local file=\"$1\"\n  if [[ ! -f \"$file\" ]]; then\n    return 0\n  fi\n\n  local old_pid\n  old_pid=\"$(cat \"$file\" 2>/dev/null || true)\"\n  if [[ -n \"${old_pid:-}\" ]] && ps -p \"$old_pid\" >/dev/null 2>&1; then\n    echo \"Killing existing port-forward PID $old_pid from $file\"\n    kill \"$old_pid\" 2>/dev/null || true\n    sleep 1\n    if ps -p \"$old_pid\" >/dev/null 2>&1; then\n      kill -9 \"$old_pid\" 2>/dev/null || true\n    fi\n  fi\n  rm -f \"$file\"\n}\n\ncleanup_pid_file \"$PID_FILE\"\ncleanup_pid_file \"$LEGACY_PID_FILE\"\n\nTARGET=\"svc/put-test-patroni-master\"\nREMOTE_PORT=5432\n\n: > \"$LOG_FILE\"\necho \"Starting port-forward to $TARGET in namespace $NAMESPACE on 15433 -> $REMOTE_PORT\"\noc -n \"$NAMESPACE\" port-forward \"$TARGET\" \"15433:$REMOTE_PORT\" > \"$LOG_FILE\" 2>&1 &\nPFPID=$!\necho \"$PFPID\" > \"$PID_FILE\"\n\nfor attempt in $(seq 1 20); do\n  if ! ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Port-forward process died before port 15433 was ready\" >&2\n    cat \"$LOG_FILE\" >&2 || true\n    exit 1\n  fi\n\n  if bash -c \": > /dev/tcp/127.0.0.1/15433\" >/dev/null 2>&1; then\n    echo \"Port-forward ready with PID $PFPID on port 15433\"\n    exit 0\n  fi\n\n  sleep 1\ndone\n\necho \"Port-forward did not become ready on port 15433\" >&2\ncat \"$LOG_FILE\" >&2 || true\nexit 1\n"
        },
        "id": "d33653c6-b78a-4681-a082-bee4f2cdf125",
        "name": "Set Port Forward Patroni",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -1248,
          448
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {},
        "id": "9b45e28d-5641-4718-af7a-97b5d7760fee",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          336,
          112
        ]
      },
      {
        "parameters": {
          "command": "#!/usr/bin/env bash\nset -euo pipefail\n\nfor PID_FILE in \"/tmp/patroni-portforward-15433.pid\" \"/tmp/patroni-portforward.pid\"; do\n  if [[ ! -f \"$PID_FILE\" ]]; then\n    continue\n  fi\n\n  PFPID=\"$(cat \"$PID_FILE\" 2>/dev/null || true)\"\n  if [[ -n \"${PFPID:-}\" ]] && ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Killing port-forward PID $PFPID from $PID_FILE\"\n    kill \"$PFPID\" 2>/dev/null || true\n    sleep 2\n    if ps -p \"$PFPID\" >/dev/null 2>&1; then\n      echo \"Force killing port-forward PID $PFPID\"\n      kill -9 \"$PFPID\" 2>/dev/null || true\n    fi\n  else\n    echo \"Port-forward PID from $PID_FILE is not running\"\n  fi\n\n  rm -f \"$PID_FILE\"\ndone\n\noc logout || true\n"
        },
        "id": "2bf67d2a-6b5c-4132-b5ba-42a04a680b7c",
        "name": "OC Logout",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          96,
          112
        ]
      },
      {
        "parameters": {
          "workflowId": "17",
          "options": {}
        },
        "id": "b6a7bd5f-e535-4a69-bc7b-9ea79a284198",
        "name": "Report Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          -288,
          448
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "tokenName",
                "value": "KLAB_Token"
              },
              {
                "name": "nameSpace",
                "value": "d8d909-test"
              }
            ]
          },
          "options": {}
        },
        "id": "96776906-20bc-4edb-87f2-482f2338b184",
        "name": "Set Token Name",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          -2048,
          368
        ]
      },
      {
        "parameters": {
          "workflowId": "28",
          "options": {}
        },
        "id": "1964a50b-4cfd-4d99-b0b3-e01a1805e7be",
        "name": "Build Login Command",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          -1888,
          368
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "command": "=top -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"
        },
        "id": "c510fdc4-1d29-4784-83e8-f51e43073c72",
        "name": "OC Login",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -1728,
          368
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {},
        "id": "cf5a409c-9d0c-4046-82a4-fbf0d8744567",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -2272,
          448
        ]
      },
      {
        "parameters": {
          "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
          "height": 336.5625,
          "width": 471.25
        },
        "id": "5b21151b-2e23-4628-89c9-fe9204c132cc",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2096,
          256
        ]
      },
      {
        "parameters": {
          "content": "## Forward the DB port to localhost",
          "height": 336.5625,
          "width": 252.5
        },
        "id": "e4334b6d-c149-4c81-9ae9-9f370b549200",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1328,
          352
        ]
      },
      {
        "parameters": {
          "content": "## Run the Test Script",
          "height": 331.875,
          "width": 252.5
        },
        "id": "335edf8e-c210-4275-9867-5a7b9a2ec70e",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1072,
          352
        ]
      },
      {
        "parameters": {
          "content": "## Check the result",
          "height": 331.875,
          "width": 233.75
        },
        "id": "638ba08a-1612-4e3d-89b4-81cc3eac1b55",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -800,
          352
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TEMP TABLE lat_longs (\n  c1 BIGSERIAL,\n  c2 DOUBLE PRECISION\n);\n\nINSERT INTO lat_longs (c2)\nSELECT random() * 100 FROM generate_series(1, 10000) AS g(id);\n\nSELECT count(*) FROM lat_longs;",
          "additionalFields": {}
        },
        "id": "4296d53d-f513-4121-add6-6049646aa2c7",
        "name": "Postgres Test",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 1,
        "position": [
          -992,
          448
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000,
        "credentials": {
          "postgres": {
            "id": "38",
            "name": "Postgres Crunch KLAB"
          }
        }
      },
      {
        "parameters": {
          "content": "## Close the Workflow",
          "height": 527.5937657589516,
          "width": 418.125
        },
        "id": "eb1e6d13-3dd0-46df-a5c0-a75aaa30114e",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "content": "## Report the Error",
          "height": 217.8125,
          "width": 418.125
        },
        "id": "c20e6fea-706f-478c-95a8-81af48fe6aa0",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -544,
          432
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.count }}",
                "value2": "10000"
              }
            ]
          }
        },
        "id": "b67726d9-af1b-4608-b834-50134da11a02",
        "name": "Check",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -752,
          464
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "KLAB Crunchy Failed Post Update Test"
              },
              {
                "name": "fromAddress",
                "value": "no-reply@gov.bc.ca"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.crunchy_Notify }}"
              },
              {
                "name": "textMessage",
                "value": "Test 2"
              },
              {
                "name": "htmlMessage"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=KLAB Crunchy Failed Post Update Test"
              }
            ]
          },
          "options": {}
        },
        "id": "0116471a-109b-458b-9709-c4c4faca5c1e",
        "name": "Set Message Params for Error Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          -464,
          480
        ]
      },
      {
        "parameters": {
          "errorMessage": "=Error in {{ $workflow.name }}"
        },
        "id": "6f9fc786-99b2-4015-8652-5c4c16cd106b",
        "name": "Stop and Error",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          176,
          352
        ]
      }
    ],
    "connections": {
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Port Forward Patroni": {
        "main": [
          [
            {
              "node": "Postgres Test",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Logout": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Report Error": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Token Name": {
        "main": [
          [
            {
              "node": "Build Login Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Login Command": {
        "main": [
          [
            {
              "node": "OC Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Test": {
        "main": [
          [
            {
              "node": "Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check": {
        "main": [
          [
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params for Error Report": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Login": {
        "main": [
          [
            {
              "node": "Set Port Forward Patroni",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version e5a9abbb",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "e5a9abbb-c02c-4b0f-bd49-c5c9f758c2c5",
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Port Forward Patroni": {
      "main": [
        [
          {
            "node": "Postgres Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Test": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Set Port Forward Patroni",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-11T18:10:35.168Z",
  "id": "73",
  "isArchived": false,
  "meta": null,
  "name": "Patroni KLAB (Crunchy)",
  "nodes": [
    {
      "parameters": {},
      "id": "b38487b6-4828-4433-8c52-7ef456bcbc66",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2272,
        272
      ],
      "disabled": true
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\nNAMESPACE=\"{{ $node[\"Set Token Name\"].json.nameSpace }}\"\nLOCAL_PORT=15433\nPID_FILE=\"/tmp/patroni-portforward-15433.pid\"\nLEGACY_PID_FILE=\"/tmp/patroni-portforward.pid\"\nLOG_FILE=\"/tmp/patroni-portforward-15433.log\"\n\ncleanup_pid_file() {\n  local file=\"$1\"\n  if [[ ! -f \"$file\" ]]; then\n    return 0\n  fi\n\n  local old_pid\n  old_pid=\"$(cat \"$file\" 2>/dev/null || true)\"\n  if [[ -n \"${old_pid:-}\" ]] && ps -p \"$old_pid\" >/dev/null 2>&1; then\n    echo \"Killing existing port-forward PID $old_pid from $file\"\n    kill \"$old_pid\" 2>/dev/null || true\n    sleep 1\n    if ps -p \"$old_pid\" >/dev/null 2>&1; then\n      kill -9 \"$old_pid\" 2>/dev/null || true\n    fi\n  fi\n  rm -f \"$file\"\n}\n\ncleanup_pid_file \"$PID_FILE\"\ncleanup_pid_file \"$LEGACY_PID_FILE\"\n\nTARGET=\"svc/put-test-patroni-master\"\nREMOTE_PORT=5432\n\n: > \"$LOG_FILE\"\necho \"Starting port-forward to $TARGET in namespace $NAMESPACE on 15433 -> $REMOTE_PORT\"\noc -n \"$NAMESPACE\" port-forward \"$TARGET\" \"15433:$REMOTE_PORT\" > \"$LOG_FILE\" 2>&1 &\nPFPID=$!\necho \"$PFPID\" > \"$PID_FILE\"\n\nfor attempt in $(seq 1 20); do\n  if ! ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Port-forward process died before port 15433 was ready\" >&2\n    cat \"$LOG_FILE\" >&2 || true\n    exit 1\n  fi\n\n  if bash -c \": > /dev/tcp/127.0.0.1/15433\" >/dev/null 2>&1; then\n    echo \"Port-forward ready with PID $PFPID on port 15433\"\n    exit 0\n  fi\n\n  sleep 1\ndone\n\necho \"Port-forward did not become ready on port 15433\" >&2\ncat \"$LOG_FILE\" >&2 || true\nexit 1\n"
      },
      "id": "d33653c6-b78a-4681-a082-bee4f2cdf125",
      "name": "Set Port Forward Patroni",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1248,
        448
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {},
      "id": "9b45e28d-5641-4718-af7a-97b5d7760fee",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        336,
        112
      ]
    },
    {
      "parameters": {
        "command": "#!/usr/bin/env bash\nset -euo pipefail\n\nfor PID_FILE in \"/tmp/patroni-portforward-15433.pid\" \"/tmp/patroni-portforward.pid\"; do\n  if [[ ! -f \"$PID_FILE\" ]]; then\n    continue\n  fi\n\n  PFPID=\"$(cat \"$PID_FILE\" 2>/dev/null || true)\"\n  if [[ -n \"${PFPID:-}\" ]] && ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Killing port-forward PID $PFPID from $PID_FILE\"\n    kill \"$PFPID\" 2>/dev/null || true\n    sleep 2\n    if ps -p \"$PFPID\" >/dev/null 2>&1; then\n      echo \"Force killing port-forward PID $PFPID\"\n      kill -9 \"$PFPID\" 2>/dev/null || true\n    fi\n  else\n    echo \"Port-forward PID from $PID_FILE is not running\"\n  fi\n\n  rm -f \"$PID_FILE\"\ndone\n\noc logout || true\n"
      },
      "id": "2bf67d2a-6b5c-4132-b5ba-42a04a680b7c",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        96,
        112
      ]
    },
    {
      "parameters": {
        "workflowId": "17",
        "options": {}
      },
      "id": "b6a7bd5f-e535-4a69-bc7b-9ea79a284198",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -288,
        448
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "KLAB_Token"
            },
            {
              "name": "nameSpace",
              "value": "d8d909-test"
            }
          ]
        },
        "options": {}
      },
      "id": "96776906-20bc-4edb-87f2-482f2338b184",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2048,
        368
      ]
    },
    {
      "parameters": {
        "workflowId": "28",
        "options": {}
      },
      "id": "1964a50b-4cfd-4d99-b0b3-e01a1805e7be",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1888,
        368
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=top -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"
      },
      "id": "c510fdc4-1d29-4784-83e8-f51e43073c72",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1728,
        368
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {},
      "id": "cf5a409c-9d0c-4046-82a4-fbf0d8744567",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2272,
        448
      ]
    },
    {
      "parameters": {
        "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
        "height": 336.5625,
        "width": 471.25
      },
      "id": "5b21151b-2e23-4628-89c9-fe9204c132cc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2096,
        256
      ]
    },
    {
      "parameters": {
        "content": "## Forward the DB port to localhost",
        "height": 336.5625,
        "width": 252.5
      },
      "id": "e4334b6d-c149-4c81-9ae9-9f370b549200",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        352
      ]
    },
    {
      "parameters": {
        "content": "## Run the Test Script",
        "height": 331.875,
        "width": 252.5
      },
      "id": "335edf8e-c210-4275-9867-5a7b9a2ec70e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        352
      ]
    },
    {
      "parameters": {
        "content": "## Check the result",
        "height": 331.875,
        "width": 233.75
      },
      "id": "638ba08a-1612-4e3d-89b4-81cc3eac1b55",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TEMP TABLE lat_longs (\n  c1 BIGSERIAL,\n  c2 DOUBLE PRECISION\n);\n\nINSERT INTO lat_longs (c2)\nSELECT random() * 100 FROM generate_series(1, 10000) AS g(id);\n\nSELECT count(*) FROM lat_longs;",
        "additionalFields": {}
      },
      "id": "4296d53d-f513-4121-add6-6049646aa2c7",
      "name": "Postgres Test",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -992,
        448
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "postgres": {
          "id": "38",
          "name": "Postgres Crunch KLAB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Close the Workflow",
        "height": 527.5937657589516,
        "width": 418.125
      },
      "id": "eb1e6d13-3dd0-46df-a5c0-a75aaa30114e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 418.125
      },
      "id": "c20e6fea-706f-478c-95a8-81af48fe6aa0",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "10000"
            }
          ]
        }
      },
      "id": "b67726d9-af1b-4608-b834-50134da11a02",
      "name": "Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -752,
        464
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "KLAB Crunchy Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.crunchy_Notify }}"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=KLAB Crunchy Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "0116471a-109b-458b-9709-c4c4faca5c1e",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -464,
        480
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Error in {{ $workflow.name }}"
      },
      "id": "6f9fc786-99b2-4015-8652-5c4c16cd106b",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        176,
        352
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "shared": [
    {
      "updatedAt": "2023-05-11T18:10:35.168Z",
      "createdAt": "2023-05-11T18:10:35.168Z",
      "role": "workflow:owner",
      "workflowId": "73",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2023-04-28T17:06:56.029Z",
      "createdAt": "2023-04-28T17:06:56.029Z",
      "id": "4",
      "name": "Test"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T20:20:42.332Z",
  "versionId": "e5a9abbb-c02c-4b0f-bd49-c5c9f758c2c5"
}