framework/workflows/Patroni CLAB (Reference) - Switch Leader.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Check Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Readiness": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Find Leader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Leader": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Leader": {
      "main": [
        [
          {
            "node": "Change Leader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-09T03:20:06.220Z",
  "id": "34",
  "name": "Patroni CLAB (Reference) - Switch Leader",
  "nodes": [
    {
      "parameters": {},
      "id": "491df3a1-af15-4b74-9320-ff4d2b9ca15a",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -180
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "CLAB_Token"
            },
            {
              "name": "nameSpace",
              "value": "e31b6b-dev"
            }
          ]
        },
        "options": {}
      },
      "id": "7ed6d850-27eb-4335-a23d-50dd901880cb",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -740,
        -80
      ]
    },
    {
      "parameters": {
        "workflowId": "28"
      },
      "id": "ac3c93a3-37fc-42f0-96d3-877dd64a1739",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -580,
        -80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name\"].json.nameSpace }}"
      },
      "id": "da06533e-c7f0-4f69-b3a9-93aeae637f8b",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -420,
        -80
      ]
    },
    {
      "parameters": {},
      "id": "c9e40466-da6e-4c2d-8d49-4e7a95a2c902",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
        "height": 336.5625,
        "width": 471.25
      },
      "id": "f79430c3-3e58-413f-a886-7c8b7a3db4b3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -780,
        -186.85356782652548
      ]
    },
    {
      "parameters": {
        "command": "=oc project {{ $node[\"Set Token Name\"].json.nameSpace }} > null\noc rsh $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) curl -s localhost:8008/cluster | jq -e \".\""
      },
      "id": "70f3ed35-c520-487f-95f0-02605e26edde",
      "name": "Check Readiness",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -280,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($('Check Readiness').item.json.stdout);"
      },
      "id": "d6c2637a-f9ab-49fb-a3f6-bdfc68ba66f8",
      "name": "Get Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -140,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.members[0].state }}",
              "value2": "running"
            },
            {
              "value1": "={{ $json.members[1].state }}",
              "value2": "running"
            },
            {
              "value1": "={{ $json.members[2].state }}",
              "value2": "running"
            }
          ]
        }
      },
      "id": "00e8a497-a5d1-44f5-abcf-de07447a11fa",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ]
    },
    {
      "parameters": {
        "content": "## Check Readiness",
        "height": 333.5588439233485,
        "width": 426.71205244578886
      },
      "id": "0f9f34fb-6257-46b9-a382-1f42d3e85220",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -184.50548411497726
      ]
    },
    {
      "parameters": {
        "command": "oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n"
      },
      "id": "23267ed3-23da-413c-9e9c-532b8f6e7752",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        140
      ]
    },
    {
      "parameters": {
        "workflowId": "17"
      },
      "id": "c13fcbc6-571d-47d7-aa35-a8a4bda70426",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        408,
        140
      ]
    },
    {
      "parameters": {
        "content": "## Close the Workflow",
        "height": 214.8088439233485,
        "width": 383.0266641452346
      },
      "id": "565e2d67-7291-42f7-b568-c0993c53f7dc",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 361.0555345436212
      },
      "id": "0e32a988-1b7b-42bf-852c-05de50749cd3",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#devops-post-update-testing"
            },
            {
              "name": "rcMessage",
              "value": "Patroni (Reference) Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "roland.stens@gmail.com"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Patroni (Reference) Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "38f418ac-26ed-43ac-8b42-69fdd3071904",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        248,
        140
      ]
    },
    {
      "parameters": {},
      "id": "08ed7fd6-a51d-4ce5-a30b-2005e5fc8c0c",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        140
      ]
    },
    {
      "parameters": {
        "command": "=oc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- curl -s http://localhost:8008/switchover -XPOST -d '{\"leader\":\"{{ $json.stdout }}\"}' \nsleep 20"
      },
      "id": "25e0396b-815d-470c-a5da-ae565f776077",
      "name": "Change Leader",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        420,
        -100
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Changes the leader in a cluster\n\nExecuting `curl -http://localhost:8009/switchover -XPOST -d '{\"candidate\":\"patroni-reference-0\"}'` (or whichever instance is found to be the leader) on the main database pod.\n`patronictl switchover` does the same in the terminal.\n\n",
        "height": 143.62077660110947,
        "width": 1719.9798285426127
      },
      "id": "09868946-3cd1-41d6-8ebd-fc7c03bf0a2f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -780,
        -440
      ]
    },
    {
      "parameters": {
        "command": "=oc exec $(oc get pods -o name --selector role=master,cluster-name=patroni-reference) -- curl -s localhost:8008/cluster | jq -r '.members[] | select(.role==\"leader\") | .name'\n"
      },
      "id": "22ee15e7-ae7f-464e-9940-f6ce4c7b3acd",
      "name": "Find Leader",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        220,
        -100
      ],
      "executeOnce": true
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-02-25T02:07:35.632Z",
      "updatedAt": "2023-02-25T02:07:35.632Z",
      "id": "3",
      "name": "Test"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-03-22T23:53:24.730Z",
  "versionId": "0440c37e-3987-4eb9-8b66-87e256b77052"
}