framework/workflows/Report Error.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-11T22:08:09.743Z",
    "createdAt": "2026-05-11T22:08:08.278Z",
    "versionId": "ece08a69-7e16-461f-bd5d-a97537047c05",
    "workflowId": "17",
    "nodes": [
      {
        "parameters": {},
        "id": "767bf3f7-842a-462d-ab8a-3f2b18ca6d36",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -208,
          400
        ]
      },
      {
        "parameters": {
          "fromEmail": "={{ $json.fromAddress }}",
          "toEmail": "={{ $json.toAddress }}",
          "ccEmail": "={{ $json.ccAddress }}",
          "bccEmail": "={{ $json.bccAddress }}",
          "subject": "={{ $json.subJect }}",
          "text": "={{ $json.textMessage }}",
          "html": "={{ $json.htmlMessage }}",
          "options": {}
        },
        "id": "fa99f019-1497-481f-bbfc-38a71f275c82",
        "name": "Send Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [
          0,
          464
        ],
        "credentials": {
          "smtp": {
            "id": "1",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {},
        "id": "1a3522f5-60aa-43bc-a0d9-ef4c0033201d",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          368,
          400
        ]
      },
      {
        "parameters": {
          "content": "## Incoming Parameters\n* **rcChannel:** RC Channel\n* **rcMessage:** RC Message\n* **fromAddress:** Email From\n* **toAddress:** Email To\n* **textMessage:** Message Body Text\n* **htmlMessage:** Message Body HTML, will supersede Text Message body\n* **ccAddress:** Email cc\n* **bccAddress:** email bcc\n* **subJect:** Email Title",
          "height": 264,
          "width": 549
        },
        "id": "176e95ea-7fc6-480c-8133-ba8b73526d48",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -928,
          32
        ]
      },
      {
        "parameters": {
          "content": "## Reporting Common Component (DO NOT CHANGE! THIS COMPONENT IS USED BY OTHER WORKFLOWS)\n\nThis component will be called whenever an error report needs to be emailed and send to RocketChat.\n\nSee this [workflow](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/14) for an example.\n\nKey is using **Set** to set up your parameters and then call this workflow.\nUse [this stub](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/16) to get started.",
          "height": 249,
          "width": 1231.2389008604762
        },
        "id": "d607d86b-8bbc-4c3e-ad54-d03a9ac92f03",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -736,
          -240
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.developer.gov.bc.ca/webhook/67108286-493e-4d5c-8c5c-2450167b001f/devx-router/put",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          64,
          288
        ],
        "id": "6b87e9e3-d1c7-4258-8e4f-853742e207f9",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "Send Email": {
        "main": [
          []
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version ece08a69",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "ece08a69-7e16-461f-bd5d-a97537047c05",
  "connections": {
    "Send Email": {
      "main": [
        []
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-23T05:33:52.131Z",
  "id": "17",
  "isArchived": false,
  "meta": null,
  "name": "Report Error",
  "nodes": [
    {
      "parameters": {},
      "id": "767bf3f7-842a-462d-ab8a-3f2b18ca6d36",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.fromAddress }}",
        "toEmail": "={{ $json.toAddress }}",
        "ccEmail": "={{ $json.ccAddress }}",
        "bccEmail": "={{ $json.bccAddress }}",
        "subject": "={{ $json.subJect }}",
        "text": "={{ $json.textMessage }}",
        "html": "={{ $json.htmlMessage }}",
        "options": {}
      },
      "id": "fa99f019-1497-481f-bbfc-38a71f275c82",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        0,
        464
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "id": "1a3522f5-60aa-43bc-a0d9-ef4c0033201d",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        368,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Incoming Parameters\n* **rcChannel:** RC Channel\n* **rcMessage:** RC Message\n* **fromAddress:** Email From\n* **toAddress:** Email To\n* **textMessage:** Message Body Text\n* **htmlMessage:** Message Body HTML, will supersede Text Message body\n* **ccAddress:** Email cc\n* **bccAddress:** email bcc\n* **subJect:** Email Title",
        "height": 264,
        "width": 549
      },
      "id": "176e95ea-7fc6-480c-8133-ba8b73526d48",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Reporting Common Component (DO NOT CHANGE! THIS COMPONENT IS USED BY OTHER WORKFLOWS)\n\nThis component will be called whenever an error report needs to be emailed and send to RocketChat.\n\nSee this [workflow](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/14) for an example.\n\nKey is using **Set** to set up your parameters and then call this workflow.\nUse [this stub](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/16) to get started.",
        "height": 249,
        "width": 1231.2389008604762
      },
      "id": "d607d86b-8bbc-4c3e-ad54-d03a9ac92f03",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.developer.gov.bc.ca/webhook/67108286-493e-4d5c-8c5c-2450167b001f/devx-router/put",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        288
      ],
      "id": "6b87e9e3-d1c7-4258-8e4f-853742e207f9",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "any"
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "17",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2023-04-28T17:02:25.753Z",
      "createdAt": "2023-04-28T17:02:25.753Z",
      "id": "1",
      "name": "Common Component"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-05-11T22:08:08.277Z",
  "versionId": "ece08a69-7e16-461f-bd5d-a97537047c05"
}