framework/workflows/Run Cypress Tests.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows": {
      "main": [
        [
          {
            "node": "Wait 20 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows Runs": {
      "main": [
        [
          {
            "node": "Has Run Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Log": {
      "main": [
        [
          {
            "node": "Unzip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unzip Log": {
      "main": [
        [
          {
            "node": "Store Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Log": {
      "main": [
        [
          {
            "node": "Check for Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Error": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clean Up log file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Run Completed?": {
      "main": [
        [
          {
            "node": "Get Run Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up log file": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Secs": {
      "main": [
        [
          {
            "node": "Get Workflows Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-09T01:02:56.017Z",
  "id": "6",
  "name": "Run Cypress Tests",
  "nodes": [
    {
      "parameters": {},
      "id": "9c978857-3a70-462c-9f99-7bafe5c5bffd",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -1860,
        -20
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "requestMethod": "POST",
        "url": "=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/dispatches",
        "options": {
          "timeout": 2000
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "event_type",
              "value": "={{$node[\"Set\"].parameter[\"values\"][\"string\"][0][\"value\"]}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "474ccac9-d996-462d-8d5f-b8582c9f510b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1540,
        -20
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "githubApi": {
          "id": "6",
          "name": "GitHub PUT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Check for Error\"].json[\"stdout\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5f1bfb76-700e-469f-aa74-3f01ddcd492a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -60,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "url": "=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/actions/workflows",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        }
      },
      "id": "197891da-11cf-4f71-a9c0-e91c594d56b0",
      "name": "Get Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1400,
        -20
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "githubApi": {
          "id": "6",
          "name": "GitHub PUT"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workFlow",
              "value": "e2e-simple"
            },
            {
              "name": "repoOwner",
              "value": "bcgov"
            },
            {
              "name": "repoName",
              "value": "automated-testing"
            }
          ]
        },
        "options": {}
      },
      "id": "d5d50a4b-ea90-4f06-bc0d-c749d9b4b120",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1700,
        -20
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "url": "=https://api.github.com/repos/{{$node[\"Set\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/{{$node[\"Set\"].parameter[\"values\"][\"string\"][2][\"value\"]}}/actions/workflows/{{$node[\"Get Workflows\"].json[\"workflows\"][1][\"id\"]}}/runs",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        }
      },
      "id": "1756438c-c530-4246-b5c8-48f270b93900",
      "name": "Get Workflows Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1160,
        0
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "githubApi": {
          "id": "6",
          "name": "GitHub PUT"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "url": "=https://api.github.com/repos/{{$node[\"Set\"].json[\"repoOwner\"]}}/{{$node[\"Set\"].json[\"repoName\"]}}/actions/runs/{{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"id\"]}}/logs",
        "responseFormat": "file",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        }
      },
      "id": "3a1d843a-2b90-4bfb-bab0-49653f216aef",
      "name": "Get Run Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -760,
        240
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "githubApi": {
          "id": "6",
          "name": "GitHub PUT"
        }
      }
    },
    {
      "parameters": {},
      "id": "56170ca2-2fa5-4bab-bd32-ae8facff3e52",
      "name": "Unzip Log",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1,
      "position": [
        -600,
        240
      ]
    },
    {
      "parameters": {
        "fileName": "/data/log.txt",
        "dataPropertyName": "=file_1",
        "options": {}
      },
      "id": "ac9ac2ee-79e1-44b6-8116-fc8ac30f16ca",
      "name": "Store Log",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        -440,
        240
      ]
    },
    {
      "parameters": {
        "command": "cat /data/log.txt | grep error]Cypress\n"
      },
      "id": "a7bdfb7f-ddb9-4c88-816e-6e47d59e5249",
      "name": "Check for Error",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -260,
        240
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "11617535-e78d-447f-8e08-decbc961f4ad",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"status\"]}}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "530fd6a6-01c4-4af3-9bc9-1dfc24bb4647",
      "name": "Has Run Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1000,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "n8n@gov.bc.ca",
        "toEmail": "roland.stens@gmail.com",
        "subject": "Cypress Test Failed",
        "text": "=The following Cypress Test in https://github.com/{{$node[\"Set\"].json[\"repoOwner\"]}}/{{$node[\"Set\"].json[\"repoName\"]}} failed: {{$node[\"Set\"].json[\"workFlow\"]}}\nThe test run can be reviewed here: {{$node[\"Get Workflows Runs\"].json[\"workflow_runs\"][0][\"html_url\"]}}",
        "options": {}
      },
      "id": "4edbce78-e269-4049-9412-b042230c8dd0",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        140,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "command": "rm /data/log.txt\n"
      },
      "id": "2c0379e9-8fbb-4b1d-b297-d4b89bf31ea0",
      "name": "Clean Up log file",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -60,
        380
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "c00f43ce-1015-46a7-bdc3-16981b555a55",
      "name": "Wait 20 Secs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1260,
        220
      ],
      "webhookId": "f32a2d50-1ca4-486a-aff6-a183ca3e2ec0"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-02-25T02:07:35.632Z",
      "updatedAt": "2023-02-25T02:07:35.632Z",
      "id": "3",
      "name": "Test"
    },
    {
      "createdAt": "2023-02-25T02:10:52.949Z",
      "updatedAt": "2023-02-25T02:10:52.949Z",
      "id": "6",
      "name": "Example"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-02-25T02:10:53.735Z",
  "versionId": "860ab8e5-7057-4ecf-a190-16ad0e47c9aa"
}