framework/workflows/Test Patroni Klab.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T20:21:53.278Z",
    "createdAt": "2026-06-23T20:21:51.550Z",
    "versionId": "3d601548-4faf-4bf0-be49-7ce4b279e668",
    "workflowId": "77",
    "nodes": [
      {
        "parameters": {},
        "id": "836b8e29-513e-4951-aef5-1c0583edbbb5",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -224,
          400
        ],
        "disabled": true
      },
      {
        "parameters": {
          "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\nNAMESPACE=\"{{ $node[\"Set Token Name\"].json.nameSpace }}\"\nLOCAL_PORT=15433\nPID_FILE=\"/tmp/patroni-portforward-15433.pid\"\nLEGACY_PID_FILE=\"/tmp/patroni-portforward.pid\"\nLOG_FILE=\"/tmp/patroni-portforward-15433.log\"\n\ncleanup_pid_file() {\n  local file=\"$1\"\n  if [[ ! -f \"$file\" ]]; then\n    return 0\n  fi\n\n  local old_pid\n  old_pid=\"$(cat \"$file\" 2>/dev/null || true)\"\n  if [[ -n \"${old_pid:-}\" ]] && ps -p \"$old_pid\" >/dev/null 2>&1; then\n    echo \"Killing existing port-forward PID $old_pid from $file\"\n    kill \"$old_pid\" 2>/dev/null || true\n    sleep 1\n    if ps -p \"$old_pid\" >/dev/null 2>&1; then\n      kill -9 \"$old_pid\" 2>/dev/null || true\n    fi\n  fi\n  rm -f \"$file\"\n}\n\ncleanup_pid_file \"$PID_FILE\"\ncleanup_pid_file \"$LEGACY_PID_FILE\"\n\nTARGET=\"svc/put-test-patroni-master\"\nREMOTE_PORT=5432\n\n: > \"$LOG_FILE\"\necho \"Starting port-forward to $TARGET in namespace $NAMESPACE on 15433 -> $REMOTE_PORT\"\noc -n \"$NAMESPACE\" port-forward \"$TARGET\" \"15433:$REMOTE_PORT\" > \"$LOG_FILE\" 2>&1 &\nPFPID=$!\necho \"$PFPID\" > \"$PID_FILE\"\n\nfor attempt in $(seq 1 20); do\n  if ! ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Port-forward process died before port 15433 was ready\" >&2\n    cat \"$LOG_FILE\" >&2 || true\n    exit 1\n  fi\n\n  if bash -c \": > /dev/tcp/127.0.0.1/15433\" >/dev/null 2>&1; then\n    echo \"Port-forward ready with PID $PFPID on port 15433\"\n    exit 0\n  fi\n\n  sleep 1\ndone\n\necho \"Port-forward did not become ready on port 15433\" >&2\ncat \"$LOG_FILE\" >&2 || true\nexit 1\n"
        },
        "id": "ed8377d8-dc21-4fd5-a34a-66bdbbcdb662",
        "name": "Set Port Forward Patroni",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1344,
          480
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {},
        "id": "d6e81a93-6304-4006-9bda-1423e623206b",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2704,
          448
        ]
      },
      {
        "parameters": {
          "command": "#!/usr/bin/env bash\nset -euo pipefail\n\nfor PID_FILE in \"/tmp/patroni-portforward-15433.pid\" \"/tmp/patroni-portforward.pid\"; do\n  if [[ ! -f \"$PID_FILE\" ]]; then\n    continue\n  fi\n\n  PFPID=\"$(cat \"$PID_FILE\" 2>/dev/null || true)\"\n  if [[ -n \"${PFPID:-}\" ]] && ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Killing port-forward PID $PFPID from $PID_FILE\"\n    kill \"$PFPID\" 2>/dev/null || true\n    sleep 2\n    if ps -p \"$PFPID\" >/dev/null 2>&1; then\n      echo \"Force killing port-forward PID $PFPID\"\n      kill -9 \"$PFPID\" 2>/dev/null || true\n    fi\n  else\n    echo \"Port-forward PID from $PID_FILE is not running\"\n  fi\n\n  rm -f \"$PID_FILE\"\ndone\n\noc logout || true\n"
        },
        "id": "a1f4d3e4-29e1-4dbc-ad9e-667687b43b75",
        "name": "OC Logout",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2512,
          448
        ]
      },
      {
        "parameters": {
          "workflowId": "17",
          "options": {}
        },
        "id": "6f6a5b19-349e-4d42-9fbf-dde1c8ec560f",
        "name": "Report Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          2320,
          816
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "tokenName",
                "value": "KLAB_Token"
              },
              {
                "name": "nameSpace",
                "value": "d8d909-test"
              }
            ]
          },
          "options": {}
        },
        "id": "c62a1227-48b1-45dd-8310-56491d16b470",
        "name": "Set Token Name",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          112,
          496
        ]
      },
      {
        "parameters": {
          "workflowId": "28",
          "options": {}
        },
        "id": "5a3de0de-bae4-4b37-8879-8ad1b8d8413d",
        "name": "Build Login Command",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          272,
          496
        ],
        "alwaysOutputData": true,
        "retryOnFail": false
      },
      {
        "parameters": {
          "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}"
        },
        "id": "c6079126-9112-4d5a-92d1-53483d2e2c0a",
        "name": "OC Login",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          432,
          496
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {},
        "id": "64850eac-8f91-4ec9-ad3d-ded3e897a3d3",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -224,
          576
        ]
      },
      {
        "parameters": {
          "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
          "height": 327.72692944534356,
          "width": 471.25
        },
        "id": "a05e1762-c974-463d-a73c-e117a8782934",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          96,
          400
        ]
      },
      {
        "parameters": {
          "content": "## Forward the DB port to localhost",
          "height": 324.1121722138173,
          "width": 252.5
        },
        "id": "4032c6bf-d2a1-42d2-b04f-6e4a262506f1",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1296,
          400
        ]
      },
      {
        "parameters": {
          "content": "## Run the Test Script",
          "height": 331.875,
          "width": 230.71192637418068
        },
        "id": "21621f7d-dfd2-499e-a4a5-a9aad71f8bf8",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1552,
          400
        ]
      },
      {
        "parameters": {
          "content": "## Check the result",
          "height": 331.875,
          "width": 233.75
        },
        "id": "397871be-02c0-453a-9cd0-a80bc47c699c",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1792,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TEMP TABLE lat_longs (\n  c1 bigint GENERATED ALWAYS AS IDENTITY,\n  c2 double precision\n) ON COMMIT DROP;\n\nINSERT INTO lat_longs(c2)\nSELECT random() * 100\nFROM generate_series(1, 10000);\n\nSELECT count(*) AS count FROM lat_longs;\n",
          "additionalFields": {}
        },
        "id": "dead79b0-2693-4840-918d-3e77f1207d64",
        "name": "Postgres Test",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 1,
        "position": [
          1616,
          480
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000,
        "credentials": {
          "postgres": {
            "id": "13",
            "name": "Patroni (Reference) Klab"
          }
        }
      },
      {
        "parameters": {
          "content": "## Close the Workflow",
          "height": 571.1994768028239,
          "width": 377.6614346949063
        },
        "id": "a3f3048c-d230-4657-a66f-866e407302e6",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2272,
          384
        ]
      },
      {
        "parameters": {
          "content": "## Report the Error",
          "height": 217.8125,
          "width": 361.0555345436212
        },
        "id": "ed4ce749-f030-4d15-bbf8-f90c7e9bcde8",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2064,
          752
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.count }}",
                "value2": "10000"
              }
            ]
          }
        },
        "id": "32d7c56a-c20f-4fb6-8030-75451e9a1193",
        "name": "Check",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1824,
          480
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "Patroni (Reference) Failed Post Update Test"
              },
              {
                "name": "fromAddress",
                "value": "no-reply@gov.bc.ca"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.crunchy_Notify }}"
              },
              {
                "name": "textMessage",
                "value": "Test 2"
              },
              {
                "name": "htmlMessage"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=Patroni (Reference) Failed Post Update Test"
              }
            ]
          },
          "options": {}
        },
        "id": "77db76ad-e978-41eb-89a9-ee93fc679bb4",
        "name": "Set Message Params for Error Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          2160,
          816
        ]
      },
      {
        "parameters": {
          "command": "=PODNAME=$(oc -n {{ $node[\"Set Token Name\"].json.nameSpace }} get pods -o name --selector role=master,cluster-name=put-test-patroni)\noc -n {{ $node[\"Set Token Name\"].json.nameSpace }} exec $PODNAME -- /usr/share/scripts/patroni/health_check.sh"
        },
        "id": "9d6b478f-8074-4b13-b0d6-db1b86e61be1",
        "name": "Check Readiness",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          656,
          496
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Grab the full JSON from Check Readiness\nconst result = $node[\"Check Readiness\"].json || {};\n\n// If the executeCommand node recorded an error, surface that cleanly\nif (result.error) {\n  return [\n    {\n      json: {\n        State: \"error\",\n        errorMessage: result.error.message || \"Unknown error in Check Readiness\",\n        stderr: result.stderr || \"\",\n        stdout: result.stdout || \"\",\n      },\n    },\n  ];\n}\n\n// No error object – now check stdout\nconst stdout = result.stdout;\n\nif (!stdout || typeof stdout !== \"string\") {\n  return [\n    {\n      json: {\n        State: \"error\",\n        errorMessage: \"Check Readiness produced no stdout JSON\",\n        stderr: result.stderr || \"\",\n        stdout: stdout,\n      },\n    },\n  ];\n}\n\n// Try to parse JSON from stdout\ntry {\n  const parsed = JSON.parse(stdout);\n  // Ensure we always provide State + debug fields\n  return [\n    {\n      json: {\n        ...parsed,\n        rawStdout: stdout,\n        stderr: result.stderr || \"\",\n      },\n    },\n  ];\n} catch (e) {\n  return [\n    {\n      json: {\n        State: \"error\",\n        errorMessage: \"Failed to parse JSON from Check Readiness\",\n        stderr: result.stderr || \"\",\n        stdout: stdout,\n        parseError: e.message,\n      },\n    },\n  ];\n}\n"
        },
        "id": "df5f49b1-33a2-4609-8af4-9aa6f19f7b86",
        "name": "Get Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          944,
          496
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.State }}",
                "value2": "running"
              }
            ]
          }
        },
        "id": "e659d6a1-fc61-4848-82d7-ce84f4d568b5",
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1088,
          496
        ]
      },
      {
        "parameters": {
          "content": "## Check Readiness",
          "height": 333.5588439233485,
          "width": 601.6563494279864
        },
        "id": "24812fe5-4a16-4e8c-b2b4-7e35f87fb96d",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          624,
          400
        ]
      },
      {
        "parameters": {
          "errorMessage": "=Error in {{ $workflow.name }}"
        },
        "id": "86f65743-b7c9-408e-a3b5-708b78ca575e",
        "name": "Stop and Error",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          2528,
          816
        ]
      },
      {
        "parameters": {
          "content": "## Test Patroni Reference Install\n\nFrom: https://github.com/bcgov/patroni-postgres-container",
          "width": 1397.880484114978
        },
        "id": "11d59e8d-fd88-4d7c-8ad1-fce12332cc3a",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          0
        ]
      },
      {
        "parameters": {
          "amount": 10,
          "unit": "seconds"
        },
        "id": "ff78503b-274e-4aea-9550-dac3132e607a",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          816,
          496
        ],
        "webhookId": "b94e5636-cc6d-4ea8-b048-16be8d0c53f1"
      }
    ],
    "connections": {
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Port Forward Patroni": {
        "main": [
          [
            {
              "node": "Postgres Test",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Logout": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Report Error": {
        "main": [
          [
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            },
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Token Name": {
        "main": [
          [
            {
              "node": "Build Login Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Login Command": {
        "main": [
          [
            {
              "node": "OC Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Login": {
        "main": [
          [
            {
              "node": "Check Readiness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Set Token Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Test": {
        "main": [
          [
            {
              "node": "Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check": {
        "main": [
          [
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params for Error Report": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Readiness": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Result": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF": {
        "main": [
          [
            {
              "node": "Set Port Forward Patroni",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params for Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version 3d601548",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "3d601548-4faf-4bf0-be49-7ce4b279e668",
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Port Forward Patroni": {
      "main": [
        [
          {
            "node": "Postgres Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Check Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Token Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Test": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params for Error Report": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Readiness": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set Port Forward Patroni",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params for Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-18T19:33:56.852Z",
  "id": "77",
  "isArchived": false,
  "meta": null,
  "name": "Test Patroni Klab",
  "nodes": [
    {
      "parameters": {},
      "id": "836b8e29-513e-4951-aef5-1c0583edbbb5",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\nset -euo pipefail\n\nNAMESPACE=\"{{ $node[\"Set Token Name\"].json.nameSpace }}\"\nLOCAL_PORT=15433\nPID_FILE=\"/tmp/patroni-portforward-15433.pid\"\nLEGACY_PID_FILE=\"/tmp/patroni-portforward.pid\"\nLOG_FILE=\"/tmp/patroni-portforward-15433.log\"\n\ncleanup_pid_file() {\n  local file=\"$1\"\n  if [[ ! -f \"$file\" ]]; then\n    return 0\n  fi\n\n  local old_pid\n  old_pid=\"$(cat \"$file\" 2>/dev/null || true)\"\n  if [[ -n \"${old_pid:-}\" ]] && ps -p \"$old_pid\" >/dev/null 2>&1; then\n    echo \"Killing existing port-forward PID $old_pid from $file\"\n    kill \"$old_pid\" 2>/dev/null || true\n    sleep 1\n    if ps -p \"$old_pid\" >/dev/null 2>&1; then\n      kill -9 \"$old_pid\" 2>/dev/null || true\n    fi\n  fi\n  rm -f \"$file\"\n}\n\ncleanup_pid_file \"$PID_FILE\"\ncleanup_pid_file \"$LEGACY_PID_FILE\"\n\nTARGET=\"svc/put-test-patroni-master\"\nREMOTE_PORT=5432\n\n: > \"$LOG_FILE\"\necho \"Starting port-forward to $TARGET in namespace $NAMESPACE on 15433 -> $REMOTE_PORT\"\noc -n \"$NAMESPACE\" port-forward \"$TARGET\" \"15433:$REMOTE_PORT\" > \"$LOG_FILE\" 2>&1 &\nPFPID=$!\necho \"$PFPID\" > \"$PID_FILE\"\n\nfor attempt in $(seq 1 20); do\n  if ! ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Port-forward process died before port 15433 was ready\" >&2\n    cat \"$LOG_FILE\" >&2 || true\n    exit 1\n  fi\n\n  if bash -c \": > /dev/tcp/127.0.0.1/15433\" >/dev/null 2>&1; then\n    echo \"Port-forward ready with PID $PFPID on port 15433\"\n    exit 0\n  fi\n\n  sleep 1\ndone\n\necho \"Port-forward did not become ready on port 15433\" >&2\ncat \"$LOG_FILE\" >&2 || true\nexit 1\n"
      },
      "id": "ed8377d8-dc21-4fd5-a34a-66bdbbcdb662",
      "name": "Set Port Forward Patroni",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {},
      "id": "d6e81a93-6304-4006-9bda-1423e623206b",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2704,
        448
      ]
    },
    {
      "parameters": {
        "command": "#!/usr/bin/env bash\nset -euo pipefail\n\nfor PID_FILE in \"/tmp/patroni-portforward-15433.pid\" \"/tmp/patroni-portforward.pid\"; do\n  if [[ ! -f \"$PID_FILE\" ]]; then\n    continue\n  fi\n\n  PFPID=\"$(cat \"$PID_FILE\" 2>/dev/null || true)\"\n  if [[ -n \"${PFPID:-}\" ]] && ps -p \"$PFPID\" >/dev/null 2>&1; then\n    echo \"Killing port-forward PID $PFPID from $PID_FILE\"\n    kill \"$PFPID\" 2>/dev/null || true\n    sleep 2\n    if ps -p \"$PFPID\" >/dev/null 2>&1; then\n      echo \"Force killing port-forward PID $PFPID\"\n      kill -9 \"$PFPID\" 2>/dev/null || true\n    fi\n  else\n    echo \"Port-forward PID from $PID_FILE is not running\"\n  fi\n\n  rm -f \"$PID_FILE\"\ndone\n\noc logout || true\n"
      },
      "id": "a1f4d3e4-29e1-4dbc-ad9e-667687b43b75",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2512,
        448
      ]
    },
    {
      "parameters": {
        "workflowId": "17",
        "options": {}
      },
      "id": "6f6a5b19-349e-4d42-9fbf-dde1c8ec560f",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2320,
        816
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "KLAB_Token"
            },
            {
              "name": "nameSpace",
              "value": "d8d909-test"
            }
          ]
        },
        "options": {}
      },
      "id": "c62a1227-48b1-45dd-8310-56491d16b470",
      "name": "Set Token Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        112,
        496
      ]
    },
    {
      "parameters": {
        "workflowId": "28",
        "options": {}
      },
      "id": "5a3de0de-bae4-4b37-8879-8ad1b8d8413d",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        272,
        496
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "command": "=oc logout\ntop -n 1 -b | grep oc | awk '{print \"kill -9 \"$1}' | sh\n{{ $json.ocLogin }}"
      },
      "id": "c6079126-9112-4d5a-92d1-53483d2e2c0a",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        432,
        496
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "id": "64850eac-8f91-4ec9-ad3d-ded3e897a3d3",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        576
      ]
    },
    {
      "parameters": {
        "content": "## Login to OpenShift\n\nSee [here](https://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/workflow/29) for instructions.",
        "height": 327.72692944534356,
        "width": 471.25
      },
      "id": "a05e1762-c974-463d-a73c-e117a8782934",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Forward the DB port to localhost",
        "height": 324.1121722138173,
        "width": 252.5
      },
      "id": "4032c6bf-d2a1-42d2-b04f-6e4a262506f1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1296,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Run the Test Script",
        "height": 331.875,
        "width": 230.71192637418068
      },
      "id": "21621f7d-dfd2-499e-a4a5-a9aad71f8bf8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Check the result",
        "height": 331.875,
        "width": 233.75
      },
      "id": "397871be-02c0-453a-9cd0-a80bc47c699c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TEMP TABLE lat_longs (\n  c1 bigint GENERATED ALWAYS AS IDENTITY,\n  c2 double precision\n) ON COMMIT DROP;\n\nINSERT INTO lat_longs(c2)\nSELECT random() * 100\nFROM generate_series(1, 10000);\n\nSELECT count(*) AS count FROM lat_longs;\n",
        "additionalFields": {}
      },
      "id": "dead79b0-2693-4840-918d-3e77f1207d64",
      "name": "Postgres Test",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1616,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "postgres": {
          "id": "13",
          "name": "Patroni (Reference) Klab"
        }
      }
    },
    {
      "parameters": {
        "content": "## Close the Workflow",
        "height": 571.1994768028239,
        "width": 377.6614346949063
      },
      "id": "a3f3048c-d230-4657-a66f-866e407302e6",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2272,
        384
      ]
    },
    {
      "parameters": {
        "content": "## Report the Error",
        "height": 217.8125,
        "width": 361.0555345436212
      },
      "id": "ed4ce749-f030-4d15-bbf8-f90c7e9bcde8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2064,
        752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "10000"
            }
          ]
        }
      },
      "id": "32d7c56a-c20f-4fb6-8030-75451e9a1193",
      "name": "Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1824,
        480
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "Patroni (Reference) Failed Post Update Test"
            },
            {
              "name": "fromAddress",
              "value": "no-reply@gov.bc.ca"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.crunchy_Notify }}"
            },
            {
              "name": "textMessage",
              "value": "Test 2"
            },
            {
              "name": "htmlMessage"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Patroni (Reference) Failed Post Update Test"
            }
          ]
        },
        "options": {}
      },
      "id": "77db76ad-e978-41eb-89a9-ee93fc679bb4",
      "name": "Set Message Params for Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2160,
        816
      ]
    },
    {
      "parameters": {
        "command": "=PODNAME=$(oc -n {{ $node[\"Set Token Name\"].json.nameSpace }} get pods -o name --selector role=master,cluster-name=put-test-patroni)\noc -n {{ $node[\"Set Token Name\"].json.nameSpace }} exec $PODNAME -- /usr/share/scripts/patroni/health_check.sh"
      },
      "id": "9d6b478f-8074-4b13-b0d6-db1b86e61be1",
      "name": "Check Readiness",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        656,
        496
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Grab the full JSON from Check Readiness\nconst result = $node[\"Check Readiness\"].json || {};\n\n// If the executeCommand node recorded an error, surface that cleanly\nif (result.error) {\n  return [\n    {\n      json: {\n        State: \"error\",\n        errorMessage: result.error.message || \"Unknown error in Check Readiness\",\n        stderr: result.stderr || \"\",\n        stdout: result.stdout || \"\",\n      },\n    },\n  ];\n}\n\n// No error object – now check stdout\nconst stdout = result.stdout;\n\nif (!stdout || typeof stdout !== \"string\") {\n  return [\n    {\n      json: {\n        State: \"error\",\n        errorMessage: \"Check Readiness produced no stdout JSON\",\n        stderr: result.stderr || \"\",\n        stdout: stdout,\n      },\n    },\n  ];\n}\n\n// Try to parse JSON from stdout\ntry {\n  const parsed = JSON.parse(stdout);\n  // Ensure we always provide State + debug fields\n  return [\n    {\n      json: {\n        ...parsed,\n        rawStdout: stdout,\n        stderr: result.stderr || \"\",\n      },\n    },\n  ];\n} catch (e) {\n  return [\n    {\n      json: {\n        State: \"error\",\n        errorMessage: \"Failed to parse JSON from Check Readiness\",\n        stderr: result.stderr || \"\",\n        stdout: stdout,\n        parseError: e.message,\n      },\n    },\n  ];\n}\n"
      },
      "id": "df5f49b1-33a2-4609-8af4-9aa6f19f7b86",
      "name": "Get Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        944,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.State }}",
              "value2": "running"
            }
          ]
        }
      },
      "id": "e659d6a1-fc61-4848-82d7-ce84f4d568b5",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1088,
        496
      ]
    },
    {
      "parameters": {
        "content": "## Check Readiness",
        "height": 333.5588439233485,
        "width": 601.6563494279864
      },
      "id": "24812fe5-4a16-4e8c-b2b4-7e35f87fb96d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        400
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Error in {{ $workflow.name }}"
      },
      "id": "86f65743-b7c9-408e-a3b5-708b78ca575e",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2528,
        816
      ]
    },
    {
      "parameters": {
        "content": "## Test Patroni Reference Install\n\nFrom: https://github.com/bcgov/patroni-postgres-container",
        "width": 1397.880484114978
      },
      "id": "11d59e8d-fd88-4d7c-8ad1-fce12332cc3a",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "ff78503b-274e-4aea-9550-dac3132e607a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        816,
        496
      ],
      "webhookId": "b94e5636-cc6d-4ea8-b048-16be8d0c53f1"
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "any",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2023-08-18T19:33:56.852Z",
      "createdAt": "2023-08-18T19:33:56.852Z",
      "role": "workflow:owner",
      "workflowId": "77",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T20:21:51.546Z",
  "versionId": "3d601548-4faf-4bf0-be49-7ce4b279e668"
}