framework/workflows/Test Status.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-29T06:21:51.700Z",
  "id": "46",
  "name": "Test Status",
  "nodes": [
    {
      "parameters": {
        "path": "54bc3c46-6ba0-40ba-bb7e-cb8b8d4b42fa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "608f84a1-76a9-4fe6-8b02-5bf7770e5d77",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        420,
        480
      ],
      "webhookId": "54bc3c46-6ba0-40ba-bb7e-cb8b8d4b42fa"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=[{ \"status\": \"OK\",\n\"info\": {{ JSON.parse( $json.info.id ) }}}]\n ",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "50ea399b-7838-41c0-85c2-8e3dec0f53c2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Test Status Report\n\nThis workflow will report the status of an individual workflow when called with the ID.\n\nhttps://n8n-bf5ef6-dev.apps.gold.devops.gov.bc.ca/webhook/54bc3c46-6ba0-40ba-bb7e-cb8b8d4b42fa?id=10 ",
        "height": 192,
        "width": 1018
      },
      "id": "578f2627-6373-4e36-a1c9-ea5fd2e95392",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select * from results where wf_id={{ $json.query.id }} order by created_on desc LIMIT 1; ",
        "additionalFields": {}
      },
      "id": "7de206c1-c295-4916-9fe5-d984764b34a0",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        640,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "26",
          "name": "Test Results"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-02-08T06:06:16.935Z",
      "updatedAt": "2023-02-08T06:06:16.935Z",
      "id": "1",
      "name": "PUT"
    },
    {
      "createdAt": "2023-02-25T02:07:50.772Z",
      "updatedAt": "2023-02-25T02:07:50.772Z",
      "id": "4",
      "name": "Common Component"
    },
    {
      "createdAt": "2023-03-10T05:47:25.149Z",
      "updatedAt": "2023-03-10T05:47:25.149Z",
      "id": "10",
      "name": "Utility"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-03-29T07:18:26.705Z",
  "versionId": "2a699395-f3fe-499f-a1ef-c80576f3d77b"
}