framework/workflows/Vault Check.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T20:22:24.305Z",
    "createdAt": "2026-06-23T20:22:22.612Z",
    "versionId": "f21aaf0b-972f-48f1-ac6b-bb5e53a8f0c0",
    "workflowId": "12",
    "nodes": [
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "serverUrl",
                "value": "https://api.clab.devops.gov.bc.ca:6443"
              },
              {
                "name": "nameSpace",
                "value": " dbfa0f-dev"
              },
              {
                "name": "eMail",
                "value": "roland.stens@gmail.com"
              }
            ]
          },
          "options": {
            "dotNotation": false
          }
        },
        "id": "c08455c5-82a7-4e11-8e10-bdfd64935b98",
        "name": "General Parameters",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          1232,
          128
        ]
      },
      {
        "parameters": {
          "command": "rm test.txt\noc logout"
        },
        "id": "15006f0d-d942-4fb5-9fc9-dc91da2820d4",
        "name": "OC Logout",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2352,
          288
        ]
      },
      {
        "parameters": {},
        "id": "efd4d15d-5a59-4ab8-8308-eddb864f7f76",
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2496,
          288
        ]
      },
      {
        "parameters": {
          "command": "=oc rsh $(oc get pods -o name --selector app=vault-test | head -n 1) \\\n  cat /vault/secrets/helloworld > /opt/app-root/src/.n8n-files/test.txt\n"
        },
        "id": "e50f205f-90cc-4c2a-8d4a-5bea2f534289",
        "name": "Vault health check",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1424,
          352
        ],
        "retryOnFail": true,
        "waitBetweenTries": 10000,
        "maxTries": 3
      },
      {
        "parameters": {
          "filePath": "/opt/app-root/src/.n8n-files/test.txt"
        },
        "id": "6f8c3fb4-1a1a-49f1-a215-1fb139589681",
        "name": "Read Binary File",
        "type": "n8n-nodes-base.readBinaryFile",
        "typeVersion": 1,
        "position": [
          1600,
          352
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.data }}",
                "operation": "contains",
                "value2": "world"
              }
            ]
          }
        },
        "id": "cee4cb37-b956-4716-a815-7423576b3d08",
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1776,
          544
        ]
      },
      {
        "parameters": {
          "setAllData": false,
          "sourceKey": "=data",
          "options": {}
        },
        "id": "57417398-11af-4e1b-8c58-3ff18e0e83ae",
        "name": "Move Binary Data",
        "type": "n8n-nodes-base.moveBinaryData",
        "typeVersion": 1,
        "position": [
          1776,
          352
        ]
      },
      {
        "parameters": {
          "content": "## Test if Vault Client Pod is working CLAB",
          "height": 390,
          "width": 532
        },
        "id": "b6080f5a-9d87-45c0-b1ef-6745c4556cde",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1392,
          304
        ]
      },
      {
        "parameters": {
          "url": "https://vault-lab.developer.gov.bc.ca/v1/sys/health",
          "options": {}
        },
        "id": "c836de16-1a31-4424-a1a5-d22485cf223a",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1424,
          128
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.initialized }}",
                "value2": "={{ true }}"
              }
            ]
          }
        },
        "id": "60829b41-7ec6-4805-a033-fd90cc96bb58",
        "name": "IF1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1584,
          128
        ]
      },
      {
        "parameters": {
          "content": "## Check Vault Server KLAB",
          "height": 206,
          "width": 700.0479072112973
        },
        "id": "f6cb8928-f34a-47af-a6de-d88bbc36af71",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1216,
          64
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "=# Vault Failure https://vault-lab.developer.gov.bc.ca/ \n* **initialized**: {{ $json.initialized.toString() }} \n* **sealed**: {{ $json.sealed.toString() }}  \n* **standby**: {{ $json.standby.toString() }} \n* **performance_standby**: {{ $json.performance_standby.toString() }}  \n* **replication_performance_mode**: {{ $json.replication_performance_mode }} \n* **replication_dr_mode**: {{ $json.replication_dr_mode }} \n* **server_time_utc**: {{ $json.server_time_utc }} \n* **version**: {{ $json.version }} \n* **cluster_name**: {{ $json.cluster_name }} \n* **cluster_id**: {{ $json.cluster_id }}\n\n@shelly.han"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.vault_Notify }}"
              },
              {
                "name": "=textMessage",
                "value": "="
              },
              {
                "name": "htmlMessage",
                "value": "=<h1 id=\"vault-failure-klab-https-vault-lab-developer-gov-bc-ca-\">Vault Failure <a href=\"https://vault-lab.developer.gov.bc.ca/\">KLAB</a></h1> <ul> <li><strong>initialized</strong>: {{ $json.initialized.toString() }} </li> <li><strong>sealed</strong>: {{ $json.sealed.toString() }}  </li> <li><strong>standby</strong>: {{ $json.standby.toString() }} </li> <li><strong>performance_standby</strong>: {{ $json.performance_standby.toString() }}  </li> <li><strong>replication_performance_mode</strong>: {{ $json.replication_performance_mode }} </li> <li><strong>replication_dr_mode</strong>: {{ $json.replication_dr_mode }} </li> <li><strong>server_time_utc</strong>: {{ $json.server_time_utc }} </li> <li><strong>version</strong>: {{ $json.version }} </li> <li><strong>cluster_name</strong>: {{ $json.cluster_name }} </li> <li><strong>cluster_id</strong>: {{ $json.cluster_id }}</li> </ul>"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=Vault Failure KLAB"
              },
              {
                "name": "from Address",
                "value": "no-reply@gov.bc.ca"
              }
            ]
          },
          "options": {}
        },
        "id": "43c6eb3c-4609-4858-9a33-ca5a037e9da7",
        "name": "Set Message Params1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          1984,
          144
        ]
      },
      {
        "parameters": {
          "workflowId": "17",
          "options": {}
        },
        "id": "47ef6950-0068-4ebd-a15e-b4a006f0107c",
        "name": "Report Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          2176,
          576
        ]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "rcChannel",
                "value": "={{ $vars.rc_group }}"
              },
              {
                "name": "rcMessage",
                "value": "=# Vault Client Failure CLAB dbfa0f-dev\n{{ $now }}\n* **stderr**:  {{ $json.stderr }}\n\n@shelly.han"
              },
              {
                "name": "toAddress",
                "value": "={{ $vars.vault_Notify }}"
              },
              {
                "name": "=textMessage",
                "value": "="
              },
              {
                "name": "htmlMessage",
                "value": "=<h1 id=\"vault-client-failure-clab-dbfa0f-dev\">Vault Client Failure CLAB dbfa0f-dev</h1>\n<ul>\n<li>{{ $now }}</li>\n<li><strong>stderr</strong>:  {{ $json.stderr }}</li>\n</ul>"
              },
              {
                "name": "ccAddress"
              },
              {
                "name": "bccAddress"
              },
              {
                "name": "subJect",
                "value": "=Vault Failure KLAB"
              },
              {
                "name": "from Address",
                "value": "no-reply@gov.bc.ca"
              }
            ]
          },
          "options": {}
        },
        "id": "b3e459d9-85e5-49b6-bb02-ea4eaf8fd7c5",
        "name": "Set Message Params",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          1984,
          576
        ]
      },
      {
        "parameters": {},
        "id": "89a10d8d-4bf8-42a0-8edb-400cb67e85b0",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          896,
          128
        ]
      },
      {
        "parameters": {
          "workflowId": "28",
          "options": {}
        },
        "id": "e9df5418-30ec-4c3d-9d13-20b7db86bf4a",
        "name": "Build Login Command",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1072,
          352
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "tokenName",
                "value": "CLAB_VAULT_Token"
              },
              {
                "name": "nameSpace",
                "value": "={{ $node[\"General Parameters\"].json.nameSpace }}"
              }
            ]
          },
          "options": {}
        },
        "id": "024b7073-d6db-41d6-8c4c-b182fb7c72cd",
        "name": "Set Token Name1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          912,
          352
        ]
      },
      {
        "parameters": {
          "command": "={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name1\"].json.nameSpace }}"
        },
        "id": "0fb043f2-ca96-4542-9866-8537a82b812d",
        "name": "OC Login",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1232,
          352
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000
      },
      {
        "parameters": {
          "content": "## Prepare the OC Login",
          "height": 210.2471003530007,
          "width": 489.09732728189647
        },
        "id": "0a50365d-841c-4403-a380-6ab563efd2eb",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          864,
          304
        ]
      },
      {
        "parameters": {
          "errorMessage": "=Error in {{ $workflow.name }}"
        },
        "id": "8101dffc-b26b-480f-9788-6d00062140de",
        "name": "Stop and Error",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          2384,
          576
        ]
      },
      {
        "parameters": {
          "height": 297.9122541603631,
          "width": 545.7589510842159
        },
        "id": "006f32cf-fca2-4035-ae73-8366e40d5f2e",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1952,
          480
        ]
      }
    ],
    "connections": {
      "General Parameters": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Logout": {
        "main": [
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vault health check": {
        "main": [
          [
            {
              "node": "Read Binary File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Binary File": {
        "main": [
          [
            {
              "node": "Move Binary Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF": {
        "main": [
          [
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Binary Data": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "IF1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF1": {
        "main": [
          [
            {
              "node": "Set Token Name1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message Params1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Report Error": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            },
            {
              "node": "OC Logout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "General Parameters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Login Command": {
        "main": [
          [
            {
              "node": "OC Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Token Name1": {
        "main": [
          [
            {
              "node": "Build Login Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OC Login": {
        "main": [
          [
            {
              "node": "Vault health check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message Params1": {
        "main": [
          [
            {
              "node": "Report Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Billy li",
    "name": "Version f21aaf0b",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "f21aaf0b-972f-48f1-ac6b-bb5e53a8f0c0",
  "connections": {
    "General Parameters": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vault health check": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Set Token Name1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name1": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Vault health check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params1": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-15T09:21:02.688Z",
  "id": "12",
  "isArchived": false,
  "meta": null,
  "name": "Vault Check",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "serverUrl",
              "value": "https://api.clab.devops.gov.bc.ca:6443"
            },
            {
              "name": "nameSpace",
              "value": " dbfa0f-dev"
            },
            {
              "name": "eMail",
              "value": "roland.stens@gmail.com"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "c08455c5-82a7-4e11-8e10-bdfd64935b98",
      "name": "General Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1232,
        128
      ]
    },
    {
      "parameters": {
        "command": "rm test.txt\noc logout"
      },
      "id": "15006f0d-d942-4fb5-9fc9-dc91da2820d4",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2352,
        288
      ]
    },
    {
      "parameters": {},
      "id": "efd4d15d-5a59-4ab8-8308-eddb864f7f76",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2496,
        288
      ]
    },
    {
      "parameters": {
        "command": "=oc rsh $(oc get pods -o name --selector app=vault-test | head -n 1) \\\n  cat /vault/secrets/helloworld > /opt/app-root/src/.n8n-files/test.txt\n"
      },
      "id": "e50f205f-90cc-4c2a-8d4a-5bea2f534289",
      "name": "Vault health check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1424,
        352
      ],
      "retryOnFail": true,
      "waitBetweenTries": 10000,
      "maxTries": 3
    },
    {
      "parameters": {
        "filePath": "/opt/app-root/src/.n8n-files/test.txt"
      },
      "id": "6f8c3fb4-1a1a-49f1-a215-1fb139589681",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1600,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "operation": "contains",
              "value2": "world"
            }
          ]
        }
      },
      "id": "cee4cb37-b956-4716-a815-7423576b3d08",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1776,
        544
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "sourceKey": "=data",
        "options": {}
      },
      "id": "57417398-11af-4e1b-8c58-3ff18e0e83ae",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1776,
        352
      ]
    },
    {
      "parameters": {
        "content": "## Test if Vault Client Pod is working CLAB",
        "height": 390,
        "width": 532
      },
      "id": "b6080f5a-9d87-45c0-b1ef-6745c4556cde",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://vault-lab.developer.gov.bc.ca/v1/sys/health",
        "options": {}
      },
      "id": "c836de16-1a31-4424-a1a5-d22485cf223a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1424,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.initialized }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "60829b41-7ec6-4805-a033-fd90cc96bb58",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1584,
        128
      ]
    },
    {
      "parameters": {
        "content": "## Check Vault Server KLAB",
        "height": 206,
        "width": 700.0479072112973
      },
      "id": "f6cb8928-f34a-47af-a6de-d88bbc36af71",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        64
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "=# Vault Failure https://vault-lab.developer.gov.bc.ca/ \n* **initialized**: {{ $json.initialized.toString() }} \n* **sealed**: {{ $json.sealed.toString() }}  \n* **standby**: {{ $json.standby.toString() }} \n* **performance_standby**: {{ $json.performance_standby.toString() }}  \n* **replication_performance_mode**: {{ $json.replication_performance_mode }} \n* **replication_dr_mode**: {{ $json.replication_dr_mode }} \n* **server_time_utc**: {{ $json.server_time_utc }} \n* **version**: {{ $json.version }} \n* **cluster_name**: {{ $json.cluster_name }} \n* **cluster_id**: {{ $json.cluster_id }}\n\n@shelly.han"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.vault_Notify }}"
            },
            {
              "name": "=textMessage",
              "value": "="
            },
            {
              "name": "htmlMessage",
              "value": "=<h1 id=\"vault-failure-klab-https-vault-lab-developer-gov-bc-ca-\">Vault Failure <a href=\"https://vault-lab.developer.gov.bc.ca/\">KLAB</a></h1> <ul> <li><strong>initialized</strong>: {{ $json.initialized.toString() }} </li> <li><strong>sealed</strong>: {{ $json.sealed.toString() }}  </li> <li><strong>standby</strong>: {{ $json.standby.toString() }} </li> <li><strong>performance_standby</strong>: {{ $json.performance_standby.toString() }}  </li> <li><strong>replication_performance_mode</strong>: {{ $json.replication_performance_mode }} </li> <li><strong>replication_dr_mode</strong>: {{ $json.replication_dr_mode }} </li> <li><strong>server_time_utc</strong>: {{ $json.server_time_utc }} </li> <li><strong>version</strong>: {{ $json.version }} </li> <li><strong>cluster_name</strong>: {{ $json.cluster_name }} </li> <li><strong>cluster_id</strong>: {{ $json.cluster_id }}</li> </ul>"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Vault Failure KLAB"
            },
            {
              "name": "from Address",
              "value": "no-reply@gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "43c6eb3c-4609-4858-9a33-ca5a037e9da7",
      "name": "Set Message Params1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1984,
        144
      ]
    },
    {
      "parameters": {
        "workflowId": "17",
        "options": {}
      },
      "id": "47ef6950-0068-4ebd-a15e-b4a006f0107c",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2176,
        576
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "={{ $vars.rc_group }}"
            },
            {
              "name": "rcMessage",
              "value": "=# Vault Client Failure CLAB dbfa0f-dev\n{{ $now }}\n* **stderr**:  {{ $json.stderr }}\n\n@shelly.han"
            },
            {
              "name": "toAddress",
              "value": "={{ $vars.vault_Notify }}"
            },
            {
              "name": "=textMessage",
              "value": "="
            },
            {
              "name": "htmlMessage",
              "value": "=<h1 id=\"vault-client-failure-clab-dbfa0f-dev\">Vault Client Failure CLAB dbfa0f-dev</h1>\n<ul>\n<li>{{ $now }}</li>\n<li><strong>stderr</strong>:  {{ $json.stderr }}</li>\n</ul>"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Vault Failure KLAB"
            },
            {
              "name": "from Address",
              "value": "no-reply@gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "b3e459d9-85e5-49b6-bb02-ea4eaf8fd7c5",
      "name": "Set Message Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1984,
        576
      ]
    },
    {
      "parameters": {},
      "id": "89a10d8d-4bf8-42a0-8edb-400cb67e85b0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        896,
        128
      ]
    },
    {
      "parameters": {
        "workflowId": "28",
        "options": {}
      },
      "id": "e9df5418-30ec-4c3d-9d13-20b7db86bf4a",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1072,
        352
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "CLAB_VAULT_Token"
            },
            {
              "name": "nameSpace",
              "value": "={{ $node[\"General Parameters\"].json.nameSpace }}"
            }
          ]
        },
        "options": {}
      },
      "id": "024b7073-d6db-41d6-8c4c-b182fb7c72cd",
      "name": "Set Token Name1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        912,
        352
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name1\"].json.nameSpace }}"
      },
      "id": "0fb043f2-ca96-4542-9866-8537a82b812d",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1232,
        352
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "content": "## Prepare the OC Login",
        "height": 210.2471003530007,
        "width": 489.09732728189647
      },
      "id": "0a50365d-841c-4403-a380-6ab563efd2eb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        304
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Error in {{ $workflow.name }}"
      },
      "id": "8101dffc-b26b-480f-9788-6d00062140de",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2384,
        576
      ]
    },
    {
      "parameters": {
        "height": 297.9122541603631,
        "width": 545.7589510842159
      },
      "id": "006f32cf-fca2-4035-ae73-8366e40d5f2e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        480
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "shared": [
    {
      "updatedAt": "2023-04-29T00:07:24.473Z",
      "createdAt": "2023-04-29T00:07:24.473Z",
      "role": "workflow:owner",
      "workflowId": "12",
      "projectId": "8TL7f7Zh5T94reb3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2023-04-28T17:06:56.029Z",
      "createdAt": "2023-04-28T17:06:56.029Z",
      "id": "4",
      "name": "Test"
    },
    {
      "updatedAt": "2023-04-28T17:02:25.792Z",
      "createdAt": "2023-04-28T17:02:25.792Z",
      "id": "3",
      "name": "PUT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T20:22:22.609Z",
  "versionId": "f21aaf0b-972f-48f1-ac6b-bb5e53a8f0c0"
}