framework/workflows/Vault Check.json
{
  "active": true,
  "connections": {
    "General Parameters": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Logout": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vault health check": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Set Token Name1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message Params1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "OC Logout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Command": {
      "main": [
        [
          {
            "node": "OC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Name1": {
      "main": [
        [
          {
            "node": "Build Login Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Login": {
      "main": [
        [
          {
            "node": "Vault health check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message Params1": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "General Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-15T09:21:02.688Z",
  "id": "12",
  "name": "Vault Check",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "serverUrl",
              "value": "https://api.clab.devops.gov.bc.ca:6443"
            },
            {
              "name": "nameSpace",
              "value": " dbfa0f-dev"
            },
            {
              "name": "eMail",
              "value": "roland.stens@gmail.com"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "6ceba2f4-c168-478f-ab84-b6e91bb488dd",
      "name": "General Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        160,
        -20
      ]
    },
    {
      "parameters": {
        "command": "oc logout"
      },
      "id": "81af0e70-55e5-4f81-b31e-ba8b799c530b",
      "name": "OC Logout",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1280,
        140
      ]
    },
    {
      "parameters": {},
      "id": "3cb41cec-6831-4e46-b9c9-9817f7b094d8",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        140
      ]
    },
    {
      "parameters": {
        "command": "=oc project {{ $node[\"General Parameters\"].json.nameSpace }}\noc scale deployment/vault-test --replicas=0\nsleep 20\noc scale deployment/vault-test --replicas=1\nsleep 20\noc rsh $(oc get pods -o name --selector app=vault-test) cat /vault/secrets/helloworld > test.txt\n "
      },
      "id": "a507c191-5696-4b29-acb5-56d1f7f1440f",
      "name": "Vault health check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        200
      ]
    },
    {
      "parameters": {
        "filePath": "/data/test.txt"
      },
      "id": "e9e73508-62ae-4560-a31a-d39c4356eda0",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "operation": "contains",
              "value2": "world"
            }
          ]
        }
      },
      "id": "bbdbe52e-f999-4486-8675-23bac1ac76c0",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "sourceKey": "=data",
        "options": {}
      },
      "id": "ab1424f8-d09b-4c55-a486-a63cbe0a4710",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Test if Vault Client Pod is working CLAB",
        "height": 390,
        "width": 532
      },
      "id": "24335933-3d33-4504-a6eb-366165104794",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        312,
        150
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "ec13c708-28d5-4120-8d9a-e7d9de49e8f9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        -60
      ]
    },
    {
      "parameters": {
        "url": "https://vault-lab.developer.gov.bc.ca/v1/sys/health",
        "options": {}
      },
      "id": "9cd5fd5b-6a6b-4849-84b8-87317f7b1280",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        340,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.initialized }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "86a3ad33-f80f-419a-817f-cb53c0dd9ff7",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        -20
      ]
    },
    {
      "parameters": {
        "content": "## Check Vault Server KLAB",
        "height": 206,
        "width": 700.0479072112973
      },
      "id": "939788fc-8518-47ab-9d7d-d5e55075e23e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        138.05345436207733,
        -80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#devops-post-update-testing"
            },
            {
              "name": "rcMessage",
              "value": "=# Vault Failure https://vault-lab.developer.gov.bc.ca/ \n* **initialized**: {{ $json.initialized.toString() }} \n* **sealed**: {{ $json.sealed.toString() }}  \n* **standby**: {{ $json.standby.toString() }} \n* **performance_standby**: {{ $json.performance_standby.toString() }}  \n* **replication_performance_mode**: {{ $json.replication_performance_mode }} \n* **replication_dr_mode**: {{ $json.replication_dr_mode }} \n* **server_time_utc**: {{ $json.server_time_utc }} \n* **version**: {{ $json.version }} \n* **cluster_name**: {{ $json.cluster_name }} \n* **cluster_id**: {{ $json.cluster_id }}\n\n@shelly.han"
            },
            {
              "name": "toAddress",
              "value": "shelly.han@gov.bc.ca,hsmcs@dxcas.com"
            },
            {
              "name": "=textMessage",
              "value": "="
            },
            {
              "name": "htmlMessage",
              "value": "=<h1 id=\"vault-failure-klab-https-vault-lab-developer-gov-bc-ca-\">Vault Failure <a href=\"https://vault-lab.developer.gov.bc.ca/\">KLAB</a></h1> <ul> <li><strong>initialized</strong>: {{ $json.initialized.toString() }} </li> <li><strong>sealed</strong>: {{ $json.sealed.toString() }}  </li> <li><strong>standby</strong>: {{ $json.standby.toString() }} </li> <li><strong>performance_standby</strong>: {{ $json.performance_standby.toString() }}  </li> <li><strong>replication_performance_mode</strong>: {{ $json.replication_performance_mode }} </li> <li><strong>replication_dr_mode</strong>: {{ $json.replication_dr_mode }} </li> <li><strong>server_time_utc</strong>: {{ $json.server_time_utc }} </li> <li><strong>version</strong>: {{ $json.version }} </li> <li><strong>cluster_name</strong>: {{ $json.cluster_name }} </li> <li><strong>cluster_id</strong>: {{ $json.cluster_id }}</li> </ul>"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Vault Failure KLAB"
            },
            {
              "name": "from Address",
              "value": "no-reply@gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "11934ffb-0384-4242-a813-47a01a6456a5",
      "name": "Set Message Params1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "17"
      },
      "id": "0f58a9cd-2b72-4559-ad4c-a65392f104d1",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "rcChannel",
              "value": "#devops-post-update-testing"
            },
            {
              "name": "rcMessage",
              "value": "=# Vault Client Failure CLAB dbfa0f-dev\n{{ $now }}\n* **stderr**:  {{ $json.stderr }}\n\n@shelly.han"
            },
            {
              "name": "toAddress",
              "value": "hsmcs@dxcas.com,shelly.han@gov.bc.ca"
            },
            {
              "name": "=textMessage",
              "value": "="
            },
            {
              "name": "htmlMessage",
              "value": "=<h1 id=\"vault-client-failure-clab-dbfa0f-dev\">Vault Client Failure CLAB dbfa0f-dev</h1>\n<ul>\n<li>{{ $now }}</li>\n<li><strong>stderr</strong>:  {{ $json.stderr }}</li>\n</ul>"
            },
            {
              "name": "ccAddress"
            },
            {
              "name": "bccAddress"
            },
            {
              "name": "subJect",
              "value": "=Vault Failure KLAB"
            },
            {
              "name": "from Address",
              "value": "no-reply@gov.bc.ca"
            }
          ]
        },
        "options": {}
      },
      "id": "142b6b3e-3570-48a0-9084-814f7bd7cf6c",
      "name": "Set Message Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {},
      "id": "7a9c1c7f-879d-45ae-b34d-47752cf9b32c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        -220
      ]
    },
    {
      "parameters": {
        "workflowId": "28"
      },
      "id": "abc8a8f2-657c-4cc3-9a59-d71832270745",
      "name": "Build Login Command",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tokenName",
              "value": "CLAB_VAULT_Token"
            },
            {
              "name": "nameSpace",
              "value": "={{ $node[\"General Parameters\"].json.nameSpace }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2e4fab5c-b2ae-4043-b982-a9206c9deac4",
      "name": "Set Token Name1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -160,
        200
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.ocLogin }}\noc project {{ $node[\"Set Token Name1\"].json.nameSpace }}"
      },
      "id": "dd6c74b9-d4c7-4b8c-b41c-4f2449b318f9",
      "name": "OC Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        160,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Prepare the OC Login",
        "height": 210.2471003530007,
        "width": 489.09732728189647
      },
      "id": "06d3e57d-da1e-4dc8-8331-96dc6b5eedd2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        153.58547655068077
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Error in {{ $workflow.name }}"
      },
      "id": "b3f53262-a103-458c-8fe1-a989bf57e661",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1300,
        420
      ]
    },
    {
      "parameters": {
        "path": "b39a695b-6434-477d-9823-ae91a36b2581",
        "options": {}
      },
      "id": "f5374549-7df6-4368-967d-ad89ff002637",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -280,
        -360
      ],
      "webhookId": "b39a695b-6434-477d-9823-ae91a36b2581"
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "41"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-02-25T02:07:35.632Z",
      "updatedAt": "2023-02-25T02:07:35.632Z",
      "id": "3",
      "name": "Test"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2023-03-30T03:55:59.291Z",
  "versionId": "87b94191-ea3b-4db1-a6e7-fd4c143d5485"
}